= remote_form_for(dataservice_console_content, :update => dom_id_for(dataservice_console_content)) do |f|
  = render :partial => "form", :locals => { :dataservice_console_content => dataservice_console_content, :f => f  }
