%div{'ng-controller' => 'CollaborationController as colCtrl'}
  .lightbox-hood{'class' => 'ng-hide', 'ng-show' => 'active'}
  .lightbox-wrapper{'class' => 'ng-hide', 'ng-show' => 'active'}
    .lightbox-content.collaboration-setup
      %i{:class => 'fa fa-times control close-btn', 'ng-click' => 'colCtrl.setActive(false)'}

      %form{:name => 'collaborator'}
        %ui-select{'ng-model'  => 'colCtrl.currentCollaborator',
                   'theme'     => 'select2'}
          %ui-select-match{'placeholder' => 'Select collaborator...'}
            {{$select.selected.name}}
          %ui-select-choices{'repeat' => 'collaborator in colCtrl.availableCollaborators | filter: {name: $select.search} | orderBy: "name"' }
            {{collaborator.name}}

        %button{'ng-disabled' => '!colCtrl.currentCollaborator', 'ng-click' => 'colCtrl.addCollaborator()'}
          Add

      .collaborators
        %h4{'ng-show' => 'colCtrl.collaborators.length == 0'} No collaborators added
        %h4{'ng-show' => 'colCtrl.collaborators.length > 0'} Collaborators:
        %ul
          %li{'ng-repeat' => 'collaborator in colCtrl.collaborators'}
            %i{:class => 'fa fa-trash-o control', 'ng-click' => 'colCtrl.removeCollaborator(collaborator)'}
            %span{:class => 'collaborator-name'}
              {{collaborator.name}}

      %button{:class => 'run-btn', 'ng-disabled' => '!colCtrl.readyToRun()', 'ng-click' => 'colCtrl.run()'}
        Run with Other Students
      %i{:class => 'fa fa-spinner fa-spin', 'ng-show' => 'colCtrl.runStarted'}
