= accordion_for(open_response, offering_details_open_response(offering, open_response)) do
  - learners.sort_by{|learner| [learner.last_name, learner.first_name]}.each do |l|
    - saveable = saveable_for_learner(open_response, l)
    - css_style = (saveable.answered? && saveable.answer) ? 'answered' : 'not_answered'
    %div{:id => dom_id_for(open_response, :saveable, :learner, l.id), :style => "clear: both; float: left; margin-top: 2px; padding: 2px; border: 1px solid black; width: 680px;", :class => css_style}
      %div{:class => css_style, :style => 'font-weight: bold; width: 200px; float: left;'}
        = h(l.name)
      %div{:class => css_style, :style => "width: 460px; float: left;"}
        = saveable.answer ? h(saveable.answer).gsub("\n", '<br/>') : 'not answered'