= accordion_for(open_response, offering_details_open_response(offering, open_response)) do
  - learners.sort_by{|learner| [learner.last_name, learner.first_name]}.each do |l|
    - saveable = open_response_saveable_for_learner(open_response, l)
    - css_style = (saveable && saveable.answered?) ? 'answered' : 'not_answered'
    %div{:id => dom_id_for(open_response, :saveable), :style => "clear: right;", :class => css_style}
      %item{:class => css_style}
        = l.name
      %item{:style => "float: right;", :class => css_style}
        = saveable ? saveable.answer : 'not answered'