= accordion_for(portal_clazz, "Investigations: #{portal_clazz.offerings.length}", 'offering_container') do
  .action_menu
    .action_menu_header_right
      - if portal_clazz.changeable?(current_user)
        .action= link_to 'assign investigations', edit_offerings_portal_clazz_path(portal_clazz)
  - portal_clazz.offerings.each do |offering|
    = render :partial =>'portal/offerings/show', :locals => {:offering => offering}

