
%h4 A test to make sure that you can save data.
.item
  .action_menu
    .action_menu_header
      .action_menu_header_right
        %ul.menu.quiet_list
          %li.menu
            =link_to @offering.runnable.name, data_test_portal_offerings_url(:format => :jnlp, :test=>true)
  .content
    click on the link above to test how data is saved from your web browser to our server.
    