<h1>Editing offering</h1>

<% form_for(@portaL_offering) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @offering %> |
<%= link_to 'Back', portal_offerings_path %>