- content_for(:otrunk_doc_id) do
  =@multiple_choice.uuid
- content_for(:multiple_choice_object_id) do
  =dom_id_for(@multiple_choice)
= render :partial => "show", :locals => { :multiple_choice => @multiple_choice }