= remote_form_for(biologica_chromosome_zoom, :update => dom_id_for(biologica_chromosome_zoom, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_chromosome_zoom => biologica_chromosome_zoom, :f => f  }