%div{:id => dom_id_for(biologica_chromosome_zoom, :details), :class => 'content'}
  = wrap_edit_link_around_content(biologica_chromosome_zoom, options={:complete => mce_init_string}) do
    = biologica_chromosome_zoom.description.html_safe
