= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_chromosome_zooms, :collection_class =>BiologicaChromosomeZoom}        
- @biologica_chromosome_zooms.each do |biologica_chromosome_zoom|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_chromosome_zoom}
