= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_chromosome_zooms, :collection_class => Embeddable::Biologica::ChromosomeZoom}        
- @biologica_chromosome_zooms.each do |chromosome_zoom|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => chromosome_zoom}
