= form_for(@biologica_chromosome_zoom, :before => "tinyMCE.triggerSave(true,true)") do |f|
  .item
    = render :partial => 'form', :locals => { :biologica_chromosome_zoom => @biologica_chromosome_zoom, :f => f }
