- content_for(:otrunk_doc_id) do
  =@biologica_chromosome_zoom.uuid
- content_for(:biologica_chromosome_zoom_object_id) do
  =dom_id_for(@biologica_chromosome_zoom)
= render :partial => "show", :locals => { :biologica_chromosome_zoom => @biologica_chromosome_zoom }