= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_organisms, :collection_class => Embeddable::Biologica::Organism}        
- @biologica_organisms.each do |organism|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => organism}
