!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @biologica_organism.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => h(@biologica_organism.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::Biologica::Organism.display_name + ': ' + @biologica_organism.name)
              %object{ :refid => ot_refid_for(@biologica_organism) }
      %library
        = content_for :layout