- content_for(:otrunk_doc_id) do
  =@biologica_organism.uuid
- content_for(:organism_object_id) do
  =dom_id_for(@biologica_organism)
= render :partial => "show", :locals => { :organism => @biologica_organism }