- remote_form_for(chromosome, :update => dom_id_for(chromosome, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :chromosome => chromosome, :f => f  }