%OTChromosome{ :local_id => ot_local_id_for(biologica_chromosome), :height => biologica_chromosome.height, :width => biologica_chromosome.width }
  %organism
    = render_scoped_reference(biologica_chromosome.organism)
