<h1>Editing assessment_target</h1>

<% form_for(@assessment_target) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @assessment_target %> |
<%= link_to 'Back', ri_gse_assessment_targets_path %>
