- options = { :hide_componenent_name => true }
%div{id: dom_id_for(portal_district), class: 'container_element'}
  .action_menu
    .action_menu_header_left
      %h3
        %a{href:portal_district_path(portal_district)}=portal_district.name

    .action_menu_header_right
      %ul.menu
        %li
          %a{href:edit_portal_district_path(portal_district)} edit
        %li
          %a{href:url_for(action: :destroy, id:portal_district.id), data: {method: 'delete', confirm: "Delete this district?"} } delete
  %div{:id => dom_id_for(portal_district, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_district, :details), :class => 'content'}
      %p.district_description= h(portal_district.description)
