= render :partial => 'shared/collection_menu', :locals => { :collection => @portal_districts, :collection_class => Portal::District }
= render :partial => 'show', :collection => @portal_districts, :as => :portal_district
