.content
  - field_set_tag 'model' do
    = f.collection_select(:diy_model_id, Diy::Model.find(:all, :conditions => "id = 1 OR publication_status != 'private'").sort{|a,b| a.name <=> b.name }, :id, :name_with_id)
