= edit_menu_for(embedded_model, f)
.content
  - field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(embedded_model, :item, :name_field)
  - field_set_tag 'url' do
    = f.text_field :url, :id => dom_id_for(embedded_model, :item, :url), :size => 80
