%div{:id => dom_id_for(diy_embedded_model, :details), :class => 'content'}
  - if diy_embedded_model.diy_model
    .model_image{:id => dom_id_for(diy_embedded_model, :model_image)}
      .error{:style => "color: red;"}= "This model can't run in the browser!"
      - if ! diy_embedded_model.diy_model.image_url.blank?
        =image_tag(diy_embedded_model.diy_model.image_url)
      - else
        (No Model Image)
    - if diy_embedded_model.can_run_lightweight?
      = render :partial => 'embeddable/diy/embedded_models/browser_based', :locals => { :diy_embedded_model => diy_embedded_model, :learner => local_assigns[:learner] }
  -else
    (No Model Selected)

