%div{:id => dom_id_for(diy_embedded_model, :details), :class => 'content'}
  - if diy_embedded_model.diy_model
    %b Model #{diy_embedded_model.diy_model.id}:
    = diy_embedded_model.name

    .model_image
      - if ! diy_embedded_model.diy_model.image_url.blank?
        =image_tag(diy_embedded_model.diy_model.image_url)
      - else
        (No Model Image)
  -else
    (No Model Selected)

