= render :partial => 'shared/collection_menu', :locals => { :collection => @embedded_models, :collection_class => Embeddable::NLogoModel }        
- @embedded_models.each do |embedded_model|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => embedded_model}
