%div.bookmark_item{ :id => bookmark_dom_item(bookmark), 'data-bookmark-id' => bookmark.id }
  = check_box_tag('is_visible', 'true', bookmark.is_visible, :class => 'visibility', :id => nil)
  %a.control.edit ✎
  / = delete_bookmark_button(bookmark)
  %a.link_text{:href => portal_visit_bookmark_path(bookmark), :target => "_blank"}= bookmark.name
  %div.edit{:style => "display: none;"}
    %table
      %tr
        %td Name:
        %td
          %input{:name => 'name', :type => 'text', :value=>bookmark.name}
      %tr
        %td Url:
        %td
          %input{:name => 'url', :type => 'text', :value=>bookmark.url}
      %tr.save_field
        %td
          %button.save Save
        %td
          = delete_bookmark_button(bookmark)
  %a.control.slide ☰
-if defined?(adding)
  :javascript
    if (window.bookmarksManager) {
      window.bookmarksManager.addBookmarks();
    }
