- remote_form_for(data_table, :update => dom_id_for(data_table, :item), :id=>dom_id_for(data_table, :form),:before =>pack_field_params()) do |f|
  = render :partial => "embeddable/data_tables/form", :locals => { :data_table => data_table, :f => f  }