- content_for(ot_dom_id_for(data_table, :element)) do
  = data_table_title(data_table)
  %object{ :refid => ot_refid_for(data_table) }/

%OTDataTable{ :local_id => ot_local_id_for(data_table), :name => h(data_table.name), :showLastRowForAddingNew => 'true', :visibleRows => data_table.visible_rows, :precision => data_table.precision, :width => data_table.width }
  %dataStore
    %OTDataStore{ :local_id => ot_local_id_for(data_table, :data_store), :numberChannels => data_table.column_count.to_s }
      %channelDescriptions
        - data_table.column_names.split(',').each do |column_name| 
          %OTDataChannelDescription{ :name => h(column_name), :numericData => (data_table.is_numeric? ? 'true' : 'false') }/
      %values
        - data_table.data.each do |datum|
          - if data_table.is_numeric?
            %float= h(datum)
          - else
            %string= h(datum)
