= render :partial => 'shared/collection_menu', :locals => { :collection => @data_tables, :collection_class => Embeddable::DataTable }        
- @data_tables.each do |data_table|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => data_table}