<h1>Listing big_ideas</h1>

<table>
  <tr>
  </tr>

<% for big_idea in @big_ideas %>
  <tr>
    <td><%= link_to 'Show', big_idea %></td>
    <td><%= link_to 'Edit', edit_ri_gse_big_idea_path(big_idea) %></td>
    <td><%= link_to 'Destroy', big_idea, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New big_idea', new_ri_gse_big_idea_path %>
