/ 
/ = render :partial => 'teacher_notes/gse_filter'

- remote_form_for(teacher_note, :update => dom_id_for(teacher_note, :item), :before =>  "tinyMCE.triggerSave(true,true)", :loaded => visual_effect(:toggle_blind, 'teacher_note',:duration => 0.25)) do |f|
  = render :partial => "teacher_notes/form", :locals => {:f => f, :teacher_note => teacher_note}