%h1 Listing teacher notes

%table
  - @teacher_notes.each do |teacher_note|
    %tr
      %td= link_to 'Show', teacher_note
      %td= link_to 'edit', edit_teacher_note_path(teacher_note) 
      %td= link_to 'Destroy', teacher_note, :confirm => 'Are you sure?', :method => :delete

= link_to 'Create new Facilitator Note', new_teacher_note_path