%h3= "Welcome, #{teacher.name}"

:markdown
  Easy steps to get started:

  1. Create your class or classes by clicking the Create a Class button to the left.
  2. Have your students register using the class word that you associated with each class.  Or, you can register students yourself.
  3. <a class='button' href='/lab'>Enter Geniverse</a>

  To see these steps in action, watch our 3 minute Getting Started Video (coming soon).

  **Questions**? Visit [Geniversity](http://geniverse.concord.org/geniversity/) where you can find lesson plans, teacher guides, ask questions and get answers.
