= title_tag "Login"
.errors
  .auth-error= "Something went wrong when authenticating you with Schoology."
  .auth-error= "Please try again, or log in using your Concord Portal username and password."
= render :partial => 'new'