- unless current_user.anonymous? 
  %h3 Classes and Offerings:
  = render :partial => 'portal/clazzes/list_for_student', :locals => { :portal_student => portal_student }

  %p
    %h3 Enter a new class word to join another class:
    = render :partial => 'portal/students/register', :locals => { :portal_student => portal_student }
