<h1>Editing student</h1>

<%= render :partial => 'form', :locals => {:portal_student => @portal_student, :clazz => @clazz}%>

<%= link_to 'Show', @portal_student %> |
<%= link_to 'Back', portal_students_path %>