- if @portal_clazz
  %h1="Adding a New Student to #{h(@portal_clazz.name)}"
- else
  %h1="New Student Info"
= render :partial => 'form', :locals => {:portal_student => @portal_student, :portal_clazz => @portal_clazz, :signup => false}
