<h1>Listing physical_units</h1>

<table>
  <tr>
  </tr>

<% @physical_units.each do |physical_unit| %>
  <tr>
    <td><%= link_to 'Show', physical_unit %></td>
    <td><%= link_to 'Edit', edit_probe_physical_unit_path(physical_unit) %></td>
    <td><%= link_to 'Destroy', physical_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New physical_unit', new_probe_physical_unit_path %>