%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title 
      = yield :title
    %script{:src => "/sparks-content/lib/data-service/RestDS-jQuery.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/http.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/jquery/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/jquery/jquery.json-2.2.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/jquery/jquery-ui-1.8.custom.min.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/jquery/plugins/jquery.url.packed.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/json2.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/lib/jquery/plugins/jquery.bgiframe.min.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/common/javascript/sparks-init.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/common/javascript/util/util.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/common/javascript/math.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/common/javascript/util/unit.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/common/javascript/activity.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/activity.js", :type => "text/javascript"}    
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/activity_log.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/assessment.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/feedback.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/grader.js", :type => "text/javascript"}
    %script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/log_parser.js", :type => "text/javascript"}
    %link{:href => "/sparks-content/common/stylesheets/sparks.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/sparks-content/lib/jquery/css/ui-lightness/jquery-ui-1.8.custom.css", :rel => "stylesheet", :type => "text/css"}/
    = yield :more_javascript
    
  %body
    = yield :layout
