<h1>Listing calibrations</h1>

<table>
  <tr>
  </tr>

<% @calibrations.each do |calibration| %>
  <tr>
    <td><%= link_to 'Show', calibration %></td>
    <td><%= link_to 'Edit', edit_probe_calibration_path(calibration) %></td>
    <td><%= link_to 'Destroy', calibration, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New calibration', new_probe_calibration_path %>