/* columns */

.cols {
  &:not(.no-collapse) {
    margin-left: 7%;
    margin-right: 7%;

    *[class*='col-'], *[class^=' col-'], .cols {
      float: none;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      &[class*='col-'] { /* for pesky ultra-specific cascades */
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

}

#primary {
  margin: 30px 0 0 0;
}
