.action_menu
  .action_menu_header

  = render :partial=> 'inner_pages/static_page_header', :locals=>{:page => page, :inner_page=>inner_page}
  = render :partial=> 'pages/show', :locals=>{:page => page, :inner_page=>inner_page}