%div{ :id => dom_id_for(@inner_page, :item), :class => 'item' }
  %div.action_menu
    Yes its wrong! 
    = link_to("add page", :action => "add_page")
  - @inner_page.sub_pages.each do |page|
    = render :partial=> 'shared/page_header', :locals=>{:page => page }
    .item_collection
      %ul#elements_container.menu
        - page.page_elements.each_with_index do |element,i|
          = render :partial => 'element_container', :locals => {:element => element, :component => element.embeddable, :page_element => element, :page => page }
      - if (page.changeable?(current_user))
        =sortable_element :elements_container,  :url=> {:action => 'sort_elements', :params => {:page_id => page.id }}, :handle=> "action_menu", :constraint => :vertical, :scroll => "window"
