.git*
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
config/database.yml
config/app_environment_variables.rb
docker/prod/local-test-compose.yml
docker-compose.yml
Dockerfile
Dockerfile-dev
README.md
solr/data
solr/pids
solr/production
solr/development
solr/test
solr/default
