*~
.DS_Store
docs/api
docs/app
rerun.txt
nbproject
mkmf.log
*.swp
*.swo
*.orig
docs/gource/*.mp4
docs/gource/*.webm
*.tmproj
.redcar
.idea
*.sublime-project
*.sublime-workspace
chromedriver.log
.floo
.powenv
solr
log
certs
.env
*.DS_Store
