[submodule "vendor/gems/haml"]
	path = vendor/gems/haml
	url = git://github.com/nex3/haml.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git://github.com/technoweenie/attachment_fu.git
