*~
log/*.log
tmp/restart.txt
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
db/*.sql
config/database.yml
config/initializers/site_keys.rb
config/mailer.yml
config/additional_users.yml
config/settings.yml
public/images/0*
nbproject
config/db_backup/
public/stylesheets/app.css
public/stylesheets/app_colors.css
public/stylesheets/app_fonts.css
public/stylesheets/app_links.css
public/stylesheets/app_metrics.css
public/stylesheets/ie.css
public/stylesheets/print.css
public/stylesheets/action_menu_tab.css
public/stylesheets/accordian.css
public/stylesheets/accordion.css
public/stylesheets/application.css
public/stylesheets/otml.css
public/stylesheets/otrunk-56-color.css
public/stylesheets/rites_otml.css
public/stylesheets/notes.css
public/stylesheets/screen.css
public/jnlp/*/*
config/jnlp_objects/*.yaml
config/maven_jnlp_object*.yaml
public/otrunk-examples/
public/stylesheets/data_table.css
public/blank.html
public/stylesheets/active_scaffold/DO_NOT_EDIT
public/stylesheets/active_scaffold/default/stylesheet-ie.css
public/stylesheets/active_scaffold/default/stylesheet.css