*~
*.css
log/*.log
tmp/**/*
.DS_Store
doc/api
doc/app
coverage
db/*.sqlite3
config/database.yml
config/initializers/site_keys.rb
config/mailer.yml
config/additional_users.yml
public/images/0*
public/stylesheets/app.css
nbproject
config/db_backup/

