<p>
  <b>Uuid:</b>
  <%=h @otml_category.uuid %>
</p>

<p>
  <b>Name:</b>
  <%=h @otml_category.name %>
</p>


<%= link_to 'Edit', edit_otml_category_path(@otml_category) %> |
<%= link_to 'Back', otml_categories_path %>