!light_blue = #ccffff
!blue = #0066cc
!dark_orange = #ff6600
!green = #AAF53D
!light_green = #7AB02C
!dark_green = #5A9800
!brown = #BEF56E
!dark_brown = #5A9800
!almost_white = #F2F8FC
!container_box_color = #CBE1F2
!container_box_hover_color = #BCD6EA
!teacher_only_color = #eedddd 
!selected_color = #ffffa0
!black = #000000
!almost_black = #101010

!content_text_color = !light_green

!dev_note_color =!brown
!legend_color = !brown
!dark_red = !brown
!very_dark = !black

!text_input_color = !almost_white 
!input_border_color = !black
!input_color = !black
!input_focus_color = !almost_white


=delete_links
  a.delete:link 
    :color = !dark_red
  a.delete:active 
    :color = !dark_red
  a.delete:visited 
    :color = !dark_red
  a.delete:hover 
    :color white
    :background-color = !dark_red
    
=color_mixer(!fg,!bg,!link)
  :color = !fg
  :background-color = !bg
  .selected
    :color = !bg !important
    :background-color = !fg !important
  a
    :font-weight bold
    :padding 0px
    :background-color transparent
    :color = !link

  a:hover
    :color= !bg
    :background-color = !link
        


=left_nav_colors
  +color_mixer(!dark_brown,white,!dark_brown)
  a
    :text-decoration none
  +delete_links

=content_area_colors
  +color_mixer(!black,white,!dark_brown)
  +delete_links

=top_nav_colors
  +color_mixer(!light_green,!dark_brown,!almost_white)
  +delete_links
  
=bottom_nav_colors
  +color_mixer(!black,!dark_brown,!almost_black)
  +delete_links
