- content_for :top_menu_items do
  - content_for(:authored_investigations) do
    - if current_user.activities.size > 0
      %h3 activities you have authored
      #offering_list.item_collection
        = render :partial => 'activities/runnable_list', :locals => {:activities => current_user.activities}
  
