%p
  %strong
    ITSI-SU: The ITSI Scale Up
%p 
  The Concord Consortium is proud to announce the Innovative Technology in
  Science Inquiry Scale Up (ITSI -SU) project! This comprehensive
  information technologies (IT) project for upper elementary, middle and high
  school teachers prepares diverse students for careers in IT by engaging them
  in exciting, inquiry-based science projects that use computational models and
  real-time data acquisition. The project targets Alaska, Iowa, Kansas, and
  Virginia with certified teacher trainers to support classroom implementation.
  Teachers will use, customize, and create unit activities that are peer
  reviewed with other teachers online. ITSI uses powerful tools that students
  can use to explore real and virtual environments. But these tools are embedded
  in a tutorial environment that structures the learning, presents motivational
  and background material, and provides student assessment and progress
  monitoring. The skills students will learn will greatly enhance their ability
  to undertake investigations while giving a solid foundation for IT-based
  careers in programming, computer hardware, and software engineering.

%p
  NSF grant is issued by NSF 09-506 - Innovative Technology Experiences for
  Students and Teachers (ITEST) (Project number DRL-0929540.)