%p
  %strong
    Innovative Technology in Science Inquiry
%p 
  The Innovative Technology in Science Inquiry project engages students in STEM 
  activities through the integrated use of technologies that include modeling, 
  computational thinking, and real-time data acquisition. This comprehensive 
  project will assist facilitators in preparing diverse students for STEM careers by 
  engaging them in exciting, inquiry-based science projects.

%p
  NSF grant is issued by NSF 09-506 - Innovative Technology Experiences for
  Students and Facilitators (ITEST) (Project number DRL-0929540.)