- remote_form_for(author_note, :update => dom_id_for(author_note, :item), :before =>  "tinyMCE.triggerSave(true,true)", :loaded => visual_effect(:toggle_blind, 'author_note',:duration => 0.25)) do |f|
  = render :partial => "author_notes/form", :locals => {:f => f, :author_note => author_note}