.attached_file
	%p
		= label_tag "portal_resource_page[new_attached_files][][name]", "Name"
		%br/
		= text_field_tag "portal_resource_page[new_attached_files][][name]"

	%p
		= label_tag "portal_resource_page[new_attached_files][][attachment]", "File"
		%br/
		= file_field_tag "portal_resource_page[new_attached_files][][attachment]"