@import '../../../shared/styles/variables/_colors.scss';
@import '../../../shared/styles/mixins/_mixins.scss';
@import '../../../shared/styles/variables/_variables.scss';

.autoSuggest {
  margin-top: 2px;
  padding: 0 10px;
  position: relative;

  #keywordSubmit {
    background: $col-orange;
    color: $white;
    margin-left: 5px;
    padding: 6.5px 5px 5.5px;
    width: 40px;
  }
  .suggestions {
    position: absolute;
    cursor: pointer;
    margin-top: 1px;
    z-index: 1;
    border: 1px solid #aaa;

    .suggestion {
      background-color: #fff;
      font-size: 16px;
      font-weight: 300;
      padding: 5px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .suggestion:hover {
      background-color: #e3e3e3;
    }
  }
}
