%OTBreedOffspring{ :local_id => ot_local_id_for( biologica_breed_offspring), :width => biologica_breed_offspring.width, :height => biologica_breed_offspring.height }
  %fatherOrganism
    - if in_render_scope?(biologica_breed_offspring.father_organism)
      %object{ :refid => ot_refid_for(biologica_breed_offspring.father_organism) }
    - else
      = render_show_partial_for(biologica_breed_offspring.father_organism)
  %motherOrganism
    - if in_render_scope?(biologica_breed_offspring.mother_organism)
      %object{ :refid => ot_refid_for(biologica_breed_offspring.mother_organism) }
    - else
      = render_show_partial_for(biologica_breed_offspring.mother_organism)
