= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_breed_offsprings, :collection_class =>BiologicaBreedOffspring}        
- @biologica_breed_offsprings.each do |biologica_breed_offspring|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_breed_offspring}
