.concord-logo {
  height: 70px;
  width: 195px;
}
.logo-contain:after {
  font-size: 14px;
  left: 58px;
}
.theme-learn .concord-logo {
  height: 95px;

  .concord-logo__linktext {
    font-size: 18px;
    letter-spacing: 0.0375em;
  }
}

.mobile-nav-contain {
  margin-top: 48px;
}

.portal-pages-umbrella-contain.cols {
  margin-left: 4%;
  margin-right: 4%;
}

.portal-pages-concord-link {
  text-align: center;
}
