= edit_menu_for(raw_otml, f)
.content
  - field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(raw_otml, :item, :name_field)
  - field_set_tag 'description' do
    = f.text_area :description, :id => dom_id_for(raw_otml, :item, :textarea),:rows => 40, :class => 'tinymce_textarea'
