- @otrunk_imports ||= []
- @otrunk_imports = @otrunk_imports + raw_otml.otrunk_imports

- @otrunk_view_entries ||= []
- @otrunk_view_entries = @otrunk_view_entries + raw_otml.otrunk_view_entries

- @otrunk_edit_view_entries ||= []
- @otrunk_edit_view_entries = @otrunk_edit_view_entries + raw_otml.otrunk_edit_view_entries

= raw_otml.otml_content