- form_for(@raw_otml) do |f|
  .item
    = render :partial => 'form', :locals => { :raw_otml => @raw_otml, :f => f }
  .content
    = "<p>Edit the content link to a jnlp here.<br/><pre>#{@raw_otml.otml_content}</pre></p>"