.researcherClassesForm {
  input[type="submit"] {
    margin: 10px 10px 0 0;
  }

  input[type="checkbox"] {
    margin: 15px 10px 0 0;
  }

  .bottom {
    // Reserver at least 350px for the pulldown menu of the filters.
    min-height: 350px;

    .summary {
      margin-top: 10px;
      font-weight: bold;

      button {
        margin-top: 10px;
      }
    }

    .researcherClassesTable {
      hr {
        background-color: #444;
      }

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .resultsLabel {
          font-weight: bold;
        }
      }



      table {
        width: 100%;
        border: 1px solid #444;

        th, td {
          padding: 0 5px;
        }

        th {
          $bgColor: #cdcdcd;
          background-color: $bgColor;

          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            .sortIcon {
              font-size: 0.85em;
              position: relative;

              &.desc {
                margin-top: -7px;
                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 50%;
                  background: $bgColor;
                }
              }

              &.asc {
                margin-top: 7px;
                &::after {
                  content: "";
                  position: absolute;
                  top: 50%;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  background: $bgColor;
                  }
              }
            }
          }
        }
        tr:nth-child(even) {
          background-color: #efefef;
        }
        tr:nth-child(odd) {
          background-color: #fff;
        }
        td {
          text-align: left;
        }
        td + td, th + th {
          border-left: 1px solid #444;
        }

        .linkCell {
          white-space: nowrap;
        }
      }
    }
  }
}
