<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Confirm Account</title>
</head>
<body>
<table width="100%" style="margin:0;padding:0;">
<tr><td align="left" valign="middle" style="background:#bddfdf;padding:16px;">
<img src="https://learn.concord.org/assets/banners/learn-aa43865ea93b51f353fe57a1aa05d624.png" alt="The Concord Consortium" width="124" height="50" style="margin:0;padding:0;" />
</td></tr>
<tr><td align="left" style="background:#ffffff;padding:16px;">
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">Welcome, <%= @user.first_name %>!</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 20px;font-weight:bold;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">Thanks for creating an account on the Learn Portal.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">To complete your registration, click the button below.</p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;"><%= link_to 'Confirm Account', confirmation_url(@user, :confirmation_token => @user.confirmation_token), :style=>'background:#75a643; border:none; border-radius:4px; color:#ffffff; display:inline-block; margin:0; padding:8px 17px; text-decoration:none;' %></p>
<p style="font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Verdana,Arial,sans-serif;font-size: 12px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">The Concord Consortium<br />
25 Love Lane<br />
Concord, MA 01742</p>
</td></tr>
</table>
</body>
</html>
