<h1>Editing nces06_school</h1>

<% form_for(@nces06_school) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nces06_school %> |
<%= link_to 'Back', portal_nces06_schools_path %>