.portal-pages-finder-result-image-preview {
  img {
    height: auto;
    min-height: 100%;
    width: 100%;
  }
}

.portal-pages-collections-card {
  .portal-pages-collections-card-image-preview {
    img {
      height: auto;
      min-height: 100%;
      width: 100%;
    }
  }
}
