- if @form_model.available_projects.size > 0
  .filterheader
    Projects
  - puts  @form_model.available_projects
  - @form_model.available_projects.sort_by { |p| p[:name].downcase }.each do |project|
    .tablecell
      = check_box_tag 'project_ids[]', project[:id], @form_model.project_ids.include?(project[:id].to_s), id: "project_#{project[:id]}", class: 'check-box-left-margin'
      = label_tag "project_#{project[:id]}", project[:name]
  %br