-investigations.sort! { |a,b| a.name <=> b.name }
-investigations.uniq!{|x| x.name}
-activities.sort! { |a,b| a.name <=> b.name }
-activities.uniq!{|x| x.name}
-if textlength>0 && @suggestions.length>0
  #suggestions
    -unless investigations.nil?
      - if investigations.length > 0
        - investigations.take(3).each do |investigation|
          %a.suggestion_link{:onclick=>'select_suggestion(this)'}
            .suggestion
              = investigation.name
    -unless activities.nil?
      - if activities.length > 0
        - activities.take(3).each do |activity|
          %a.suggestion_link{:onclick=>'select_suggestion(this)'}
            .suggestion
              = activity.name
-else
  %div
