%h1
  Search Results

%br
-unless @investigations.nil?
  - if @investigations.length>0  
    = render :partial=>'search/result_material',:locals=>{:materials=>@investigations,:type=>'Investigations'}
-unless @activities.nil?
  - if @activities.length>0  
    = render :partial=>'search/result_material',:locals=>{:materials=>@activities,:type=>'Activities'}
%br
#data