-@suggestions.sort! { |a,b| a.name <=> b.name }
-@suggestions.uniq!{|x| x.name}
-if textlength>0
 
  -unless @suggestions.nil?
    - if @suggestions.length > 0
      #suggestions
        - @suggestions.take(10).each do |suggestion|
          %a.suggestion_link{:onclick=>'select_suggestion(this)'}
            .suggestion
              = suggestion.name
-else
  %div
