%div{:id => dom_id_for(drawing_tool, :details), :class => 'content'}
  = wrap_edit_link_around_content(drawing_tool, options={:complete => mce_init_string}) do
    %div{:id =>dom_id_for(drawing_tool, :pallet), :style => dt_pallet_style}
      %div{:id =>dom_id_for(drawing_tool, :canvas), :style => dt_canvas_style(drawing_tool)}