= render :partial => 'shared/collection_menu', :locals => { :collection => @drawing_tools, :collection_class => DrawingTool }        

- @drawing_tools.each do |drawing_tool|
  %div{ :id => dom_id_for(drawing_tool, :item), :class => 'item' }
    = render :partial => "show", :locals => { :drawing_tool => drawing_tool }