%tr.student
  %td.name=student.name
  %td.name=link_to(student.login, edit_user_path(student.id))
  %td.permissions
    %form.permission{:id => "student_perms_#{student.id}_form"}
      - Portal::PermissionForm.all.each do |perm|
        - checked = student.perms.include? perm
        - if student.perms.include? perm
          %input.permission_checkbox{'type'=>'checkbox',
            'id'      => "student_perms_#{student.id}",
            'value'   => perm.id,
            'checked' => true}
        - else
          %input.permission_checkbox{'type'=>'checkbox',
            'id'     => "student_perms_#{student.id}",
            'value'  => perm.id}
        %label{'for'=>"perm_#{perm.id}_checkbox"}=perm.name
