<h1>New knowledge_statement</h1>

<% form_for(@knowledge_statement) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ri_gse_knowledge_statements_path %>
