= remote_form_for(biologica_pedigree, :update => dom_id_for(biologica_pedigree, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_pedigree => biologica_pedigree, :f => f  }