- content_for(:otrunk_doc_id) do
  =@biologica_pedigree.uuid
- content_for(:pedigree_object_id) do
  =dom_id_for(@biologica_pedigree)
= render :partial => "show", :locals => { :pedigree => @biologica_pedigree }