.item
  = edit_menu_for(admin_cohort, f, { :omit_cancel => true })
  = error_messages_for :admin_cohort
  .content
    %p
      %ul.menu_v
        %li
          Name:
          =f.text_field :name

        %li
          Project:
          =f.collection_select(:project_id, projects, :id, :name)

        %li
          Enable email notifications:
          =f.check_box :email_notifications_enabled
