= render :partial => 'shared/collection_menu', :locals => { :collection => @admin_cohorts, :collection_class => Admin::Cohort }
= render :partial => 'show', :collection => @admin_cohorts, :as => :admin_cohort
