/ TODO: possible refactoring to make more clazzes specific.
/ Clazz navigation: top_node could be course, teacher, student ...

#clazzes_nav
  = javascript_include_tag "clazzes_nav"
  %br
  .padded_content
    = render :partial => 'portal/clazzes/clazzes_list', :locals => {:top_node => top_node, :selects => selects}
    - if top_node.is_a? Portal::Teacher
      %ul.create{:id=>dom_id_for(top_node, :nav_list_create_class)}
        .create_link
          = link_to 'Create a Class', new_portal_clazz_path, :class=>"button pie", :id=>"btn_create_class"
          &nbsp;
          = link_to 'Manage Classes', manage_portal_clazzes_url, :class=>"button pie", :id=>"btn_manage_classes"
          
