%table.student_list
  %tr
    %th
      %div.progressbar_container
        INVESTIGATION
  %tr
    %th
      %div.progressbar_container 
        ACTIVITY
  - students.each do |student|
    - student_name = student.user.last_name + ", " + student.user.first_name
    %tr
      %td.student_name{:title=>"#{student_name}"}
        %div.progressbar_container
          = student_name.truncate(21)