- learner = learners.find_by_student_id(student.id) 
%tr
  - investigation.activities.each do |activity|
    %td
      - percentage = 0
      - if !learner.nil?
        - report_learner_activities = learner.learner_activities
        - if !report_learner_activities.find_by_activity_id(activity.id).nil?
          - percentage = report_learner_activities.find_by_activity_id(activity.id).complete_percent
      %div.progressbar_container
        .progressbar
          .progress{:style=>"width:#{percentage}%"}