- learners = offering.learners;
- students = offering.clazz.students;
- if investigation.activities.length > 0
  - if students.length > 0
    - students = students.sort{|a,b| a.user.full_name.downcase<=>b.user.full_name.downcase}
    .student_div.floatL
      = render :partial => 'investigation_student_report_learner_list', :locals=> {:students=>students}
    .progress_div.floatL.webkit_scrollbars
      %table.reportsummary{:cellspacing=>"0", :cellpadding=>"0", :border=>"0"}
        = render :partial => 'investigation_student_report_summary_header',:locals=> {:offering=>offering}
        = render :partial => 'investigation_student_report_summary',:collection => students, :as => :student,:locals=> {:investigation => investigation,:learners=>learners, :offering=>offering}
    .clearboth{:style=>"height:10px"}
  - else
    %div.item No students have registered for this class yet.
- else
  %div.item No activities available in this investigation.