%tr
  %td
    =learner.last_name + ", " + learner.first_name
  - investigation.activities.each do |activity|
    %td
      -learner_report = learner.report_learner
      -percentage = 0
      - if !learner_report.nil?
        - percentage = learner_report.num_answered*100/learner_report.num_answerables
      .progressbar
        .progress{:style=>"width:#{percentage}px"}