%tr
  - investigation.activities.student_only.each do |activity|
    %td
      - percentage = student_status.activity_complete_percent(activity)
      %div.progressbar_container
        .progressbar
          - if percentage == 100
            .progress.completed{:style=>"width:#{percentage}%"}
          - else
            .progress{:style=>"width:#{percentage}%"}