- runnable = current_offering.runnable # note this assumes the runnable is a Investigation

%div.clearboth{:id=>"material_tab_#{current_offering.id}_data", :style=>"display:none"}
  %br
    - if runnable.is_a? Investigation
      = render :partial => 'material_details_investigation',
           :locals => { :investigation => runnable, :current_offering => current_offering }
    - else
      - if current_offering.reportable?
        %div.right
          %span.linkbutton.pie
            = report_link_for(current_offering, 'report', 'Run Report')
  