%table{:style=>"margin:1em 0"}
  %tr
    %td
      %span.legend_completed
        &nbsp;&nbsp;
      %span
        &nbsp;Completed
    %td
      &nbsp;&nbsp;
    %td
      %span.legend_progress
        &nbsp;&nbsp;
      %span
        &nbsp;In Progress
    %td
      &nbsp;&nbsp;
    %td
      %span.legend_not_started
        &nbsp;&nbsp;
      %span
        &nbsp;Not Yet Started
