= javascript_include_tag "instructional_materials.js"
- clazz_offerings = @report_learner.find_by_runnable_id("last_run > ?", 7.days.ago);
%div
  %div  
    .right
      %h2 
        = report_learner.length    
        #- = clazz_offerings[0].name   
      %a{:onclick=>"showHideRecentActivityDetails('1',this)", :href=>"javascript: void(0);"}Show details
      %table.number_of_activities{:border=>0,:cellpadding=>0,:cellspacing=>0,:style=>"width:100%;"}
        %tr
          %td
            Investigation Description
          %td
        %tr.legend_row
          %td
            #LeftMost.legend_progress
          %td
            #Middle.legend_completed
          %td
            #RightMost.legend_not_started
        %tr
          %td{:style=>"text-align:right;"}
            2
          %td
            6
          %td
            8
        %tr.legend_data
          %td#DivHideShowDetail{:colspan=>3,:style=>"float:left;font-size:16px;font-weight:bold;height:300px"}
            = render :partial => 'recent_details',:collection => clazz_offerings, :as => :current_offering
  
