
- options = { :omit_delete => true }
%div.item_collection{ :id => dom_id_for(portal_clazz)}
  %div{:id => dom_id_for(portal_clazz, :item), :class => 'item'}
    .action_menu
      .action_menu_header_left
        = portal_clazz.name
      .action_menu_header_right
        = portal_clazz.teacher ? portal_clazz.teacher.name : "(no teacher)"
    = render :partial => 'shared/offering_for_student', :collection => portal_clazz.offerings, :as => :offering
