%h1 ITSI-SU Portal — Student Preview
%p
  %em This is a preview of how your students will see the activities when they sign in.
- if @portal_clazz.semester
  %h2{:style => "margin-top: 1.5em;"} #{@portal_clazz.semester.name} - #{@portal_clazz.name}
- else
  %h2{:style => "margin-top: 1.5em;"} #{@portal_clazz.name}
- offerings = @portal_clazz.offerings_by_unit
- offerings.keys.each do |unit_name|
  %h2=unit_name
  - offerings[unit_name].each do |offering|
    = render :partial => "shared/offering_for_student", :locals => {:offering => offering}

