= edit_menu_for(investigation, f)
- field_set_tag 'name' do
  = f.text_field :name

- field_set_tag 'description' do
  = f.text_area :description, :id => 'description_field', :rows => 4, :cols => 80, :class => 'mceNoEditor'


= javascript_tag("$('investigation_name').activate();")
