%form#gse_selector
  - field_set_tag ' filter ' do
    %span{:style=>"white-space: nowrap;"}
      grade span:
      %select#gradespan{:name=>'gradespan'}
        %option{:value=>"%"}= "all grades"
        - grade_spans.each do |gs|
          %option{:value=>gs}= gs
    %span{:style=>"white-space: nowrap;"}      
      domain:
      %select#domain{:name=>'domain'}
        - domains.each do |domain|
          %option{:value=>domain.id}= domain.name
