- remote_form_for(investigation, :update => dom_id_for(investigation, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(investigation, f)
  - field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(investigation, :modal, :name_field)
  - field_set_tag 'description' do
    = f.text_area :description, :id => dom_id_for(investigation, :modal, :textarea), :class => 'tinymce_textarea'
