- remote_form_for(investigation, :update => dom_id_for(investigation, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(investigation, f)
  - field_set_tag 'name' do
    = f.text_field :name
  - field_set_tag 'description' do
    = f.text_area :description, :id => 'description_field', :class => 'tinymce_textarea'

= javascript_tag("$('investigation_name').activate();")
