= render :partial => 'investigations/runnable_list', :locals => {:investigations => investigations, :paginated_objects => investigations}
= render :partial => 'resource_pages/runnable_list', :locals => {:resource_pages => resource_pages, :paginated_objects => resource_pages}