/ required locals: investigations
- paginated_objects ||= nil
.action_menu
  .action_menu_header
    .action_menu_header_left
      - if paginated_objects
        %p= page_entries_info paginated_objects
        %p.paginator
          = will_paginate paginated_objects
    .action_menu_header_right
      %ul.menu
        -unless current_user.anonymous?
          %li= link_to 'create investigation', new_investigation_path


- for runnable in runnables
  = render :partial => "shared/runnable", :locals => {:runnable => runnable}

