%li{:id => dom_id_for(section, :container), :class => 'menu' }
  %div{ :id => dom_id_for(section, :item), :class => 'item' }
    %div.action_menu
      %div.action_menu_left   
        %ul.menu
          %li
            =link_to name_for_component(section), section
      %div.action_menu_right   
        %ul.menu
          %li.menu=toggle_more section
          %li.menu=link_to_remote 'delete', :url => { :controller => 'investigations', :action => 'delete_section', :params => {:id=>section.investigation.id, :section_id => section.id}}, :html => {:class=>"delete"}
    %dl{:id => dom_id_for(section, :details), :class => 'content', :style =>'display:none;'}
      %dt
        =section.name
      %dd  
        =section.description
        %dl
          - section.pages.each do |page|
            %dt
              =page.name
            %dd  
              =page.description
