= render :partial => 'sections/show', :collection => investigation.sections, :as => :section

- content_for(:investigation) do
  %OTUDLContainer{ :leftPanelWidth => investigation.left_nav_panel_width }
    %title
      %OTCompoundDoc
        %bodyText
          #content
            %h3= investigation.name
    %menu
      %OTViewChild{ :useScrollPane => 'true', :useHorizontalScrollPane => 'false', :scrollPanelHasBorder => 'false' }
        %object
          %object{ :refid => dom_id_for(investigation, :menu) }/
        %viewid
          %object{ :refid => 'menu_accordion_section_view' }/
    %content
      %OTCardContainer{ :id => dom_id_for(investigation, :section_card_container), :contentsMayScroll => 'false' }
        %cards
          - investigation.sections.each do |section|
            =yield "section_#{dom_id_for(section)}".to_sym
        %currentCard
          %object{ :refid => dom_id_for(investigation.sections.first) }/
        %viewedCards

- content_for(:library) do
  %OTMenu{ :id => dom_id_for(investigation, :menu) }
    %cardContainer
      %object{ :refid => dom_id_for(investigation, :section_card_container) }
    %menuRule
      %object{ :refid => 'section-rule' }

  %OTMenuRule{ :id => 'section-rule', :jumpToAnyCard => 'true' }
