= render :partial => 'sections/show', :collection => investigation.sections, :as => :section

- content_for(:investigation) do
  %OTUDLContainer{ :leftPanelWidth => investigation.left_nav_panel_width }
    %title
      %OTCompoundDoc
        %bodyText
          #content
            %h3= investigation.name
    %menu
      %OTViewChild{ :useScrollPane => 'true', :useHorizontalScrollPane => 'false', :scrollPanelHasBorder => 'false' }
        %object
          %object{ :refid => ot_refid_for(investigation, :menu) }/
        %viewid
          %object{ :refid => ot_refid_for('menu_accordion_section_view') }/
    %content
      %OTCardContainer{ :local_id => ot_local_id_for(investigation, :section_card_container), :contentsMayScroll => 'false' }
        %cards
          - investigation.sections.each do |section|
            =yield "section_#{dom_id_for(section)}".to_sym
        %currentCard
          %object{ :refid => ot_refid_for(investigation.sections.first) }/
        %viewedCards

- content_for(:library) do
  %OTMenu{ :local_id => ot_local_id_for(investigation, :menu) }
    %cardContainer
      %object{ :refid => ot_refid_for(investigation, :section_card_container) }
    %menuRule
      %object{ :refid => ot_refid_for('section_rule') }

  %OTMenuRule{ :local_id => ot_local_id_for('section_rule'), :jumpToAnyCard => 'true' }
