-locals = {:domain_id => @domain_id, :grade_span => @grade_span, :name => @name, :investigations => @investigations, :paginated_objects => @paginated_objects, :investigations_only => true}
= render :partial => 'investigations/search_form', :locals => locals
= observe_form 'investigation_search_form', :url => list_filter_investigation_url(:index=>"yes"),:before => "$('search_spinner').show();",:loaded => "$('search_spinner').hide();", :frequency => 1, :update => {:success => 'offering_list'}
#offering_list.item_collection
  = render :partial=>"investigations/runnable_list", :locals => locals
