-locals = {:domain_id => nil, :grade_span => nil, :name => ""}  

= render :partial => 'investigations/search_form', :locals => locals         
= observe_form 'investigation_search_form', :url => list_filter_investigation_url(:id=>1, :index=>"yes"), :frequency => 2, :update => {:success => 'offering_list'}
#offering_list.item_collection
  =render :partial=>"investigations/search_list", :locals=> {:investigations => @investigations, :paginated_objects => @paginated_objects}
