%h2
  =@investigation.name
- @investigation.activities.each do |activity|
  %h3
    =activity.name
  - activity.sections.each do |section|
    %h3
      =section.name
    - section.pages.each do |page|
      .item
        .menu
          =page.name
        .content
          = render  :partial => 'pages/preview', :locals => { :page => page }