= render :partial => "shared/jnlp", :locals => { :runnable_object => @investigation, :escaped_otml_url => URI.escape(page_url(@investigation, :format => :otml), /[#{URI::REGEXP::PATTERN::RESERVED}\s]/) }
