-content_for :teacher_note do
  = @teacher_note
-content_for :author_note do
  = @author_note
  
= render :partial => 'shared/investigation_header', :locals => { :investigation => @investigation }

.item_collection

  %ul#investigation_activities_list.menu
    - @investigation.activities.each do |activity|
      =render :partial => 'activity_list_item', :locals => {:activity => activity}
      -if (@investigation.changeable?(current_user))
        =sortable_element :investigation_activities_list, :handle=> 'sort-handle', :dropOnEmpty => true, :url=> {:action => 'sort_activities', :params => {:investigation_id => @investigation.id }}
