= render 	:partial => 'shared/investigation_side_menu', :locals => { :investigation => @investigation }
= render  :partial => 'shared/investigation_trail', :locals => { :investigation => @investigation } 
= render  :partial => 'shared/investigation_menu', :locals => { :investigation => @investigation }
= render 	:partial => 'shared/investigation_tab_menu', :locals => { :investigation => @investigation }


%ol#investigation_sections_list.item_list 
  - @investigation.sections.each do |section|
    =render :partial => 'section_list_item', :locals => {:section => section}
    =sortable_element :investigation_sections_list, :handle=> 'sort-handle', :dropOnEmpty => true, :url=> {:action => 'sort_sections', :params => {:investigation_id => @investigation.id }}
    
