-#-if (offering.runnable)
  -#.item
    -#%ul.quiet_list
      -#%li
        -#= run_link_for(offering,nil,{:link_text=>"run #{offering.name}"})
      -#%li
        -#.tiny= offering.description

.activity-box
  .activity-title
    %a{:href => "#", :onclick => "$('activity-description-9517').toggle(); return false;", :title => "View activity description"}
    = link_to image_tag("http://itsisu.portal.concord.org/images/icons/bullet_go.png"), polymorphic_url(offering, :format => :jnlp), {:class => 'waiter'}
    = offering.name
  #activity-description-9517.activity-description
    = offering.description
