%h3
  First Time Here?
%p
  Sign up for access as:
  %br
  = link_to("Student", signup_portal_students_path, :class=>'more')
  %br
  %a{ :href=>"/portal/teachers/new", :class=>'more' }
    Teacher
%h3
  Just want to Try the Activities?
%p
  =link_to "View our Activity Previews", activities_path, {:class=>'more'}
