.browse_main_container
  = render :partial => '/browse/show', :locals => {:search_material => @search_material, :external => true}
  -# TEMP REMOVE render :partial => '/browse/related', :locals => {:search_material => @search_material, :external => true}
