= render :partial => 'shared/collection_menu', :locals => { :collection => @installer_reports, :collection_class => InstallerReport }
= render :partial => 'show', :collection => @installer_reports, :as => :installer_report
