- for resource_page in resource_pages
  %div{ :id => dom_id_for(resource_page), :class => 'runnable' }
    = render :partial => 'resource_pages/accordion', :locals => { :resource_page => resource_page }
  = draggable_element dom_id_for(resource_page), :revert => true , :scroll => 'window'

