%h1 Resource Pages
%p#new-resource-page-link
= link_to 'Create a new resource page', new_resource_page_path

#resource-pages
  = render :partial => 'resource_pages/runnable_list', :locals => { :resource_pages => @resource_pages, :paginated_objects => @resource_pages }

  
