.itsi_su_bin
  %table
    %tr
      %td{:width=>'25%',:align=>'left'}
        %ul
          -@search_results.each_pair do |key,units|            
            -if key == @selection
              %li.bin_name.selection= link_to(key,:action=>:browse,:selection=>key)
            %li.bin_name= link_to(key,:action=>:browse,:selection=>key)
      %td.bin_content{:align=>'left'}
        -@search_results.each_pair do |key,units|
          -if key == @selection            
            -units.each_pair do |unit,activities|
              %h3=unit
              %br
              - activities.each do |activity|
                = activity.name
                %span.tiny= activity.unit_list.split(", ")
