- unless current_project.home_page_content.blank?
  - home_page_content = current_project.home_page_content
  = home_page_content.html_safe
- else
  - render_project_info
  = content_for :project_info
