- content_for(:otrunk_doc_id) do
  =@mw_modeler_page.uuid
- content_for(:mw_modeler_page_object_id) do
  =dom_id_for(@mw_modeler_page)
= render :partial => "show", :locals => { :mw_modeler_page => @mw_modeler_page }