<h1>New grade_span_expectation</h1>

<% form_for(@grade_span_expectation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ri_gse_grade_span_expectations_path %>
