- active_offerings = []
- offerings.each do |offering|
  - if offering.runnable and offering.active then
    - active_offerings << offering

.offering_for_student
  %a.button{:href => '/lab/'}
    Enter Geniverse

= render :partial => 'shared/offering_for_student', :collection => active_offerings, :as => :offering
