- remote_form_for(biologica_breed_offspring, :update => dom_id_for(biologica_breed_offspring, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_breed_offspring=> biologica_breed_offspring, :f => f  }