- remote_form_for(breed_offspring, :update => dom_id_for(breed_offspring, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :breed_offspring => breed_offspring, :f => f  }