%div{:id => dom_id_for(biologica_breed_offspring, :details), :class => 'content'}
  = wrap_edit_link_around_content(biologica_breed_offspring, options={:complete => mce_init_string}) do
    = biologica_breed_offspring.description
