%div{:id => dom_id_for(breed_offspring, :details), :class => 'content'}
  = wrap_edit_link_around_content(breed_offspring, options={:complete => mce_init_string}) do
    = breed_offspring.description
