!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @biologica_breed_offspring.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => h(@biologica_breed_offspring.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::Biologica::BreedOffspring.display_name + ': ' + @biologica_breed_offspring.name)
              %object{ :refid => ot_refid_for(@biologica_breed_offspring) }
      %library
        =yield :layout