- form_for(@biologica_breed_offspring, :before => "tinyMCE.triggerSave(true,true)") do |f|
  .item
    = render :partial => 'form', :locals => { :biologica_breed_offspring=> @biologica_breed_offspring, :f => f }
