:javascript
  if (typeof Portal === 'undefined') {
    Portal = {
      siteName: "#{APP_CONFIG[:site_name]}"
    }
  }

= render :partial => 'dynamic_scripts/api_paths'
= render :partial => 'dynamic_scripts/current_user'
