:javascript
  Portal.favorite_image_map           = {};
  Portal.favorite_image_map[true]     = '#{asset_path("star-filled.png")}';
  Portal.favorite_image_map[false]    = '#{asset_path("star-empty.png")}';
