= render :partial => 'shared/collection_menu', :locals => { :collection => @project_links, :collection_class => Admin::ProjectLink }
= render :partial => 'show', :collection => @project_links, :as => :project_link
