= render :partial => 'shared/collection_menu', :locals => { :collection => @dataservice_blobs, :collection_class => Dataservice::Blob }
= render :partial => 'show', :collection => @dataservice_blobs, :as => :dataservice_blob
