%p
  = render :partial => 'permission_forms', :locals => {:projects => @projects, :permission_forms => @permission_forms}
  = render :partial => 'search_form',      :locals => {:form => @form}
  - unless @teachers.blank?
    %h3 Teachers:
    #listings
      %table#admin_teachers_table
        %tr
          %th Teacher
          %th Classes
        = render :partial => 'show', :collection => @teachers, :as => :teacher, :locals => {:permission_forms => @permission_forms}
  - else
    %p
      search for teachers by firstname, lastname, login, or email.
