$icon-simulation: "\f3f2";   // sliders-v-square
$icon-assessment: "\f559";   // award
$icon-activity:   "\f14b";   // pen-square
$icon-sequence:   "\f5fd";   // layer-group
$icon-collection: "\f49c";   // box-full
