= remote_form_for(dataservice_console_logger, :update => dom_id_for(dataservice_console_logger)) do |f|
  = render :partial => "form", :locals => { :dataservice_console_logger => dataservice_console_logger, :f => f  }
