- options = { :omit_edit => true, :omit_delete => true, :hide_componenent_name => true }
= accordion_for(dataservice_console_logger, show_menu_for(dataservice_console_logger, options)) do
  %div{:id => dom_id_for(dataservice_console_logger, :item), :class => 'item'}
    %div{:id => dom_id_for(dataservice_console_logger, :details), :class => 'content'}
      = render :partial => 'dataservice/console_contents/show', :collection => dataservice_console_logger.console_contents, :as => :dataservice_console_content
