@import '../../shared/styles/variables/_variables.scss';
@import '../../shared/styles/mixins/_mixins.scss';
@import '../styles/helpers/_modal.scss';

.portalPagesCollectionLightboxContainer {
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: 1s;
  width: 100%;
  z-index: 71;

  &.visible {
    display: block;
  }
}
.portalPagesCollectionLightbox {
  box-sizing: content-box;
  bottom: auto;
  height: auto;
  left: auto;
  right: auto;
  top: auto;
}
.portalPagesCollectionLightboxBackground {
  background: $col-darkgray;
  display: none;
  height: 100%;
  left: 0;
  opacity: 0.85;
  position: fixed;
  top: 0;
  transition: 1s;
  width: 100%;
  z-index: 70;

  &.visible {
    display: block;
  }
}
.portalPagesCollectionLightboxBackgroundClose {
  color: #fff;
  cursor: pointer;
  font-size: 48px;
  position: fixed;
  right: 20px;
  top: -10px;
}
.portalPagesCollectionLightboxModal {
  background: #e2f4f8;
  bottom: auto;
  height: auto;
  left: 50%;
  margin-left: -500px;
  padding: 0 0 15px;
  position: relative;
  right: auto;
  top: 50px;
  width: 1000px;
  a {
    display: inline;
  }
}

.portalPagesCollectionLightboxHeading {
  padding: 15px 10px;
  h1 {
    font-size: 26px;
  }
}

.portalPagesCollectionLightboxReturnButton {
  background: transparent;
  border: none;
  color: #ea6d2f;
  display: inline ;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  &:hover {
    background: transparent;
    border: none;
    color: #ffc320;
  }
}

.portalPagesCollectionLightboxCollection {
  padding: 0 10px 15px;

  h2 {
    color: #313131;
    font-size: 22px;
    margin: 0 20px 5px;
  }
  iframe {
    border: none;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }
  .loading {
    background: transparent url(../assets/loading.gif) no-repeat center top;
    background-size: 64px;
    color: #999;
    font-size: 14px;
    font-weight: 500;
    height: 90px;
    padding-top: 70px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .portalPagesCollectionLightboxModal {
    margin-left: -50%;
    width: 100%;
  }
}
