@import '../../shared/styles/variables/_variables.scss';

.finderResultsCollections {
  margin-bottom: 20px;

  .finderResultsCollectionsHeader {
    margin-bottom: 10px;

    .finderResultsCollectionsCount {
      display: flex;
      justify-content: space-between;
    }
  }

  .findResultsCollectionsShowMore {
    display: flex;
    justify-content: center;

    button {
      background: $col-blue;
      color: $white;
      padding: 6px 20px;
      display: inline-block;
      border-radius: 4px;
      font-weight: bold;
      font-size: 16px;
      margin-top: 5px;

      &:hover, &:active {
        background: #ffc321;
      }
    }
  }
}
