= render :partial => 'shared/collection_menu', :locals => { :collection => @model_types, :collection_class => Diy::ModelType }
- @model_types.each do |model_type|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => model_type}
