body
  :background-color #FFFFFF
  :color #333333
  :font-family Tahoma,'Trebuchet MS',sans-serif
  :line-height 1.5em

h1
  :color #FFD32C
  :font-size 1.5em
  :margin-bottom 0px

h2
  :color #FFD32C
  :font-size 1.3em
  :margin-bottom 0px

h3
  :color #FFD32C
  :font-size 1.1em
  :margin-bottom 0px

p
  :font-size 1.0em
  :margin 10px 4px 10px 4px

#content
  :margin 5px 
  :padding 5px

