@import blueprint.sass
@import new_app_colors.sass

!left_nav_columns = 4
!main_content_columns = 20

p
  :padding-left 10px
ul
  :padding-left 10px
  :list-style-type circle
  :list-style-position inside
ol
  :padding-left 10px
  :list-style-type decimal
  :list-style-position inside

body
  :padding-left 10px
  :font
    :family Helvetica
  :background-color = !light_blue
  :margin 10px 
  // that's the blueprint default...
  
h1 
  :padding-left 10px
  :font 
    :size 1.7em
h2
  :padding-left 10px
  :font
    :size 1.5em
    :weight bold
h3
  :padding-left 10px
  :font
    :size 1.3em
    :weight normal
h4
  :padding-left 10px
  :font
    :size 1.3em
    :weight normal

fieldset
  :background-color white
  :border 1px solid
  :margin 0.5em 0.5em 1em 0.5em
  :padding 0.5em 1em 1em 1em
  ul
    :style horizontal


#body2
  +page_white

#wrapper
  +container
  :padding 10px 
  // that's the blueprint default...
  +page_white

#header
  +column(24,true)
  :vertical-align baseline
  :line-height 2em
  #title
    +column(14)
  #login
    :text-align right
    +column(10,true)

#nav_top
  +column(24,true)
  +top_and_bottom_nav_colors
  :padding 0.5em
  #nav_top_left
    +column(6)
  #nav_top_right
    :text-align right
    +column(18,true)
  
#left_nav
  +column(!left_nav_columns)
  +left_nav_colors
  :font
    :size 9pt
  :line-height 1.4em
  .step_tree
    :padding 
      :left 0.5em 
      :right 0.5em
      
    .selected
      +nav_tree_selected
      
#main_content
  +content_area_colors
  +column(!main_content_columns,true)
  :line-height 1.5em
#content_header
  +content_area_colors
  +column(!main_content_columns,true)
  :line-height 1.5em
  #content_header_left
    +column(10)
  #content_header_right
    +column(10,true)
    :text-align right

#main_content2
  :margin 1em 0.5em 1em 0.5em

#footer
  +column(24,true)
  +top_and_bottom_nav_colors
  :padding 0.5em
  :margin 0em
  #footer_left
    +column(12)
  #footer_right
    :text-align right
    +column(12,true)

ul.menu_h
  :display inline
  :list-style-type none
  :list-style-position inside
  :margin 0em
  :padding 0em
  li
    :margin 0em
    :padding 0em
      :left 0.5em
      :right 0.5em
    :display inline
    :list-style-type none
    :white-space nowrap
    
ul.menu
  :display inline
  :list-style-type none
  :list-style-position inside
  :margin 0em
  :padding 0em
  li.menu
    :display inline
    :padding 0em
      :right 0.5em
      :left 0.5em
    a
      :font-size 0.8em
      :font-weight 100

.item
  :padding 0.5em
  :margin 0.5em
  :border
    :width 1px
    :style solid
  :cursor move
  .content
    :margin 0.5em
    :padding 0.5em
    :border
      :width 1px
      :style dotted
    :background-color white

.hidden
  :display none
  
ul.quiet_list
  :list-style-type none
  :white-space nowrap
  :margin 0em
  :padding 0em
  li
    :margin 0em
    :padding 0.5em
    :list-style-type none
    :white-space nowrap

ul.menu_v
  :display block
  :list-style-type none
  :white-space nowrap
  :margin 0em
    :left 0.5em
li.menu_v
  :margin 0em
    :left 0.5em
  :display block
  :white-space nowrap
  :list-style-type none
  
li.tiny
  :margin 0em
    :left 1em
    
.tiny
  :font-size 0.85em
  
.item_list
  :cursor move
  
.data_collector
  :display block
  :width 600px
  :height 250px
    
.tinymce_textarea
  :width 600px
  :word-break break-all

.tinymce_textarea_short
  :width 600px
  :height 80px  