div#learners_container
  display: block
  width: 340px
  margin: 10px
  padding: 10px
  border: 1px solid

.learner
  margin-top: 1em

div#add_group
  display: block
  margin: 10px
  padding: 10px
  width: 340px
  border: 1px solid
  select
    display: inline-block
    margin: 1em
    clear: none
  button
    display: inline-block
    clear: none
div#password_panel
  display: block
  margin: 10px
  padding: 10px
  width: 340px
  border: 1px solid
  #login_user_name
    display: inline-block
    margin: 1em
    clear: none
  #password_field
    display: inline-block
    margin: 1em
    clear: none

#templates
  display: none
.learner
  width: 90%
  vertical-align: baseline
  padding: 1em
  margin-left: auto
  margin-left: auto
  margin-bottom: 2px
  .name_field
    margin-right: 1em
  input
    display: inline-block
  button
    display: inline-block
  .pending
    text-align: right
    float: right
    display: inline-block
  .complete
    text-align: right
    float: right
    display: inline-block
  .delete
    color: red
    cursor: pointer
  .fail
    width: 100%
    font-size: 0.8em
    color: red
