%div{:id => dom_id_for(xhtml, :details), :class => 'content'}
  - if (xhtml.changeable?(current_user))
    = wrap_edit_link_around_content(xhtml, xhtml.content, options={})
  - else
    = xhtml.content
