<h1>Editing xhtml</h1>

<% form_for(@xhtml) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @xhtml %> |
<%= link_to 'Back', xhtmls_path %>
