%table{:cellpadding => '2', :cellspacing => '0', :border => '1', :class => 'notice_list'}
  - @all_notices.each do |notice|
    %tr{:id => 'temp', :class=> 'table_row'}
      %td{:class => 'notice_text'} 
        = notice.notice_html.html_safe
      %td
        = link_to "Edit", {:action => 'edit', :id => notice.id}
      %td 
        = remote_link_button "delete.png", :url => {:action=>'delete', :id => notice.id},:confirm => "Are you sure you want to delete this notice", :method => :delete, :title =>'Delete Notice'
        
= link_to 'create new notice', new_admin_site_notice_path
