@import "../../../../shared/styles/variables/variables";

table.classesTable {
  margin-top: 0 !important;
  border-top: 1px solid gray;

  & > thead > tr, & > tbody > tr {
    background-color: transparent;
  }

  .activeRow {
    font-weight: 500;
  }
}
