@import "../../../../shared/styles/variables/variables";

table.studentsTable {
  margin-top: 0 !important;

  & > thead > tr > th, & > tfoot > tr {
    background-color: #f8ac1a;
  }

  & > tbody > tr {
    background-color: white;
    &:nth-child(even) {
      background-color: #fbf4db;
    }
  }

  & > tfoot > tr > td {
    // Necessary for dropdown to work correctly.
    overflow: visible;
  }

  .permissionFormSelectOption {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .checkboxColumn {
    width: 35px;
  }

  .permissionFormsColumn {
    width: 320px;
  }

  .expandButtonColumn {
    width: 70px;
    text-align: center;
  }

  input[type="checkbox"] {
    margin-left: 5px;
    vertical-align: middle;
    width: 22px;
    height: 22px;
  }

  .basicButton {
    display: inline-block;
    color: $col-link;
    background-color: transparent;
    border: transparent;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;

    &:hover {
      color: $col-gold;
    }
  }

  .tableFooter {
    padding: 10px;
    display: flex;
    flex-direction: column;

    .summary {
      font-weight: bold;
      margin-bottom: 9px;
    }

    .permissionFormSelects {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      .selectContainer {
        display: flex;
        align-items: center;

        .permissionFormSelect {
          margin-left: 10px;
          width: 340px;

          input[type="text"] {
            height: auto;
          }
        }
      }
    }

    .saveChangesButton {
      margin-top: 10px;
      background-color: $col-blue;
      border-color: $col-blue;

      &:hover {
        background-color: $col-lightblue;
        border-color: $col-lightblue;
      }
    }
  }
}
