@import "../../../../shared/styles/variables/variables";

.studentsTabContent {
  i {
    font-size: 12px;
    margin-left: 5px;
    vertical-align: baseline;
  }

  .controlsArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    label {
      text-transform: none;
      font-weight: 300;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    div {
      display: flex;
    }

    .leftSide {
      display: flex;
      flex-direction: column;

      .leftSideFirstRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        button {
          margin-left: 20px;
        }
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      .title {
        font-weight: 500;
        margin-bottom: 13px;
      }
      select {
        width: 280px;
      }
    }
  }

  .searchResultsNotice {
    font-weight: 500;
  }

  .teachersTable {
    & > tbody > tr > td {
      max-width: 230px;
    }

    .expandButton {
      width: 115px;
    }

    .activeRow {
      font-weight: 500;
    }

    .classesTableRow {
      // Necessary for dropdown to work correctly.
      overflow: visible;
    }

    .rowWithBackground {
      background-color: #f1f1f1;
    }
  }
}
