<% content_for :title, "Editing Auto External Activity Rule" %>

<h1>Editing Auto External Activity Rule</h1>

<%= render "form", auto_external_activity_rule: @auto_external_activity_rule %>

<br>

<div>
  <%= link_to "Show this Auto External Activity Rule", @auto_external_activity_rule %> |
  <%= link_to "Back to Auto External Activity Rules", admin_auto_external_activity_rules_path %>
</div>
