<% content_for :title, "New Auto External Activity Rule" %>

<h1>New Auto External Activity Rule</h1>

<%= render "form", auto_external_activity_rule: @auto_external_activity_rule %>

<br>

<div>
  <%= link_to "Back to Auto External Activity Rules", admin_auto_external_activity_rules_path %>
</div>
