body {
  color: black;
  background-color: #fffee9;
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 71%; }
  body a {
    color: #51a656;
    background-color: transparent;
    text-decoration: none;
    font-weight: 600;
    margin: 0em;
    padding: 0.2em 0.5em; }
    body a:hover {
      color: !dark_green;
      font-weight: 800; }

#body2 {
  margin: 1em 0em;
  padding: 1em 0em; }

.lighter_background {
  color: inherit;
  background-color: white; }

#header {
  margin: 0;
  padding: 0; }

#mid_header {
  color: #915400;
  background-color: transparent;
  position: relative;
  height: 3em;
  top: -4.5em; }
  #mid_header .logo {
    position: absolute;
    left: 1.5em;
    top: 0.5em;
    margin: 0em;
    width: 6.2em; }
    #mid_header .logo img {
      width: 100%; }
  #mid_header h1 {
    top: 0.2em;
    margin: 0em 5em 0em 3em;
    padding: 0.5em 0em;
    font-size: 337%;
    font-weight: 700; }

.horiz_band {
  color: #982f10;
  background-color: #17711e;
  width: 100%;
  display: table;
  margin: 0em;
  padding: 0em; }
  .horiz_band .left {
    float: left;
    margin: 0.5em 1em; }
  .horiz_band .right {
    text-align: right;
    float: right;
    margin: 0.5em 1em; }
  .horiz_band a {
    color: #e1fcd3;
    font-weight: 600; }
    .horiz_band a:hover {
      color: white;
      font-weight: 800; }
      .horiz_band a:hover:hover {
        font-size: 110%; }
  .horiz_band li {
    display: inline;
    list-style-type: none; }
    .horiz_band li.selected a {
      color: white;
      font-weight: 800; }
  .horiz_band ul {
    margin: 0px;
    padding: 0px; }

.horiz_band#super_header {
  font-size: 1.2em;
  color: #982f10;
  background-color: transparent; }
  .horiz_band#super_header .right {
    margin-right: 0.5em; }
  .horiz_band#super_header a {
    color: #51a656; }
    .horiz_band#super_header a:hover {
      color: #17711e; }
  .horiz_band#super_header li.selected {
    color: !dark_green; }

.horiz_band#footer {
  color: white;
  background-color: #51a656;
  font-size: 91%; }

.horiz_band#sub_header {
  color: white;
  background-color: #17711e;
  font-size: 1.2em; }

.horiz_band#content_header {
  color: #982f10;
  background-color: #fffee9;
  border-bottom: 1px solid;
  border-color: #999999; }
  .horiz_band#content_header a {
    padding: 0em 0.1em;
    color: #51a656; }

.horiz_band#content_menu {
  color: #982f10; }
  .horiz_band#content_menu ul {
    background-color: #fffee9;
    color: #982f10;
    margin: 0em;
    padding: 0em; }
    .horiz_band#content_menu ul li {
      display: inline;
      list-style-type: none;
      padding: 0em 0.1em; }
      .horiz_band#content_menu ul li a {
        color: #51a656; }

#content_header_container {
  background-color: #fffee9;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 15em;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #999999; }

.menu {
  color: #982f10; }
  .menu ul {
    background-color: #fffee9;
    color: #982f10;
    margin: 0em;
    padding: 0em; }
    .menu ul li {
      display: inline;
      list-style-type: none;
      padding: 0em 0.1em; }
      .menu ul li a {
        color: #51a656; }

.item {
  margin: 2em 0em 2em 0em;
  padding: 0em 1em 0em 1em; }

.this_page {
  color: black;
  background-color: white;
  padding-left: 4mm;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: #999999; }

#side-bar {
  width: 14.9em;
  float: left;
  clear: left;
  color: #982f10;
  border-right: 0.1em solid;
  border-left: 0.1em solid;
  border-color: #999999; }
  #side-bar a {
    color: #51a656;
    background-color: parent;
    text-decoration: none;
    margin: 0;
    padding: 0.75em 1ex 0.75em 5mm;
    display: block; }
  #side-bar .sideBarText {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0 1.5ex 0 2.5mm;
    display: block; }
  #side-bar .sideBarTitle {
    font-weight: bold;
    margin: 0 0 0.5em 2.5mm;
    padding: 1em 0 0 0; }
  #side-bar a:hover {
    color: white;
    background-color: #51a656;
    text-decoration: none; }
  #side-bar .sideBarText a {
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline; }
    #side-bar .sideBarText a:hover {
      color: #51a656;
      background-color: transparent;
      text-decoration: none; }
  #side-bar div {
    border-bottom: 1px solid;
    border-color: #999999; }
  #side-bar li {
    margin: 0;
    padding: 0.1em 0em; }
  #side-bar ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0em;
    padding: 0em 0em 1.1em 0em; }


#main_content {
  color: black;
  background-color: #fffee9;
  text-align: justify;
  line-height: 1.5em;
  margin-top: 0em;
  margin-right: 0em;
  margin-bottom: 0em;
  margin-left: 15em;
  padding: 0em 1em 0em 2em;
  border-left: 1px solid;
  border-color: #999999; }
  #main_content .top_of_page {
    color: white;
    background-color: transparent;
    font-size: 91%;
    font-weight: bold;
    text-decoration: none;
    margin: 2.5ex 1ex 0em 0em;
    padding: 0;
    float: right; }
  #main_content >.top_of_page {
    margin: 0.5ex 1ex 0em 0em; }
  #main_content a {
    color: #51a656;
    background-color: transparent;
    text-decoration: underline; }
    #main_content a:hover {
      text-decoration: none; }
  #main_content h1 {
    color: white;
    background-color: #51a656;
    font-size: 100%;
    font-weight: bold;
    margin: 1em 0em 1em 0em;
    padding: 0.5ex 0em 0.5ex 1ex; }
  #main_content p {
    margin: 1em 1ex 2em 1ex;
    padding: 0em; }
  #main_content .menu {
    border-style: dotted;
    border-width: 1px;
    border-color: #999999;
    border-bottom: none; }
    #main_content .menu ul {
      background-color: #17711e;
      color: #f5bfa4;
      margin: 0em 0em 0em 0em;
      padding: 0.2em 0em 0.4em 1em; }
      #main_content .menu ul li a {
        color: #e1fcd3; }
        #main_content .menu ul li a:hover {
          color: white; }
  #main_content .item_collection {
    margin: 0em;
    padding: 0em 0em 0em 0em; }
    #main_content .item_collection .menu {
      background-color: #fffee9;
      color: #982f10; }
      #main_content .item_collection .menu ul {
        background-color: #fffee9;
        color: #982f10; }
        #main_content .item_collection .menu ul li a {
          color: #51a656; }
          #main_content .item_collection .menu ul li a:hover {
            color: #17711e; }
    #main_content .item_collection .not_translated {
      background-image: url("/images/preview.gif"); }
    #main_content .item_collection .html_content {
      border-style: solid;
      border-width: 1px;
      border-color: #999999;
      margin: 0em;
      padding: 1em;
      font-size: 1.2em;
      color: black;
      background-color: white;
      text-align: justify;
      line-height: 1.5em; }
      #main_content .item_collection .html_content a {
        color: #51a656;
        background-color: transparent;
        text-decoration: underline; }
        #main_content .item_collection .html_content a:hover {
          text-decoration: none; }
      #main_content .item_collection .html_content h1 {
        color: white;
        background-color: #51a656;
        font-size: 100%;
        font-weight: bold;
        margin: 3em 0em 0em 0em;
        padding: 0.5ex 0em 0.5ex 1ex; }
      #main_content .item_collection .html_content p {
        margin: 0em;
        padding: 0em; }
    #main_content .item_collection .image_content {
      border-style: solid;
      border-width: 1px;
      border-color: #999999;
      margin: 0em;
      padding: 1em;
      font-size: 1.2em;
      background-color: white; }
  #main_content .item_array {
    margin: 0em;
    padding: 0em; }
    #main_content .item_array .item {
      width: 14em;
      height: 13em;
      float: left; }
  #main_content .item_list {
    margin: 0em 1em 0em 1em;
    padding: 0em 0em 0em 0em; }

.button_to div input[type="submit"] {
  margin: 0em; }

.do_not_display {
  display: none; }

dd {
  margin: 0em 0em 2em 2em;
  padding: 0em; }

dl {
  margin: 1em 1ex 2em 1ex;
  padding: 0em; }

dt {
  font-weight: bold;
  margin: 0em;
  padding: 0em; }

acronym, .titleTip {
  border-bottom: 1px dotted;
  border-color: #999999;
  cursor: help;
  margin: 0em;
  padding: 0em 0em 0.4px 0em; }

.clear_both {
  clear: both;
  line-height: 0;
  height: 1px;
  display: block;
  visibility: hidden;
  margin: 1em; }
