.dropdown {
  z-index: 1000;
  display: block;
  position: fixed;
  left: -1000px;
  top: 0px;
  clear: left;
  float: none;
  background-color: white;
  margin: 0px;
  margin-left: 3px;
  padding: 0.5em;
  font-size: 10px;
  line-height: 1.5em;
  overflow: hidden;
  -moz-border-radius-bottomright: .5em;
  -webkit-border-bottom-right-radius: .5em;
  -moz-border-radius-bottomleft: .5em;
  -webkit-border-bottom-left-radius: .5em; }
  .dropdown ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 100%;
    font-weight: normal; }
  .dropdown li {
    color: #6a0e04;
    background-color: #f2f8fc;
    list-style-type: none;
    padding: 0px;
    padding-top: 6px;
    padding-right: 20px;
    margin: 0px;
    width: 100%;
    white-space: nowrap; }
    .dropdown li a {
      font-weight: bold;
      padding: 0px;
      text-decoration: none;
      background-color: transparent; }
    .dropdown li a:link {
      color: #6a0e04; }
    .dropdown li a:visited {
      color: #6a0e04; }
    .dropdown li a:active {
      color: #6a0e04; }
    .dropdown li a:hover {
      color: #f2f8fc;
      background-color: #6a0e04; }
  .dropdown a {
    margin-left: 5px;
    padding: 0px;
    display: block; }
  .dropdown a.rollover {
    clear: left !important; }
