 body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dd, dt, blockquote, button, fieldset, legend, label, input, textarea, form {margin: 0; padding: 0; border: 0}
html, input, textarea, select {font-size: 100%}
 body {font: 75%/1.5 Arial, Helvetica, sans-serif}
h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 0 0 .25em 0}
h1 {font-size: 2em}
 h2 {font-size: 1.833em; color: #ee864e}
 h3 {font-size: 1.165em; font-weight: bold; padding-top: 3px; line-height: 1.3}
 h4 {font-size: 1.165em; color: #ef864e}
 h5 {font-size: 1em; font-weight: bold; text-transform: uppercase}
 h6 {font-size: .917em}
 li h3 {display: inline; padding: 0}
p {margin-bottom: 1em}
input, textarea {border: 1px solid #242323}
abbr, acronym {border-bottom: 1px dotted #999; cursor: help}
ul, ol {margin: 0 0 1em 3em}
table {border-collapse: collapse; margin: 1em 0}
body {background-color: #fee9aa; background-image: url('/images/new/bg-body.png'); background-repeat: repeat-x; color: #3f3f3f}
body.mceContentBody {background-color: #fff; background-image: none}
.hidden {display: none}
#page {min-width: 860px}
#wrapper {background: #f3f2ed url('/images/new/bg-content.gif') 0 0 repeat-y; height: auto; margin: 0 auto; min-height: 600px; position: relative; width: 860px}
 #header {background: transparent; height: 179px; margin: 0}
#userlinks {background: url(/images/new/bg-userlinks.png) repeat-y right top; max-height: 40px; min-height: 24px; padding-left: 100px; position: absolute; right: 0; text-align: right; top: 0}
#userlinks p {clear: none; color: #fff; display: inline; float: left; margin: 3px 13px 0 0; padding: 0; position: relative; text-align: right}
#userlinks ul {clear: none; color: #fff; display: inline; float: left; margin: 3px 0 0 0; padding: 0; position: relative; text-align: right}
#userlinks li {border: none; display: inline; list-style: none; padding: 0; text-align: right; text-transform: uppercase}
#userlinks li a {color: #fff; font-weight: bold; padding: 0 8px; text-decoration: none}
#userlinks li + li {border-left: solid 1px #fff}
#lead {border-bottom: 1px solid #a1d2d1; clear: both; float: left; line-height: 1.833; margin-bottom: 1.833em}
#lead.project-header {border: none; margin: 0; padding: 0; width: 860px}
.project-header h1 {background-color: white; background-image: url('/images/new/banners/loops.png'); background-repeat: no-repeat; height: 172px; margin: 0; text-indent: -999em}
.project-header h1.loops {background: white url('/images/new/banners/loops.png') 0 0 no-repeat}
.project-header h1 a {background: transparent; display: block; height: 172px; width: 100%}
.project-header h1.itsisu {background: white url(http://itsi.portal.dev.concord.org/images/banners/itsi-su.png) 0 0 no-repeat}
 #nav_top {background: #f8ac1a; clear: both; height: 26px; position: relative; text-align: left}
#nav_top a {color: #416962}
#nav_top ul {float: left; list-style: none; height: 26px; margin: 4px 0 0 0; padding: 0; width: 50%}
#nav_top li {border: none; color: #555; display: inline; font-size: 1em; font-weight: bold; margin: 0; padding: 0 10px 0; text-transform: uppercase}
#nav_top li#main-site {background: transparent url(/images/new/main-site.png) no-repeat; border-right: none; height: 42px; margin-top: -10px; padding: 0 5px 0 0; position: absolute; right: 0; text-indent: -999em; top: 0; width: 354px}
#nav_top li#main-site a {display: block; height: 42px; width: 349px}
#nav_top li + li {border-left: solid 1px #416962}
#nav_top li#home {border: none}
#nav_top .menu_h_right {float: right; text-align: right; width: 50%}
#nav_top .menu_h_right ul {float: right; width: 100%}
 .page-utility {list-style-type: none; margin: 0; padding: 0; position: absolute; top: 1.5em; right: 1em}
.page-utility li {float: right; width: 56px}
.send-to-friend {margin-right: 21px}
.page-utility a {background: transparent url('/images/new/bg-sprite-btns.png') 0 0 no-repeat; display: block; height: 16px; overflow: hidden; text-indent: -999em; width: 56px}
.page-utility a:hover {background-position: 0 -16px}
.share-it {position: relative}
.page-utility a.addthis_button {background-position: -112px 0; width: 52px}
.page-utility a.addthis_button:hover, .page-utility a.addthis_button:focus {background-position: -112px -16px}
.page-utility .print-this-page a {background-position: -56px 0}
.page-utility .print-this-page a:hover, .page-utility .print-this-page a:focus {background-position: -56px -16px}
 #content {overflow: hidden; padding-top: 40px; padding-right: 30px; position: relative}
 #primary {display: inline; float: left; margin: 0 0 0 228px; min-height: 350px; padding: 0; width: 632px}
 #content-upper {background: #f3f2ed; float: left; margin: 0 0 30px; padding: 22px 40px 0 40px; width: 100%}
.login-area {border: solid 2px #aaa; margin-left: -30px; padding: 15px 20px 5px; width: 540px;  border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px}
.login-area .graphic-input li {width: 180px}
.login-area li {margin-bottom: 4px}
.login-area ul.graphic-input {margin-bottom: 6px}
.login-area h2 {background: transparent url('/images/new/headers-sprite.png') 0 -75px no-repeat; overflow: hidden; height: 13px; text-indent: -9999px; width: 119px}
.login-area h3 {color: #999; font-family: Arial, Helvetica, sans-serif; margin: -4px 0 0 0; padding: 0}
.login-area input[type='submit'].button, .login-area button.button {background: transparent url("/images/new/bg-sprite-btns.png") -130px -69px no-repeat; float: left; height: 26px; margin-left: -6px; margin-right: 14px; text-indent: -999em; width: 64px}
.login-area input[type='submit']:hover, .login-area input[type='submit'].over, .login-area button:hover, .login-area button.over {background-position: -130px -95px}
#project-signin {border-right: solid 1px rgb(161, 211, 208); margin-bottom: 20px}
.forgot {font-size: .9em; margin-left: 93px; padding-top: 5px}
p.note {border-top: solid 1px #ddd; clear: both; font-size: .9em; margin-top: 170px !important; padding-top: 10px}
.col {float: left; width: 50%; margin-right: 1.8%}
.col2 {float: left; margin-left: 4.8%; width: 43%}
.col2 p {color: #999}
#content-lower {background-color: #fffae6; clear: both; margin-left: -29px;  margin-bottom: -14px;  padding: 39px 40px 0 30px; width: 623px;  }
 .list a {border: solid 1px #479492; font-size: 0.75em; margin: 0 2px 0 0; padding: 2px 5px;  border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
.list a:link, .list a:visited {background: transparent; color: #479492}
.list a:hover {background: #479492; color: #fff}
.list a:active {background: transparent; color: #479492}
.list select {clear: both; display: block; margin-bottom: -10px}
 #secondary {background: #fbf4db; display: inline; float: left; margin-top: -10px; margin-left: -860px; padding-top: 10px; width: 200px}
#secondary h2 {color: #555; font: bold 1.3em Arial, Helvetica, sans-serif !important; margin: 10px 0 10px 20px}
#secondary ul {border-top: solid 1px #a1d3d0; list-style: none; margin: 0; padding: 0}
#secondary li {background: #f3f2ed; border-bottom: solid 1px #a1d3d0; color: #ee864e; font-size: 1.3em; list-style: none; margin: 0; padding: 0}
#secondary li strong {display: block; font-weight: normal; padding: 5px 20px}
#secondary li a {background: #fbf4db; color: #555; display: block; margin: 0; padding: 5px 20px}
#secondary li a.selected {background: #fff; color: #ee864e}
#secondary ul.create {border-top: none}
#secondary .create_link {margin: 10px 0 0 20px}
.user-info-box {background: #fff; margin: 10px 10px 20px; padding: 10px;  border-radius: 12px; -moz-border-radius: 12px; -webkit-border-radius: 12px}
 a {color: #479492; text-decoration: none}
a:visited {color: #479492; text-decoration: none}
a:hover, a:focus {color: #da5936}
h2 a, h3 a {font-family: arial, helvetica, sans-serif}
a img {border: 0}
blockquote {background-color: #fff; border: 1px solid #479492; border-width: 1px 0; color: #da5936; font: 1.5em/1.25 Georgia, Times, serif; margin: 20px 0; padding: 1.1em 25px 1.2em 25px}
blockquote *, blockquote p {margin: 0; padding: 0}
div.hr {background: #A1D2D1; clear: both; height: 1px; margin: 20px 0}
div.hr hr {display: none}
.copyright {letter-spacing: .1em}
code {font-size: 1.2em}
dl {margin: 1em 0}
 table.tablesorter th, table.tablesorter td {border: solid 1px #a8d6d5 !important; color: #555; padding: 5px}
table.yui-dt-table th, table.yui-dt-table td {border: solid 1px #a8d6d5 !important; color: #555; padding: 5px}
table.roster-table th, table.roster-table td {border: solid 1px #a8d6d5 !important; color: #555; padding: 5px}
table.tablesorter th, table.yui-dt-table th, table.roster-table th {background: #a0d1d0 url(/images/new/bg-thead.png) left bottom repeat-x !important; border-bottom: 1px solid #b9dedd !important; color: #222; font-size: 1em; text-align: left}
table.yui-dt-table th a, table.roster-table th a {color: #222 !important}
table.tablesorter thead th, table.yui-dt-table thead th, table.roster-table th {border-right-color: #fff !important}
table.tablesorter thead th.last, table.yui-dt-table thead th.last, table.roster-table th.last {border-right-color: #a8d6d5 !important}
table.tablesorter td, table.yui-dt-table td, table.roster-table td {background-color: #f7f2df !important; vertical-align: top}
table.tablesorter .odd td, table.yui-dt-table .odd td, table.roster-table .odd td {background-color: #fff}
table.tablesorter tfoot td, table.yui-dt-table tfoot td, table.roster-table tfoot td {background: #f7f2df}
html body #content table.roster-table {width: 545px !important}
 form ul {list-style: none; margin: 0}
form li {margin-bottom: 1.65em}
legend {color: #EE864E; font-size: 1em; margin: 0 0 .65em 0}
label {font-weight: bold}
select, textarea, label, button {display: block}
input, textarea {border: 1px solid #a1d2d1; padding: .3em 5px}
input.text:focus, input[type='text']:focus {border-color: #da5936}
textarea {font: 1em Arial, Helvetica, sans-serif; padding: 1px 2px; width: 400px}
textarea:focus {border-color: #da5936}
#wrapper input[type=hidden] {border: none}
button {background-color: #57a19f; color: #fff; cursor: pointer; font-size: 1.2em; text-align: center}
input[type=button], input.button, input[type='submit'] {background-color: #57a19f; color: #fff; cursor: pointer; font-size: 1.2em; text-align: center}
button {background: #f3951d; border: 0 solid #f3951d; color: #FFF; font: 12px/1 Arial, Helvetica, sans-serif; padding: 4px 14px;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d); border-radius: 12px;  -moz-border-radius: 12px;  -webkit-border-radius: 12px;  }
input[type=button], input.button, input[type=submit] {background: #f3951d; border: 0 solid #f3951d; color: #FFF; font: 12px/1 Arial, Helvetica, sans-serif; padding: 4px 14px;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d); border-radius: 12px;  -moz-border-radius: 12px;  -webkit-border-radius: 12px;  }
a.button {background: #f3951d; border: 0 solid #f3951d; color: #FFF; font: 12px/1 Arial, Helvetica, sans-serif; padding: 4px 14px;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d); border-radius: 12px;  -moz-border-radius: 12px;  -webkit-border-radius: 12px;  }
button:hover {background: #f3951d;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d)}
input[type=button]:hover, input.button.over, input[type=submit]:hover {background: #f3951d;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d)}
a.button:hover, button.over {background: #f3951d;  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d)); background: -moz-linear-gradient(top, #f3951d, #dd6e0d)}
p select {display: inline; margin: 0 2px}
a.more, ul.more a {background: transparent url('/images/new/icon-arrow-more.gif') right center no-repeat; padding-right: 10px}
h1 {color: #ee864e; font-family: Arial, Helvetica, sans-serif}
h2, h3 {font-family: Arial, Helvetica, sans-serif}
.tab h2, .tab h3 {clear: both}
.tab .col .lead {background-color: #feefc1; border-radius: 8px;  margin: 1.5em 0; padding: 30px 24px 12px 24px;  -moz-border-radius: 8px;  -webkit-border-radius: 8px;  }
.tags {background-color: #feefc1; border-radius: 8px;  margin: 1.5em 0; padding: 30px 24px 12px 24px;  -moz-border-radius: 8px;  -webkit-border-radius: 8px;  }
#project-signin fieldset ul.graphic-input li input {background: transparent url('/images/new/bg-sprite-btns.png') -32px -39px no-repeat !important; border: none !important; color: #888; font: 11px arial, helvetica, sans-serif; margin-left: -8px; min-height: 13px; padding: 7px 0 6px 11px; position: relative;  width: 144px}
*+html #page #wrapper .graphic-input input {float: left}
#page #wrapper .login-area .graphic-input input {width: 164px}
#page #wrapper .graphic-input input:focus {outline-width: 0}
 .graphic-input {position: relative}
.graphic-input label.textfield {color: #ccc; left: 10px; position: absolute; top: 2px}
.graphic-input label.right {display: inline}
#page #wrapper .graphic-input {display: block}
.graphic-input li {background: url('/images/new/bg-sprite-btns.png') right -39px no-repeat; position: relative}
.graphic-input li.remember {background: transparent}
.graphic-input li.remember input#remember_me {display: inline; float: left; width: 25px}
.graphic-input li.remember label {font-weight: normal}
#page #header li.graphic-input {background: url('/images/new/bg-sprite-btns.png') right -39px no-repeat; display: block; padding-right: 8px; width: 153px}
#page #wrapper #secondary .graphic-input {background: url('/images/new/bg-sprite-btns.png') right -39px no-repeat; margin-left: 3px; width: 166px}
#left-col {float: left; width: 300px}
#right-col {clear: right; float: left; width: 250px}
#right-col img {border: solid 1px #999; float: right; margin: 12px 0 0 10px}
.menu_h {clear: both}
.menu_h li {float: left; margin-right: 10px}
 #activity-chart {border-top: solid 1px #327c83; border-right: solid 1px #327c83; width: 100%}
#activity-chart-navigation {overflow: visible; vertical-align: top; width: 225px}
#activity-chart-navigation ul {list-style: none; margin: 0; overflow: visible; padding: 0; width: 225px}
#activity-chart-navigation li {cursor: pointer; font-size: 100%; font-weight: bold; list-style: none; margin: 0; padding: 8px 4px; position: relative; width: 216px}
#activity-chart-panels {border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; vertical-align: top}
#activity-chart-panels h2 {border-top: solid 1px #327c83; font: bold 1.5em Arial, Helvetica, sans-serif; margin: 0 -5px 10px; padding: 5px 0 0 10px}
#activity-chart-panels div.unit-activities script + div h2 {border-top: none !important}
.heading-info {font-weight: normal; font-size: 12px}
.heading-info label {float: none; cursor: pointer}
.activity-title {font-weight: bold; margin-top: 0}
.activity-info {font-weight: normal; color: #327c83}
.activity-links {margin-bottom: 10px}
.activity-links a {color: #333}
.activity-description {background: #fff; border: solid 1px #ccc; display: none; margin: 5px 0; padding: 5px; width: auto}
.activity-image {background-color: #ffffff}
.activity-box {margin: 0 10px 15px 5px}
li.selected-category {background-color: #cfe3e3 !important; color: #327c83 !important; margin-right: -1px !important; position: absolute; width: 217px !important; z-index: 1000}
div.selected-category {background-color: #cfe3e3 !important; border: none !important; color: #327c83 !important}
div.selected-category h2 {color: #327c83 !important}
.level1 {background-color: #368991; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #cfe3e3}
.level2 {background-color: #ea9b18; border-bottom: solid 1px #d07810; border-left: solid 1px #327c83; color: #555}
.level3 {background-color: #8fbf5f; border-bottom: solid 1px #3e6616; border-left: solid 1px #327c83; color: #555}
.level4 {background-color: #fee9aa; border-bottom: solid 1px #877233; border-left: solid 1px #327c83; color: #555}
.level5, .level6 {background-color: #fff; border-bottom: solid 1px #877233; border-left: solid 1px #327c83; color: #555}
.level7 {background-color: #cac9e4; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level8 {background-color: #96a3be; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level9 {background-color: #b9884a; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level10 {background-color: #81a88e; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level11 {background-color: #ccc; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level12 {background-color: #bdb3cd; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level13 {background-color: #7c94aa; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level14 {background-color: #fff; border-bottom: solid 1px #877233; border-left: solid 1px #327c83; color: #555}
.level15 {background-color: #bebebe; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.level16 {background-color: #eee38b; border-bottom: solid 1px #877233; border-left: solid 1px #327c83; color: #555}
.level17 {background-color: #fff; border-bottom: solid 1px #877233; border-left: solid 1px #327c83; color: #555}
.level999 {background-color: #d6c754; border-bottom: solid 1px #327c83; border-left: solid 1px #327c83; color: #555}
.unit-activities {padding: 5px; min-height: 375px}
#page-content .unit-title {margin: 0px; padding: 0px}
.navigation-count {font-weight: normal; text-decoration: none}
.roster-table {border: 1px solid #6a0e04}
.roster-table th {background-color: #dab4b0; border: 1px solid #6a0e04; font-weight: bold; padding: 4px}
.roster-table td {background-color: #fff; border: 1px solid #6a0e04; padding: 3px}
.activity-header {background-color: #fff; border: 1px solid #6a0e04; font-weight: bold; padding: 4px}
#activity-table-container table {border: 1px solid #6a0e04}
#activity-table-container th {background-color: #dab4b0; border: 1px solid #6a0e04; font-weight: bold; padding: 4px}
#activity-table-container td {background-color: #fff; border: 1px solid #6a0e04; padding: 3px}
 .icon-legend-box {display: none; position: absolute; right: 30px; top: 60px; width: 200px}
.icon-legend-box p {font-size: 92%; text-align: right}
#icon-legend {background: #ccc; border: 1px solid #999; position: absolute; right: 0; top: 23px}
 div.section {border-bottom: solid 1px #ccc; margin: 0 auto 10px; padding: 0 0 10px; position: relative}
div.section h3 {color: #257270; font-weight: normal; margin-bottom: 10px}
div.section p.add-new {top: 5px; font-size: .9em; padding: 0; position: absolute; right: 10px}
div.section select {color: #333; margin-left: 0}
 .component_title {clear: both; font-weight: bold; width: 100%}
#search-investigations {background: #fff; border: solid 1px #ddd; margin-bottom: 20px; padding: 10px}
#search-investigations select {margin-left: 0}
#search-investigations table {margin: 0; padding: 0}
 #footer {background: transparent url('/images/new/bg-footer.png') center bottom no-repeat; clear: both; height: 235px; min-height: 235px; position: relative}
#footer p {font-size: .9em; margin: .3em 0 0}
#footer ul, #footer p {color: #a0a0a0; font: .9em georgia, times, serif; margin-bottom: 0; margin-left: 300px}
#footer li {display: inline}
#footer li a {color: #727272; margin-right: 10px}
#footer li a:hover, #footer li a:focus {color: #3e3e3e}
#footer .footer-inner {bottom: 5px; display: block; left: 0; margin: 0 0 0 -40px; position: absolute; width: 800px}
#footer #share-it {float: right; margin: -26px 123px 0 0; width: 125px}
#under_footer {display: none}
.template_container {position: relative; display: block; min-height: 40px; margin-bottom: 20px; color: black}
.template_container .over {overflow: hidden; background-color: #DDDDDD}
.template_view_title {margin-left: 30px; display: block}
.template_view_container {margin-left: 30px; display: block}
.template_edit_container {margin-left: 30px; display: block}
.template_disable_button {display: block; position: absolute; left: 0px; top: 10px; width: 16px; height: 16px; background-image: url('/images/x_alt_16x16.png'); background-position: top right}
.template_enable_button {display: block; position: absolute; left: 0px; top: 10px; width: 16px; height: 16px; background-image: url('/images/check_alt_16x16.png'); background-position: top right}
.template_edit_button {display: block; position: absolute; left: 0px; top: 30px; width: 16px; height: 16px; background-image: url('/images/pen_16x16.png'); background-position: top right}
.disabled {opacity: 0.2}
.enabled {opacity: 1}
#accordion_nav {display: block; overflow: hidden; height: 100%; font-size: 12px}
.accordion_header {color: #202e37; font-style: normal; font-size: 10px; display: block; padding: 5px; margin: 5px; border: 1px dotted}
.accordion_header a, .accordion_header a:active, .accordion_header a:visited, .accordion_header a:link {color: #202e37 !important; display: block}
.accordion_header a:hover, .accordion_header a:active:hover, .accordion_header a:visited:hover, .accordion_header a:link:hover {color: #f2f8fc !important; background-color: #202e37 !important}
.accordion_show_hide_text {display: block; float: right; margin-right: 16px}
.accordion_toggle {display: inline-block; min-width: 14px; min-height: 12px; float: right; cursor: pointer; font-size: 10px; background-repeat: no-repeat; background-position: right top}
.accordion_toggle_closed {background-image: url(/images/plus-minus-sprite.png); height: 12px; padding-right: 5px}
.accordion_toggle_closed:hover {background-image: url(/images/plus-minus-sprite.png)}
.accordion_toggle_open {background-image: url(/images/plus-minus-sprite.png); background-position: right -11px; height: 8px; padding-right: 5px}
.accordion_toggle_open:hover {background-image: url(/images/plus-minus-sprite.png); background-position: right -11px}
.accordion_container {display: block; overflow: hidden; width: auto; height: auto; background-color: #fff; border: 1px solid #89b4b7; margin: 2px; padding: 2px; cursor: move}
.accordion_container .description {font-size: 9px; clear: both}
.accordion_container .accordion_name {display: block; float: left; font-weight: bold; width: 100%}
.accordion_container .selected {font-weight: bold !important}
.accordion_container a {display: inline; font-weight: normal !important; cursor: pointer}
.accordion_container a:hover {background-color: #202e37 !important; color: #f2f8fc !important}
.accordion_container .action a {font-weight: bold !important}
.accordion_container .accordion_content {display: block; overflow: hidden; clear: left; margin: 5px; padding: 2px}
.accordion_container .accordion_content ul {padding: 2px; padding-left: 0px}
.accordion_container .accordion_content .accordion_page {padding: 2px; margin-top: 5px; border: 1px solid; display: block; width: auto; height: auto; cursor: move; background-color: #f2f8fc; background-image: url(/images/red_dot.png); background-position: 98% 50%; background-repeat: no-repeat}
.accordion_container .accordion_content .accordion_page:hover {background-image: url(/images/red_dot.png); background-position: 98% 50%; background-repeat: no-repeat; color: #202e37 !important; background-color: white}
.accordion_container .accordion_content .accordion_page .selected {border-width: 2px}
.accordion_container .accordion_content th {text-decoration: underline; font-variant: small-caps}
.accordion_container .accordion_content .accordion_section {padding: 2px; margin-top: 5px; border: 1px solid; display: block; width: 95%; min-height: 20px; height: auto !important; float: left; cursor: move; background-color: #f2f8fc !important}
.accordion_container .accordion_content .accordion_section a.accordion_section_title {width: 95% !important}
.accordion_container .accordion_content .accordion_section:hover {color: #202e37 !important; background-color: white}
.accordion_container .accordion_content .accordion_section .selected {border-width: 2px}
.offering_print_all a {font-size: 10px}
.accordion_name {float: left; width: 60% !important}
.accordion_toggle {float: right; width: 30%}
.ui-window {position: absolute}
.ui-window .move_handle {cursor:move !important}
 .ui-window .resize_handle {line-height: 1px; font-size:1px; width: 8px; height: 8px; z-index: 90; position: absolute}
.ui-window .se_sizer {cursor: se-resize; z-index: 100; bottom:0; right:0}
.ui-window .sw_sizer {cursor: sw-resize; z-index: 100; bottom:0; left:0}
.ui-window .nw_sizer {cursor: nw-resize; z-index: 100; top:0; left:0}
.ui-window .ne_sizer {cursor: ne-resize; z-index: 100; top:0; right:0}
.ui-window .n_sizer {cursor: n-resize; width:100%; top:0; left:0}
.ui-window .s_sizer {cursor: s-resize; width: 100%; bottom:0; left:0}
.ui-window .e_sizer {cursor: e-resize; height:100%; top:0; right:0}
.ui-window .w_sizer {cursor: w-resize; height:100%; top:0; left:0}
.ui-window .content {overflow: auto; position: relative}
html>body .ui-window .content { border-top: 1px solid transparent}
.rites .nw {background:transparent url(/stylesheets/window/rites/top_unactive.gif) no-repeat scroll 0px 0px; height:22px; padding-left:10px}
.rites_focused .nw {background:transparent url(/stylesheets/window/rites/top.gif) no-repeat scroll 0px 0px !important}
.rites .ne {background:transparent url(/stylesheets/window/rites/top_unactive.gif) no-repeat scroll right -44px; height:22px; padding-right:10px}
.rites_focused .ne {background:transparent url(/stylesheets/window/rites/top.gif) no-repeat scroll right -44px !important}
.rites .n {background:transparent url(/stylesheets/window/rites/top_unactive.gif) repeat-x scroll right -22px; color:#17385B; font:normal 14px/26px Arial, sans-serif; height:22px; margin:0; padding:0; text-align:center; overflow: hidden; padding-left:60px; line-height: 20px; color: #000}
.rites_focused .n {background:transparent url(/stylesheets/window/rites/top.gif) repeat-x scroll right -22px !important}
.rites .content {background-color:#bcd6ea; color:#00233a; overflow:auto}
.rites .w {border-left:1px solid #DDD; border-right:1px solid #DDD}
.rites .e {border-left:1px solid #EEE; border-right:1px solid #EEE}
.rites .sw {background:transparent url(/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll 0 0px; font-size:2px; height:15px; padding-left:12px}
.rites_focused .sw {background:transparent url(/stylesheets/window/rites/bottom.gif) no-repeat scroll 0 0px !important}
.rites .se {background:transparent url(/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll right -30px; font-size:2px; height:15px; padding-right:12px}
.rites_focused .se {background:transparent url(/stylesheets/window/rites/bottom.gif) no-repeat scroll right -30px !important}
.rites_focused .se_sizer {width:12px; height:12px}
.rites .se_resize_handle {background:transparent url(/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll right -45px; font-size:2px; height:15px; padding-right:12px}
.rites_focused .se_resize_handle {background:transparent url(/stylesheets/window/rites/bottom.gif) no-repeat scroll right -45px !important}
.rites .s {background:transparent url(/stylesheets/window/rites/bottom_unactive.gif) repeat-x scroll 0 -15px; font-size:12px; line-height:15px; height:15px; overflow:hidden}
.rites_focused .s {background:transparent url(/stylesheets/window/rites/bottom.gif) repeat-x scroll 0 -15px !important}
.rites .buttons {position: absolute; top:1px; left:7px; height: 20px}
.rites .buttons a.close {float:left; background:transparent url(/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0; background-repeat: no-repeat; height:15px; width:14px; margin: 3px 7px 0 0px; padding-top:0px;  overflow:hidden}
.rites_focused .buttons a.close {background:transparent url(/stylesheets/window/rites/buttons.gif) no-repeat 0 0 !important; background-repeat: no-repeat}
.rites .buttons.over a.close {background:transparent url(/stylesheets/window/rites/buttons_over.gif) no-repeat 0 0px !important}
.rites .buttons a.maximize {float:left; background:transparent url(/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0; height:15px; width:14px; margin: 3px 7px 0 0; padding-top:2px;  overflow:hidden}
.rites_focused .buttons a.maximize {background:transparent url(/stylesheets/window/rites/buttons.gif) no-repeat 0 -30px !important}
.rites .buttons.over a.maximize {background:transparent url(/stylesheets/window/rites/buttons_over.gif) no-repeat 0 -30px !important}
.rites .buttons a.minimize {float:left; background:transparent url(/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0; height:15px; width:14px; margin: 3px 7px 0 0; padding-top:1px;  overflow:hidden}
.rites_focused .buttons a.minimize {background:transparent url(/stylesheets/window/rites/buttons.gif) no-repeat 0 -15px !important}
.rites .buttons.over a.minimize {background:transparent url(/stylesheets/window/rites/buttons_over.gif) no-repeat 0 -15px !important}
.rites .buttons a.minimize.disabled, .rites .buttons.over a.minimize.disabled {background:transparent url(leopard/button_unactive.gif) no-repeat 0 0 !important}
.rites_overlay {position:absolute; top:0; left:0; width:100%; background-color:#00233a; filter:alpha(opacity=80); opacity: 0.8; -moz-opacity: 0.8}
.rollover {padding: 0px; margin: 0px; margin-right: 1em; display: block; clear: none; float: left; height: 18px; width: 18px; overflow: hidden; border: none}
a.rollover a.rollover:visited a.rollover:active {padding: 0px; margin: 0px; margin-right: 1em; display: block; height: 18px; width: 18px; overflow: hidden; border: none}
a.rollover:hover {display: block; text-indent: -18px; background-color: inherit !important}
#investigation_activities_list {list-style-type: none; margin: 20px 0 0; padding-left: 0}
.action_menu {font-size: 11px; margin: 0 !important; padding: 3px 10px; background-color: #FEE9AA; clear: both; overflow: hidden; display: inline-block}
.action_menu ul li {list-style-type: none}
.action_menu fieldset {background-color: transparent}
.action_menu {display: block}
.action_menu .action_menu_header_left {float: left; text-align: left; margin: 0px}
.action_menu .action_menu_header_left .author {font-size: 9px; font-style: italic}
.action_menu .action_menu_header_left a {color: #fff}
.action_menu .action_menu_header_right {background: transparent; float: right; text-align: right; margin: 0px; padding-right: 10px}
.action_menu .action_menu_header_right .author {font-size: 9px; font-style: italic}
.action_menu .action_menu_header_right ul {margin: 0; padding: 0em}
.action_menu .action_menu_header_right ul li {display: inline; list-style-type: none; background-color: #bcd6ea; padding: 0px; padding-right: 10px}
.action_menu .action_menu_header_right ul li a, .action_menu .action_menu_header_right ul li a:visited, .action_menu .action_menu_header_right ul li a:active {cursor: pointer; color: #111111; font-weight: bold; text-decoration: none; padding: 2px 8px 0px 2px}
.action_menu .action_menu_header_right ul li a:hover {color: white}
.action_menu .action_menu_header_right ul li.selected a, .action_menu .action_menu_header_right ul li.selected a:visited, .action_menu .action_menu_header_right ul li.selected a:active {color: white}
.action_menu .action_menu_header_right ul li.label {font-weight: bold}
.action_menu .action_menu_header_right ul {background: transparent}
.action_menu .action_menu_header_right ul li {background: transparent}
.action_menu .action_menu_header_right ul li a, .action_menu .action_menu_header_right ul li a:visited, .action_menu .action_menu_header_right ul li a:active {font-weight: normal; text-align: center; margin: 7px 0; padding: 3px 7px;  border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px}
.action_menu .action_menu_header_right ul li a.rollover img {border-style: none}
.action_menu .action_menu_left {float: left; display: table-cell; text-align: left}
.action_menu .action_menu_left ul {margin: 0; padding: 0em}
.action_menu .action_menu_left ul li {display: inline; list-style-type: none; background-color: #bcd6ea; padding: 0px; padding-right: 10px}
.action_menu .action_menu_left ul li a, .action_menu .action_menu_left ul li a:visited, .action_menu .action_menu_left ul li a:active {cursor: pointer; color: #111111; font-weight: bold; text-decoration: none; padding: 2px 8px 0px 2px}
.action_menu .action_menu_left ul li a:hover {color: white}
.action_menu .action_menu_left ul li.selected a, .action_menu .action_menu_left ul li.selected a:visited, .action_menu .action_menu_left ul li.selected a:active {color: white}
.action_menu .action_menu_left ul li.label {font-weight: bold}
.action_menu .action_menu_right {float: right; display: table-cell; text-align: right}
.action_menu .action_menu_right ul {margin: 0; padding: 0em}
.action_menu .action_menu_right ul li {display: inline; list-style-type: none; background-color: #bcd6ea; padding: 0px; padding-right: 10px}
.action_menu .action_menu_right ul li a, .action_menu .action_menu_right ul li a:visited, .action_menu .action_menu_right ul li a:active {cursor: pointer; color: #111111; font-weight: bold; text-decoration: none; padding: 2px 8px 0px 2px}
.action_menu .action_menu_right ul li a:hover {color: white}
.action_menu .action_menu_right ul li.selected a, .action_menu .action_menu_right ul li.selected a:visited, .action_menu .action_menu_right ul li.selected a:active {color: white}
.action_menu .action_menu_right ul li.label {font-weight: bold}
.action_menu .action_menu_header_right a {color: #fff}
.action_menu ul.menu {list-style-image: none; list-style-position: outside; list-style-type: none}
.block_list ul {list-style: none; margin: 0 0 1.5em; padding: 0}
#clazz_offerings {background: #fff; border: solid 1px #ddd; color: #333; height: auto; margin-top: 0; margin-right: 40px; min-height: 50px; padding: 6px 4px 4px; width: 592px}
.action_menu_activity {background: #fff; color: #333; padding: 6px}
.action_menu_activity_title {clear: both; font-size: 1em; width: 100%}
.action_menu_activity_options {float: left; width: 50%}
.action_menu_activity_options a {color: #333}
#note{z-index:20;font-size:9pt;margin:1em;padding:4em;color:#00233a;background-color:#f2f8fc;text-align:left;position:fixed;margin-left:25%;width:50%;z-index:20;height:auto;border:2px solid}#note .selected{color:#f2f8fc !important;background-color:#00233a !important}#note a{font-weight:bold;padding:0px;text-decoration:none;background-color:transparent}#note a:link{color:#00233a}#note a:visited{color:#00233a}#note a:active{color:#00233a}#note a:hover{color:#f2f8fc;background-color:#00233a}#note a.delete:link{color:#9b3243}#note a.delete:active{color:#9b3243}#note a.delete:visited{color:#9b3243}#note a.delete:hover{color:#fff;background-color:#9b3243}.alert{z-index:20;font-size:9pt;margin:1em;padding:4em;color:#00233a;background-color:#f2f8fc;text-align:left;position:fixed;margin-left:25%;width:50%;z-index:20;height:auto;border:2px solid}.alert .selected{color:#f2f8fc !important;background-color:#00233a !important}.alert a{font-weight:bold;padding:0px;text-decoration:none;background-color:transparent}.alert a:link{color:#00233a}.alert a:visited{color:#00233a}.alert a:active{color:#00233a}.alert a:hover{color:#f2f8fc;background-color:#00233a}.alert a.delete:link{color:#9b3243}.alert a.delete:active{color:#9b3243}.alert a.delete:visited{color:#9b3243}.alert a.delete:hover{color:#fff;background-color:#9b3243}
.dropdown {z-index: 1000; display: block; position: absolute; left: -1000px; top: 0px; clear: left; float: none; background: transparent; font-size: 10px; overflow-x: hidden}
.dropdown .big {font-size: 1.2em}
.dropdown ul {background-color: white; list-style-type: none; font-weight: normal; border: 1px black solid}
.dropdown li {color: #00233a; background-color: #f2f8fc; list-style-type: none; padding: 0.5em}
.dropdown li .selected {color: #f2f8fc !important; background-color: #00233a !important}
.dropdown li a {font-weight: bold; padding: 0px; text-decoration: none; background-color: transparent}
.dropdown li a:link {color: #00233a}
.dropdown li a:visited {color: #00233a}
.dropdown li a:active {color: #00233a}
.dropdown li a:hover {color: #f2f8fc; background-color: #00233a}
.dropdown a {display: block}
.dropdown a.rollover {clear: left !important}
.deletable_field_container{margin-top:10px;display:block;float:left;clear:none}.deletable_field_container input{float:left;clear:none}
.answered {background-color: white}
.not_answered {background-color: #cccccc}
.table {width: 100%; display: table; border-collapse: collapse}
.row {display: table-row; width: 100%}
.cell {display: table-cell}
.cellheader {font-weight: bold}
.optionlabel {padding-left: 10px; width: 310px}
.optionbar {width: 300px; padding-right: 10px; padding-bottom: 2px; vertical-align: middle; border-left: 1px solid black}
.optionbarbar {display: block; height: 100%; border: 1px solid black; margin-left: 1px}
.optionbarbar.correct {background-color: #ddffdd}
.optionbarbar.incorrect {background-color: #ffdddd}
.optionpercent {border-left: 2px solid black; padding-right: 2px; padding-left: 2px; text-align: right}
.optioncount {border-left: 1px solid black; padding-left: 2px; text-align: right}
.report_embeddable .accordion_container {overflow: visible}
.report_embeddable .accordion_container .accordion_name {display: inline-block; display: -moz-inline-block; width: 100%; float: none}
.report_embeddable .accordion_container .accordion_content {clear: both; overflow: visible}
.report_embeddable .accordion_container .empty_break {clear: both}
.report_embeddable img {max-width: 680px}
.report_embeddable .learner_response {margin-top: 2px; padding: 2px; border: 1px solid black; width: 680px}
.report_embeddable .learner_response.correct {background-color: #ddffdd}
.report_embeddable .learner_response.incorrect {background-color: #ffdddd}
.report_embeddable .learner_response_name {font-weight: bold; width: 200px; vertical-align: top}
.report_embeddable .learner_response_content {width: 460px; vertical-align: top}
.report_embeddable .learner_response_content img {max-width: 460px}
.inline_block {display: -moz-inline-block; display: inline-block}
.offering_print_all {float: right; font-size: 1.5em; margin-top: 5px}
.item .chosen_answer {font-weight: bold}
.item .chosen_answer.correct {background-color: #ddffdd}
.item .chosen_answer.incorrect {background-color: #ffdddd}
@media print {.item .incorrect {text-decoration: line-through}
.item .correct {font-style: oblique}
.optionlabel.incorrect {text-decoration: line-through}
.optionlabel.correct {font-style: oblique}
.filter_checkbox, .filter_selection_control, .print_control, #header, #footer, #under_footer {display: none}
.report_embeddable {overflow: visible}
.report_embeddable .learner_response {page-break-inside: avoid}
.report_embeddable .learner_response_content.incorrect {text-decoration: line-through}
.report_embeddable .learner_response_content.correct {font-style: oblique}
.report_embeddable .item {border: none}
.report_embeddable .ContentFlow {display: none; overflow: visible}
.report_embeddable .accordion_container {overflow: visible; border: none; border-bottom: 2px solid black; page-break-inside: avoid}
.report_embeddable .accordion_container .action_menu {overflow: visible}
.report_embeddable .accordion_container .accordion_toggle {display: none}
.report_embeddable .accordion_container .accordion_content {overflow: visible}
#wrapper {overflow: visible}
}