/* line 6, sass/reports.sass */
.answered {
  background-color: white;
}

/* line 8, sass/reports.sass */
.not_answered {
  background-color: #cccccc;
}

/* line 11, sass/reports.sass */
.table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

/* line 16, sass/reports.sass */
.row {
  display: table-row;
  width: 100%;
}

/* line 20, sass/reports.sass */
.cell {
  display: table-cell;
}

/* line 23, sass/reports.sass */
.cellheader {
  font-weight: bold;
}

/* line 26, sass/reports.sass */
.optionlabel {
  padding-left: 10px;
  width: 310px;
}

/* line 30, sass/reports.sass */
.optionbar {
  width: 300px;
  padding-right: 10px;
  padding-bottom: 2px;
  vertical-align: middle;
  border-left: 1px solid black;
}

/* line 37, sass/reports.sass */
.optionbarbar {
  display: block;
  height: 100%;
  border: 1px solid black;
  margin-left: 1px;
}

/* line 42, sass/reports.sass */
.optionbarbar.correct {
  background-color: #ddffdd;
}

/* line 44, sass/reports.sass */
.optionbarbar.incorrect {
  background-color: #ffdddd;
}

/* line 47, sass/reports.sass */
.optionpercent {
  border-left: 2px solid black;
  padding-right: 2px;
  padding-left: 2px;
  text-align: right;
}

/* line 53, sass/reports.sass */
.optioncount {
  border-left: 1px solid black;
  padding-left: 2px;
  text-align: right;
}

/* line 59, sass/reports.sass */
.report_embeddable .accordion_container {
  overflow: visible;
}
/* line 61, sass/reports.sass */
.report_embeddable .accordion_container .accordion_name {
  display: inline-block;
  display: -moz-inline-block;
  width: 100%;
  float: none;
}
/* line 66, sass/reports.sass */
.report_embeddable .accordion_container .accordion_content {
  clear: both;
  overflow: visible;
}
/* line 69, sass/reports.sass */
.report_embeddable .accordion_container .empty_break {
  clear: both;
}
/* line 71, sass/reports.sass */
.report_embeddable img {
  max-width: 680px;
}
/* line 73, sass/reports.sass */
.report_embeddable .learner_response {
  margin-top: 2px;
  padding: 2px;
  border: 1px solid black;
  width: 680px;
}
/* line 78, sass/reports.sass */
.report_embeddable .learner_response.correct {
  background-color: #ddffdd;
}
/* line 80, sass/reports.sass */
.report_embeddable .learner_response.incorrect {
  background-color: #ffdddd;
}
/* line 83, sass/reports.sass */
.report_embeddable .learner_response_name {
  font-weight: bold;
  width: 200px;
  vertical-align: top;
}
/* line 88, sass/reports.sass */
.report_embeddable .learner_response_content {
  width: 460px;
  vertical-align: top;
}
/* line 91, sass/reports.sass */
.report_embeddable .learner_response_content img {
  max-width: 460px;
}

/* line 94, sass/reports.sass */
.inline_block {
  display: -moz-inline-block;
  display: inline-block;
}

/* line 98, sass/reports.sass */
.offering_print_all {
  float: right;
  font-size: 1.5em;
  margin-top: 5px;
}

/* line 104, sass/reports.sass */
.item .chosen_answer {
  font-weight: bold;
}
/* line 106, sass/reports.sass */
.item .chosen_answer.correct {
  background-color: #ddffdd;
}
/* line 108, sass/reports.sass */
.item .chosen_answer.incorrect {
  background-color: #ffdddd;
}

@media print {
  /* line 113, sass/reports.sass */
  .item .incorrect {
    text-decoration: line-through;
  }
  /* line 115, sass/reports.sass */
  .item .correct {
    font-style: oblique;
  }

  /* line 118, sass/reports.sass */
  .optionlabel.incorrect {
    text-decoration: line-through;
  }

  /* line 120, sass/reports.sass */
  .optionlabel.correct {
    font-style: oblique;
  }

  /* line 123, sass/reports.sass */
  .filter_checkbox, .filter_selection_control, .print_control, #header, #footer, #under_footer {
    display: none;
  }

  /* line 125, sass/reports.sass */
  .report_embeddable {
    overflow: visible;
  }
  /* line 127, sass/reports.sass */
  .report_embeddable .learner_response {
    page-break-inside: avoid;
  }
  /* line 129, sass/reports.sass */
  .report_embeddable .learner_response_content.incorrect {
    text-decoration: line-through;
  }
  /* line 131, sass/reports.sass */
  .report_embeddable .learner_response_content.correct {
    font-style: oblique;
  }
  /* line 133, sass/reports.sass */
  .report_embeddable .item {
    border: none;
  }
  /* line 135, sass/reports.sass */
  .report_embeddable .ContentFlow {
    display: none;
    overflow: visible;
  }
  /* line 138, sass/reports.sass */
  .report_embeddable .accordion_container {
    overflow: visible;
    border: none;
    border-bottom: 2px solid black;
    page-break-inside: avoid;
  }
  /* line 143, sass/reports.sass */
  .report_embeddable .accordion_container .action_menu {
    overflow: visible;
  }
  /* line 145, sass/reports.sass */
  .report_embeddable .accordion_container .accordion_toggle {
    display: none;
  }
  /* line 147, sass/reports.sass */
  .report_embeddable .accordion_container .accordion_content {
    overflow: visible;
  }

  /* line 150, sass/reports.sass */
  #wrapper {
    overflow: visible;
  }
}
