.answered {
  background-color: white; }

.not_answered {
  background-color: #cccccc; }

.table {
  width: 100%;
  display: table;
  border-collapse: collapse; }

.row {
  display: table-row;
  width: 100%; }

.cell {
  display: table-cell; }

.cellheader {
  font-weight: bold; }

.optionlabel {
  padding-left: 10px;
  width: 310px; }

.optionbar {
  width: 300px;
  padding-right: 10px;
  padding-bottom: 2px;
  vertical-align: middle;
  border-left: 1px solid black; }

.optionbarbar {
  display: block;
  height: 100%;
  border: 1px solid black;
  margin-left: 1px; }

.optionbarbar.correct {
  background-color: #ddffdd; }

.optionbarbar.incorrect {
  background-color: #ffdddd; }

.optionpercent {
  border-left: 2px solid black;
  padding-right: 2px;
  padding-left: 2px;
  text-align: right; }

.optioncount {
  border-left: 1px solid black;
  padding-left: 2px;
  text-align: right; }

.report_embeddable .accordion_container {
  overflow: visible; }
  .report_embeddable .accordion_container .accordion_name {
    display: inline-block;
    display: -moz-inline-block;
    width: 100%;
    float: none; }
  .report_embeddable .accordion_container .accordion_content {
    clear: both;
    overflow: visible; }
  .report_embeddable .accordion_container .empty_break {
    clear: both; }
.report_embeddable img {
  max-width: 680px; }
.report_embeddable .learner_response {
  margin-top: 2px;
  padding: 2px;
  border: 1px solid black;
  width: 680px; }
.report_embeddable .learner_response.correct {
  background-color: #ddffdd; }
.report_embeddable .learner_response.incorrect {
  background-color: #ffdddd; }
.report_embeddable .learner_response_name {
  font-weight: bold;
  width: 200px;
  vertical-align: top; }
.report_embeddable .learner_response_content {
  width: 460px;
  vertical-align: top; }
  .report_embeddable .learner_response_content img {
    max-width: 460px; }

.inline_block {
  display: -moz-inline-block;
  display: inline-block; }

.offering_print_all {
  float: right;
  font-size: 1.5em;
  margin-top: 5px; }

.item .chosen_answer {
  font-weight: bold; }
.item .chosen_answer.correct {
  background-color: #ddffdd; }
.item .chosen_answer.incorrect {
  background-color: #ffdddd; }

@media print {
  .item .incorrect {
    text-decoration: line-through; }
  .item .correct {
    font-style: oblique; }

  .optionlabel.incorrect {
    text-decoration: line-through; }

  .optionlabel.correct {
    font-style: oblique; }

  .filter_checkbox, .filter_selection_control, .print_control, #header, #footer, #under_footer {
    display: none; }

  .report_embeddable {
    overflow: visible; }
    .report_embeddable .learner_response {
      page-break-inside: avoid; }
    .report_embeddable .learner_response_content.incorrect {
      text-decoration: line-through; }
    .report_embeddable .learner_response_content.correct {
      font-style: oblique; }
    .report_embeddable .item {
      border: none; }
    .report_embeddable .ContentFlow {
      display: none;
      overflow: visible; }
    .report_embeddable .accordion_container {
      overflow: visible;
      border: none;
      border-bottom: 2px solid black;
      page-break-inside: avoid; }
      .report_embeddable .accordion_container .action_menu {
        overflow: visible; }
      .report_embeddable .accordion_container .accordion_toggle {
        display: none; }
      .report_embeddable .accordion_container .accordion_content {
        overflow: visible; }

  #wrapper {
    overflow: visible; } }

.question_container {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #89b4b7;
  margin: 2px;
  padding: 2px; }
