#teacher_bottom {
  font-size: 12px;
  font-family: "Trebuchet MS",verdana,sans-serif;
  color: #6a0e04;
  background-color: #e0ede3;
  z-index: 10;
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 2px;
  left: 0px;
  top: 0px;
  font-size: 8pt;
  opacity: 0.9;
  moz-opacity: 0.9; }
  #teacher_bottom a {
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    background-color: transparent; }
  #teacher_bottom a:link {
    color: #6a0e04; }
  #teacher_bottom a:visited {
    color: #6a0e04; }
  #teacher_bottom a:active {
    color: #6a0e04; }
  #teacher_bottom a:hover {
    color: #e0ede3;
    background-color: #6a0e04; }
  #teacher_bottom a.delete:link {
    color: #6a0e04; }
  #teacher_bottom a.delete:active {
    color: #6a0e04; }
  #teacher_bottom a.delete:visited {
    color: #6a0e04; }
  #teacher_bottom a.delete:hover {
    color: white;
    background-color: #6a0e04; }

#some_data {
  z-index: 20;
  font-size: 9pt;
  margin: 1em;
  padding: 1em;
  color: #6a0e04;
  background-color: white;
  opacity: 1.0;
  moz-opacity: 1.0;
  text-align: left;
  position: relative;
  margin-left: 25%;
  width: 50%;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  opacity: 1;
  moz-opacity: 1; }
  #some_data a {
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    background-color: transparent; }
  #some_data a:link {
    color: #6a0e04; }
  #some_data a:visited {
    color: #6a0e04; }
  #some_data a:active {
    color: #6a0e04; }
  #some_data a:hover {
    color: white;
    background-color: #6a0e04; }
  #some_data a.delete:link {
    color: #6a0e04; }
  #some_data a.delete:active {
    color: #6a0e04; }
  #some_data a.delete:visited {
    color: #6a0e04; }
  #some_data a.delete:hover {
    color: white;
    background-color: #6a0e04; }
