#teacher_bottom {
  font-size: 12px;
  font-family: verdana, optima, helvetica, arial, sans-serif;
  color: #bcd6ea;
  background-color: #00233a;
  z-index: 10;
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  padding: 2px;
  left: 0px;
  top: 0px;
  font-size: 8pt;
  opacity: 0.9;
  moz-opacity: 0.9; }
  #teacher_bottom .selected {
    color: #00233a !important;
    background-color: #bcd6ea !important; }
  #teacher_bottom a {
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    background-color: transparent; }
  #teacher_bottom a:link {
    color: #bcd6ea; }
  #teacher_bottom a:visited {
    color: #bcd6ea; }
  #teacher_bottom a:active {
    color: #bcd6ea; }
  #teacher_bottom a:hover {
    color: #00233a;
    background-color: #bcd6ea; }
  #teacher_bottom a.delete:link {
    color: #9b3243; }
  #teacher_bottom a.delete:active {
    color: #9b3243; }
  #teacher_bottom a.delete:visited {
    color: #9b3243; }
  #teacher_bottom a.delete:hover {
    color: white;
    background-color: #9b3243; }

#some_data {
  z-index: 20;
  font-size: 9pt;
  margin: 1em;
  padding: 1em;
  color: #00233a;
  background-color: #f2f8fc;
  opacity: 1;
  moz-opacity: 1;
  text-align: left;
  position: relative;
  margin-left: 25%;
  width: 50%;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  opacity: 1;
  moz-opacity: 1; }
  #some_data .selected {
    color: #f2f8fc !important;
    background-color: #00233a !important; }
  #some_data a {
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
    background-color: transparent; }
  #some_data a:link {
    color: #00233a; }
  #some_data a:visited {
    color: #00233a; }
  #some_data a:active {
    color: #00233a; }
  #some_data a:hover {
    color: #f2f8fc;
    background-color: #00233a; }
  #some_data a.delete:link {
    color: #9b3243; }
  #some_data a.delete:active {
    color: #9b3243; }
  #some_data a.delete:visited {
    color: #9b3243; }
  #some_data a.delete:hover {
    color: white;
    background-color: #9b3243; }
