/ = render :partial => 'shared/collection_menu', :locals => { :collection => @portal_grade_levels, :collection_class => Portal::GradeLevel }
= render :partial => 'show', :collection => @portal_grade_levels, :as => :portal_grade_level
