- content_for(:otrunk_doc_id) do
  =@n_logo_model.uuid
- content_for(:n_logo_model_object_id) do
  =dom_id_for(@n_logo_model)
= render :partial => "show", :locals => { :n_logo_model => @n_logo_model }