@import "../../../../shared/styles/variables/variables";
@import "./vars";

.manageFormsTabContent {
  .controlsArea {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    label {
      text-transform: none;
      font-weight: 300;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    div {
      display: flex;
    }

    .leftSide {
      width: 50%;
      justify-content: flex-start;
      > div {
        align-items: center;
        margin-right:15px;
      }
      select {
        width: 400px;
      }
    }

    .rightSide {
      justify-content: flex-end;
    }
  }

  .editColumn {
    width: $editColumnWidth;
  }
  .archiveColumn {
    width: $archiveColumnWidth;
  }
  .deleteColumn {
    width: $deleteColumnWidth;
  }
}
