@import "../../../../shared/styles/variables/variables";
@import "./vars";

.permissionFormRow {
  .editColumn {
    width: $editColumnWidth;
  }
  .archiveColumn {
    width: $archiveColumnWidth;
  }
  .deleteColumn {
    width: $deleteColumnWidth;
  }

  &.isArchived {
    .nameColumn, .urlColumn, .urlColumn a {
      color: #3f3f3f;
      opacity: 0.5;
      font-style: italic;
    }
  }

  .basicButton {
    display: inline-block;
    color: $col-link;
    background-color: transparent;
    border: transparent;
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;

    &:hover {
      color: $col-gold;
    }
  }
}


