%p
  %strong
    SmartGraphs
%p
  The SmartGraphs project, funded by the National Science Foundation, studies the educational
  value of “SmartGraphs,” digital objects that “know” about themselves and that provide scaffolding
  to students to help them learn about graphs and the concepts conveyed in graphs. The project plans
  to create digital SmartGraphs that can be authored or customized by teachers and accept inputs
  from students’ responses, sketches, functions, models, and probes. The software analyzes the graphs
  for the kinds of features that experts recognize and then engages students in conversations that
  instruct and assess. The project goal is to develop SmartGraphs, document their effectiveness through
  rigorous research, and scale up so this technology becomes widely available.
%p
  This project is funded by the National Science Foundation (Grant No. DRL-0918522).
  Any opinions, findings, and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect
  the views of the National Science Foundation.
%h5
  Example Activity
%p
  If you'd like to try an example activity, check out
  %a{:href => "http://saildataservice.concord.org/2/offering/9462/jnlp/540/view?sailotrunk.otmlurl=http://otrunk.concord.org/examples/SmartGraph/juans-morning-jog.otml&sailotrunk.hidetree=false"}
    Juan's Morning Jog
  %span{:style => "font-size:0.85em;"}
    (size: 28 MB)
%p
  The example requires Java 5 (also referred to as 1.5) or later in order to run.
  %b
    Note:
  If you're using Mac OS X 10.4 or 10.5, you'll need to run our
  %a{:href => "http://jnlp.concord.org/dev/org/concord/maven-jnlp/web-start-fix/web-start-fix.jnlp"}
    Java WebStart Fix
  as well.
