#permission-form-v2-page

%p
  hello I am the new permission form page.  I can't seem to get data to arrive here from rails:
  = @permission_forms.inspect
  = @projects.inspect
  = @myvar.inspect


:javascript
  var permissionForms = #{@permission_forms.to_json.html_safe};
  console.log("| permission forms from rails: ", permissionForms);
  console.log("| PortalComponents: ", PortalComponents);
  PortalComponents.renderPermissionForms  ({
    dataUrl: Portal.API_V1, // TODO figure out correct API endpoint
  }, 'permission-form-v2-page')
