%div{:id => dom_id_for(lab_book_snapshot, :details), :class => 'content'}
  = wrap_edit_link_around_content(lab_book_snapshot, options={:complete => mce_init_string}) do
    %input{:type => :button, :name => lab_book_snapshot.name, :value =>lab_book_snapshot.name, :id => dom_id_for(lab_book_snapshot,:button)}
