= render :partial => 'shared/collection_menu', :locals => { :collection => @lab_book_snapshots, :collection_class => Embeddable::LabBookSnapshot }
= render :partial => 'shared/embeddable_container', :collection =>  @lab_book_snapshot, :as => :component
