<h1>Listing device_configs</h1>

<table>
  <tr>
  </tr>

<% @device_configs.each do |device_config| %>
  <tr>
    <td><%= link_to 'Show', device_config %></td>
    <td><%= link_to 'Edit', edit_probe_device_config_path(device_config) %></td>
    <td><%= link_to 'Destroy', device_config, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New device_config', new_probe_device_config_path %>