%fieldset
  %legend
    Password
  %li
    = f.label :password
    = f.password_field :password
  %li
    = f.label :password_confirmation, 'Confirm Password'
    = f.password_field :password_confirmation
