%fieldset
  %legend
    Password
  %ul.quiet_list
    %li
      = f.label :password, 'password', :class=>"aligned"
      = f.password_field :password,  :live => false, :class=>"aligned"
    %li
      = f.label :password_confirmation, 'Confirm Password', :class=>"aligned"
      = f.password_field :password_confirmation,  :live => false, :class=>"aligned"
