= hidden_field(:user, :has_projects_in_form, :value => true)
%fieldset
  %legend
    Projects
  %ul.menu_h
    - projects.each do |p|
      %li
        = p.name
        = check_box_tag "user[project_ids][]", p.id, @user.projects.include?(p)
