= hidden_field(:user, :has_roles_in_form, :value => true)
%fieldset
  %legend
    Roles
  %ul.options-list
    - roles = roles.sort_by &:title
    - roles.each do |r|
      %li
        = check_box_tag "user[role_ids][]", r.id, @user.roles.include?(r)
        %label
          = r.title.capitalize
