%fieldset
  %legend
    How did you hear about this service?
  .source_note{:style => "font-size: 0.85em; padding-left: 10px;"}
    If you are part of the Pennsylvania Standards Aligned System (SAS), please enter "SAS" here.
  .aligned
    %ul.quiet_list
      %li
        = text_field :user, :source, :live => false, :class => "aligned"
