%p= "How did you hear about ITSI?"
%p.source_note{:style => "font-size: 0.85em; padding-left: 10px; font-weight: normal;"}
  If you are attending a conference, please include which one.
%p= text_field :user, :source, :live => false, :class => "aligned"
