%div{ :id => dom_id_for(user, :item), :class => 'item' }
  %div.action_menu
    %div.action_menu_header_left   
      =link_to name_for_component(user), user
    %div.action_menu_header_right   
      %ul.menu
        - if (user.changeable?(current_user))
          - if user.portal_teacher
            %li.menu=link_to 'Teacher Page', portal_teacher_path(user.portal_teacher)
          %li.menu=link_to 'edit', edit_user_path(user)
  %div{:id => dom_id_for(user, :details), :class => 'tiny'}
    %ul.menu_h
      %li
        login:
        = user.login
      %li
        email:
        = user.email
      %li
        Roles: 
      - user.roles.each do |r| 
        %li
          = r.title.capitalize
      - if user.portal_teacher
        %li
          Cohorts: 
        - user.portal_teacher.cohort_list.each do |c| 
          %li
            = c
