%h2
  My Favorites

:javascript
  jQuery(document).ready(function() {
    var dest = '#results .search_resultscontainer',
        apiUrl = '#{api_v1_materials_get_favorites_path}';

    jQuery.ajax({
      dataType: "json",
      url: apiUrl,
      success: function(data) {
        console.info("INFO", data);
      }
    })

  });

