.landing-container

:javascript
  if (Portal.currentUser.isAnonymous) {
    PortalPages.renderSignupModal(
      {
        oauthProviders: Portal.oauthProviders,
        closeable: false
      }
    );
  } else {
    window.location.href = "/";
  }
