= render :partial => 'shared/collection_menu', :locals => { :collection => @dataservice_console_contents, :collection_class => Dataservice::ConsoleContent }
= render :partial => 'show', :collection => @dataservice_console_contents, :as => :dataservice_console_content
