%p{:style => "text-align: left;"}
  Please select three questions from the menus below,
  and answer each one in the adjacent field.
  %br
  If you forget your password, you will need to answer 
  these questions correctly in order to receive a new one.
