%div{:style => "width: 65%; text-align: left; margin: 15px 100px 5px;"}
  Please select three questions from the menus below. If you forget your password, you will need to answer these questions correctly in order to receive a new one.