%OTText{ :local_id => ot_local_id_for( biologica_world, :name ), :rows => '2', :columns => '40' }
  %text= biologica_world.name
%OTCompoundDoc{:local_id => ot_local_id_for(biologica_world)}
  %bodyText
    = biologica_world.description  
    %object{ :refid => ot_refid_for(biologica_world, :name) }
