- content_for(:project_info) do
  %h3
    About the Innovative Technology in Science Inquiry Project
  %strong
    Innovative Technology in Science Inquiry
  %p
    The Innovative Technology in Science Inquiry project engages students in STEM activities through the integrated use of technologies that include modeling, computational thinking, and real-time data acquisition. This comprehensive project will assist teachers in preparing diverse students for STEM careers by engaging them in exciting, inquiry-based science projects.
  %p
    NSF grant is issued by NSF 09-506 - Innovative Technology Experiences for Students and Teachers (ITEST) (Project number DRL-0929540.)
  %p
    = link_to "Try out the activities to see for yourself.", search_url
  %p
    %strong
      Why register?
    When you register as a teacher, you can assign activities to your students, follow their progress and get reports of their responses to questions embedded throughout the activities. (If students don’t register, you can still ask them to print out reports of their work from the final page of each activity.)
