@import "../../../../shared/styles/variables/variables";

.editStudentPermissionsForm {
  width: 540px;

  .formTop {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: $blue;
    color: white;
    font-weight: bold;
    padding: 8px 10px;

    .studentName {
      align-content: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .closeButton button {
      padding: 0px;
      border: none;
      width: 27px;
      height: 27px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: white;
      &:hover {
        background-color: darken(white, 10%);
      }
      i {
        color: $blue;
        margin: 0 auto;
        font-size: 15px;
      }
    }
  }

  .scrollableWrapper {
    max-height: 300px;
    overflow-y: auto;
  }

  .formRow {
    align-items: center;
    padding: 10px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    label {
      width: 80px;
      text-align: left;
      text-transform: capitalize;
      font-weight: 300;
    }

    input[type="checkbox"] {
      margin-left: 5px;
      margin-right: 5px;
      vertical-align: middle;
      width: 22px;
      height: 22px;
    }
  }

  .scrollableWrapper .formRow {
    &:nth-child(even) {
      background-color: #f5f5f5;
    }
  }

  .name {
    width: 273px;
  }

  .url {
    width: 450px;
  }

  .formButtonArea {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    padding: 10px 10px;
    padding-bottom:10px;
    background-color: $blue;

    button:first-child {
      margin-right: 8px;
    }

    .saveChangesButton {
      background-color: $permission-gold;
      border-color: $permission-gold;
      color: white;
      &:not(:disabled):hover {
        background-color: darken($permission-gold, 10%);
        border-color: darken($permission-gold, 10%);
      }
    }

    .cancelButton {
      background-color: #ccc;
      border-color: #ccc;
      color:#333;
      &:not(:disabled):hover {
        background-color: darken(#ccc, 10%);
        border-color: darken(#ccc, 10%);
      }
    }
  }
}
