.maincontainer.pie
  .container.bookmarks-page
    .right
      = render :partial => 'portal/clazzes/clazz_information', :locals => {:portal_clazz => @portal_clazz}
    .header
      Links
    - unless bookmarks_enabled
      Bookmarks support is disabled for this project.
    - else
      - render_add_bookmark_buttons
      #bookmarks_box
        - @bookmarks.each do |bookmark|
          = render :partial => 'show', :locals => {:bookmark => bookmark}
      %p.wait-message
