.maincontainer.pie
  .container.bookmarks-page
    .right
      = render :partial => 'portal/clazzes/clazz_information', :locals => {:portal_clazz => @portal_clazz}
    %h3
      Links
    - unless bookmarks_enabled
      Bookmarks support is disabled for this project.
    - else
      #edit-bookmarks
      :javascript
        PortalComponents.renderEditBookmarks({
          classId: #{@portal_clazz.id},
          bookmarks: #{@bookmarks.to_json}
        }, 'edit-bookmarks');
