
.itsi-learn-theme-styles {
  .project-header h1 {
    background: transparent image-url("banners/itsi-portal-banner.jpg") 0 0px no-repeat;
  }
  .welcome-box {
    background-color: rgba(0, 0, 0, 0.25);
    height: 95px;
    margin-right: 0;
    padding: 25px 20px 0;
    td {
      color: #fff;
      padding: 20px;

      a {
        color: #fff;
      }
    }
  }

  // ITSI wants to hide the student graphs until they are more reliable.
  .offering_for_student {
    table.status_graphs {display: none;}
  }
}
