= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_pedigrees, :collection_class =>BiologicaPedigree}        
- @biologica_pedigrees.each do |biologica_pedigree|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_pedigree}
