= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_worlds, :collection_class =>BiologicaWorld}        
- @biologica_worlds.each do |biologica_world|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_world}
