%script{:src => "/sparks-content/activities/measuring-resistance/javascript/activity.js", :type => "text/javascript"}
%script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/activity_log.js", :type => "text/javascript"}
%script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/assessment.js", :type => "text/javascript"}
%script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/feedback.js", :type => "text/javascript"}
%script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/grader.js", :type => "text/javascript"}
%script{:src => "/sparks-content/activities/measuring-resistance/javascript/assessment/log_parser.js", :type => "text/javascript"}
