%p Welcome student!
%p
  Thank you for registering to use the SPARKS (
  %em S
  imulations for
  %em P
  erformance
  %em A
  ssessments that
  %em R
  eport on
  %em K
  nowledge and
  %em S
  kills) modules. The SPARKS project is funded by the National
  Science Foundation and is designed to help students like you learn
  electronics by presenting realistic problems—similar to what you will
  see in the lab—simulated on a computer. As a registered student, you
  will receive
  %em instant feedback and detailed reports
  as you work to
  develop your electronic lab skills with the SPARKS modules.
%p
  You may have found the SPARKS web Portal on your own, or your
  instructor may have adopted this project to use in your regular class
  curriculum. Either way, when you register on this portal, you are
  allowing us to gather data from you (your answers and computer logs)
  as you work through the modules. This is how we are able to show you
  reports of your work. However,
  %em we would also like to use your data in our research
  To do this, we require your consent. If you do agree to
  allow us to use your data, we will strip it of all identifying
  information, including your name. We will analyze your data, together
  with data from all other SPARKS users, to evaluate how effective the
  SPARKS activities are in helping students learn electronics. The data
  we collect will help us to improve SPARKS and may also be used to
  guide potential future projects.
%p
  SPARKS is run by two non-profit educational research companies: The
  Concord Consortium, located in Concord, Massachusetts, and CORD,
  located in Waco, Texas. If you have any questions, you may
  contact the project&rsquo;s Principal Investigator, Dr. Paul
  Horwitz, at 978-405-3223, or the Chair of the Human Subjects
  Institutional Review Board of the Concord Consortium, Dr.
  Andrew Zucker, at 978-405-3231. If you give consent now and
  then change your mind later on, you can withdraw from the
  study at any time by contacting either of these people.
%p
  Allowing us to use your data is not required to use the SPARKS
  modules, but we would appreciate the ability to analyze as much
  student data as possible. Again, the data we collect from you will be
  entirely anonymous –  your name will be stripped off, along with all
  other features that might enable someone to identify you.
%p
  Please check YES below if you are willing to allow us to use your data
  in our research. Check NO if you will not allow us to use your data.
%p
  (radio buttons here)
%p
  We are interested to hear what you think about the SPARKS modules.
  There will be a link to provide feedback once you have logged into the
  Portal.
  %em Good luck and have fun!

