- content_for(:extra_head) do
  %link{ :href => "/stylesheets/drawing-tool.css", :rel=>"stylesheet"}

%script{:src => "/javascripts/drawing-tool-vendor.js"}
%script{:src => "/javascripts/drawing-tool.js"}
:javascript
  window.drawTool$ = jQuery.noConflict();
