.menu
  %ul
    - if RAILS_ENV == "development"
      %li
        id:
        =component.id
    %li
      = component.name
    %li
      = link_to_ajax_edit(page, component)
    %li
      = link_to_ajax_delete(page, component)
