- options = { :complete => mce_init_string }
- view_class = teacher_only?(page_element) ? "teacher_only container_element" : "container_element"
- if defined? page_element
  %div{ :id => dom_id_for(page_element, :item), :class => view_class }
    = show_menu_for(page_element, options)
    %div{ :id => dom_id_for(component, :item), :class => component.changeable?(current_user) ? 'item item_selectable ': 'item' }  
      = render_show_partial_for(component)
- else
  %div{ :id => dom_id_for(component), :class => view_class }
    = show_menu_for(component, options)
    %div{ :id => dom_id_for(component, :item), :class => component.changeable?(current_user) ? 'item item_selectable ': 'item' }
      = render_show_partial_for(component)