#footer
  .footer-inner
    %p.legal
      Copyright
      %span.copyright
        &copy;
      2011 Concord Consortium. All rights reserved.

    %p#footer_left
      Questions/Feedback:
      = mail_to(APP_CONFIG[:help_email] || APP_CONFIG[:default_admin_user][:email], "Send us an email", :subject => "#{APP_CONFIG[:theme].upcase} question", :encode => "javascript")
    %p#footer_right

=workgroup_javascript
