- investigation = @investigation ? @investigation : (@section ? @section.investigation : (@page ? @page.section.investigation : nil))
- section = @section ? @section : (@page ? page.section : nil)
- page = @page

- content_for :content_header_left do
  %ul.menu_h.tiny
    - if investigation
      %li.trail.selected
        &#x2192;
        =link_to truncate(investigation.name,:length => 25), investigation_url(investigation), :class => "selected"
    - if section
      %li.trail.selected
        &#x2192;
        =link_to truncate(section.name,:length => 20), section_url(section), :class => "selected"
    - if page
      %li.trail.selected
        &#x2192;
        =link_to truncate(page.name, :length => 15), page_url(page), :class => "selected"