.action_menu
  .action_menu_left
    %ul#section_tabs.subsection_tabs
      - investigation.sections.each do |section|
        %li{:id => dom_id_for(section, :tab), :class=>"tab"}
          - if @section && @section.id == section.id
            = link_to section.name, section_url(section), :class => "active"
          -else
            = link_to section.name, section_url(section)
  .action_menu_right
    %ul
      %li= link_to_remote 'add section', :url => {:controller=> 'investigations', :action=> 'add_new_section', :params => {:investigation_id => investigation.id}},:html => {:class=>'action'}