- content_for :sidebar do
  .step_tree
    %h3=link_to investigation.name, investigation_url(investigation)
    %ul.menu_v
    - investigation.sections.each do |section|
      - if @section && @section.id == section.id
        %li.menu_v.selected=link_to section.name, section_url(section)
        %ol.menu_v.tiny
        - section.pages.each do |page|
          - if @page && @page.id == page.id
            %li.menu_v.tiny.selected=link_to page.name, page_url(page)
          - else
            %li.menu_v.tiny=link_to page.name, page_url(page), :class => "tiny"
      - else
        %li.menu_v=link_to section.name, section_url(section)
