- investigation = @investigation ? @investigation : (@section ? @section.investigation : (@page ? @page.section.investigation : nil))
- section = @section ? @section : (@page ? page.section : nil)
- page = @page
- content_for :content_header do
  .trail
    %ul
    - if investigation
      %li.selected=link_to investigation.name, investigation_url(investigation), :class => "selected"
    - if section
      > 
      %li.selected=link_to section.name, section_url(section), :class => "selected"
    - if page
      >
      %li.selected=link_to page.name, page_url(page), :class => "selected"