.action_menu
  .action_menu_header_left
    %ul
      %li= name_for_component(investigation)
  .action_menu_header_right
    %ul
      %li
        = toggle_more(investigation,"sections_actions", "show/hide sections")
      %li
        = toggle_more(investigation, dom_id_for(investigation, :meta), 'edit')
      %li{:class => 'delete'}
        delete
%div{:id => dom_id_for(investigation, :meta), :style=>"display: none;"}
  = render :partial => "investigations/remote_form", :locals => {:investigation => investigation}
