%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu_header_left
    = name_for_component(investigation)
  .action_menu_header_right
    %ul.menu
      / %li= toggle_more(investigation,"sections_actions", "show/hide sections")
      %li= edit_button_for(investigation, :complete => mce_init_string())
      %li= link_to 'duplicate', duplicate_investigation_url(investigation)
      %li{:class => 'menu delete'}= delete_button_for(investigation)

