#sections_actions.action_menu
  .action_menu_header_left
    %span.legend Sections:
  .action_menu_header_right
    %ul.menu
      %li= link_to_remote 'add section', :complete => mce_init_string(), :url => add_section_investigation_path(investigation),:html => {:class=>'action'}
  .action_menu_left
    %ul#section_tabs.subsection_tabs
      - investigation.sections.each do |section|
        - if @section && @section.id == section.id
          = tab_for(section, :active => true)
        -else
          = tab_for(section)
    = sortable_element :section_tabs, :handle=> 'sort-handle', :dropOnEmpty => true, :url=> sort_sections_investigation_path(investigation)
    
  .action_menu_right
