%div{:id => dom_id_for(investigation,:item), :class =>"action_menu"}
  .action_menu_header_left
    %ul
      %li= name_for_component(investigation)
  .action_menu_header_right
    %ul
      %li
        = toggle_more(investigation,"sections_actions", "show/hide sections")
      %li
        = edit_button_for(investigation, :complete => mce_init_string())
      %li{:class => 'delete'}
        delete
