.action_menu
  .action_menu_left
    %ul#sections.sortable
      - if RAILS_ENV == "development"
        %li
          id:
          =component.id
      %li
        = component.name
  .action_menu_right
    %ul
      %li
        = link_to_ajax_update(page, component)
      %li
        = link_to_ajax_cancel(page, component)
