.menu
  %ul
    - if RAILS_ENV == "development"
      %li
        id:
        = component.id
    %li
      = component.name
    %li
      = edit_button_for_component(component)
    %li
      = link_to_ajax_delete(page, component)
