/ TODO: possible refactoring to make more clazzes specific.
/ Clazz navigation: top_node could be course, teacher, student ...
#clazzes_nav

:javascript
  var navOpts = Portal.API_V1.getNavigation()
  PortalPages.renderNavigation(Portal.API_V1.getNavigation(), 'clazzes_nav')
