#lightbox_wrapper{ :style => "display: none;" }
  #lightbox_report_backdrop   
  #lightbox_report
    %input#lightbox_report_update.button{:type => "button", :value=>"update now"}
    #report
      The report should go here.
