#lightbox_wrapper{ :style => "display: none;" }
  #lightbox_report_backdrop   
  #lightbox_report
    #lightbox_closer=image_tag('window/lightbox/buttons.png')
    #report
      The report should go here.
