-if offering.runnable
  .item
    %ul.quiet_list
      %li
        = run_link_for(offering)
      %li
        .tiny= offering.description


-#%li= link_to "View #{offering.name}", offering.runnable, :target => '_blank'
