- content_for :pages_tabs do
  %ul.subsection_tabs
    - section.pages.each do |page|
      - if @page && @page.id == page.id
        %li.tab.active
          = link_to page.name, page_url(page), :class => "active"
      -else
        %li.tab
          = link_to page.name, page_url(page)
