-skip_wait = NOT_USING_JNLPS ? "true" : "false"
:javascript
  var skipShowWait = #{skip_wait};

#please_wait{ :style => "display: none;" }
  #please_wait_inside
    .wait_image
      =image_tag('wait16.gif')
    .text
      Please
      %strong wait
      while your activity loads.
      This may take several minutes.
      %span#counter
        counter
