%div{:id => "portal-pages-header", :style => { alignContent: "left" } }

%script{:type=>"text/javascript"}
  PortalPages.renderPageHeader( { oauthProviders: Portal.oauthProviders }, "portal-pages-header");
