- locals = {:portal_clazz_id => portal_clazz_id, :domain_id => domain_id, :grade_span => grade_span, :name => "", :hide_print => true}
- locals[:hide_drafts_checkbox] = (!Admin::Project.default_project.first.admin_project_settings.allow_drafts_in_assignments)

= render :partial => 'investigations/search_form', :locals => locals
.tiny To add assignments to your class, drag the investigations below to your class assignments list above. If there are no investigations listed below, select and/or enter some search options in the form above.
= observe_form 'investigation_search_form', :url => list_filter_investigation_url, :frequency => 2, :before => "$('search_spinner').show();",:loaded => "$('search_spinner').hide();", :update => {:success => 'offering_list'}
#offering_list.drop_target
  = render :partial => "investigations/runnable_list", :locals => { :investigations => Investigation.search_list(locals), :hide_print => true }
  - ["ResourcePage", "ExternalActivity", "Page"].each do |klass|
    = render :partial => "shared/runnables_listing", :locals => { :runnables => klass.classify.constantize.search_list(locals), :klass => klass, :hide_print => true }
