.action_menu
  %h3 Available Investigations
  .tiny (drag to your class offering list on the left)
  = render :partial => 'investigations/gse_filter'
  = observe_form :gse_selector, :url => list_filter_investigation_url, :update => {:success => 'offering_list'}
#offering_list.drop_target
  = render :partial => 'investigations/runnable_list.html.haml', :locals => {:runnables => Investigation.published, :clazz => clazz}
