- locals = {:portal_clazz_id => portal_clazz_id, :domain_id => domain_id, :grade_span => grade_span, :name => ""}
- locals[:hide_drafts_checkbox] = (!APP_CONFIG[:allow_drafts_in_assignments])

= render :partial => 'investigations/search_form', :locals => locals
.tiny (drag to your class assignments list on the top)
= observe_form 'investigation_search_form', :url => list_filter_investigation_url, :frequency => 2, :before => "$('search_spinner').show();",:loaded => "$('search_spinner').hide();", :update => {:success => 'offering_list'}
#offering_list.drop_target
  = render_top_level_container_list_partial(locals)
  = render :partial => "resource_pages/runnable_list", :locals => { :resource_pages => ResourcePage.search_list(locals) }
  
  / = render :partial => "investigations/runnable_list.html.haml", :locals => { :investigations => Investigation.search_list(locals) }
  
