.action_menu
  .action_menu_left
    %ul.subsection_tabs
      - section.pages.each do |page|
        %li.tab
          - if @page && @page.id == page.id
            = link_to page.name, page_url(page), :class => "active"
          -else
            = link_to page.name, page_url(page)
  .action_menu_right
    %ul
      %li
        = link_to_remote 'add page', :url => {:action => 'add_page', :params => {:id => @section.id}}, :html => {:class=>'action'}
  
  