#page_actions.action_menu
  .action_menu_header_left
    %ul
      %li
        Pages:
  .action_menu_header_right
    %ul
      %li= link_to_remote 'add page', :complete => mce_init_string(), :url => add_page_section_path(section), :html => {:class=>'action'}

  .action_menu_left
    %ul#page_tabs.subsection_tabs
      - section.pages.each do |page|
        - if @page && @page.id == page.id
          = tab_for(page, :active => true)
        - else
          = tab_for(page)
  .action_menu_right
  
