%h3
  First Time Here?
%p
  Sign up for access as:
  %br
  = link_to("Student", signup_portal_students_path, :class=>'more')
  %br
  = link_to("Teacher", new_portal_teacher_path, :class=>'more')
%h3
  Just Want to Try the Units?
%p
  =link_to "View our unit Previews", investigation_preview_list_path, {:class=>'more'}
%h3 
  Need Help Setting up a Class?
%p
  =link_to "Read the Portal User Guide", "http://has.portal.concord.org/resources/HAS%20Portal%20Guide/HAS-Portal-User-Guide.pdf", {:class=>'more'}
