%h3
  First Time Here?
%p
  Sign up for access as:
  %br
  = link_to("Student", signup_portal_students_path, :class=>'more')
  %br
  = link_to("Teacher", new_portal_teacher_path, :class=>'more')
%h3
  Just want to try the activities?
%p
  =link_to "Browse instructional materials", search_path, {:class=>'more'}
