-# Expects locals: object
- if object && object.respond_to?("standards") && current_visitor.has_role?("admin", "manager")
  = field_set_tag 'Standards' do
    Filters
    %br
    %table
      %tr
        %td
          Standard Document
        %td
          %select{:id => "asn_document_id", :multiple => false}
            - StandardDocument.all.each do |s|
              %option{value: s.uri} #{s.name}
        %td
      %tr
        %td
          Notation
        %td
          %input{:id => "asn_statement_notation_query",   :type => "text"}
        %td
      %tr
        %td
          Label
        %td
          %input{:id => "asn_statement_label_query",      :type => "text"}
        %td
      %tr
        %td
          Description
        %td
          %input{:id => "asn_description_query",          :type => "text"}
        %td
          %input{:type => "button", :value => "Search",   :onclick => "window.searchASN()"}
    %div{:id => "asn_search_results_message" }
    %div{:id => "asn_search_results" }
    = render :partial => 'shared/standards_table', :locals => {:statements => [ {"description" => "dummy desc", "statement_label" => "Math", "statement_notation" => "ASD1234", "is_applied" => false, "uri" => "dummy://uri/abc" } ] }
    %br

:javascript
  jQuery(document).ready(function() {

    jQuery("#asn_search_results_message").hide();
    jQuery("#asn_search_results").hide();

    window.searchASN = function() {

      var params = [    "asn_document_id",
                        "asn_statement_notation_query",
                        "asn_statement_label_query",
                        "asn_description_query" ];

      var data          = {};
      var apiUrl        = "/api/v1/materials/get_standard_statements";
      var resultDiv     = jQuery("#asn_search_results");
      var message       = jQuery("#asn_search_results_message");

      message.hide();
      resultDiv.hide();

      for(let p of params) {
        data[p] = jQuery("#"+p).attr("value");
        console.log("Added " + p + ": " + data[p]);
      }
       
      jQuery.ajax({
        type: "POST",
        dataType: "json",
        url: apiUrl,
        data: data,
   	 	success: function(response) {
     	  console.log('Response ', response);

        }
      });

    };  // end window.searchASN()

  }); 

  
