#vendor_interface
  %fieldset
    %legend
      Selected Probeware Interface: 
      
    = f.collection_select(:vendor_interface_id, VendorInterface.all, :id, :name)

    #vendor_interface
      = render :partial => 'vendor_interfaces/vendor_interface', :locals => { :vendor_interface => vendor_interface }

= observe_field(:vendor_interface_id, :url => vendor_interface_path(vendor_interface), :update => 'vendor_interface', :with => 'name' )
