%fieldset
  %label{:for => 'user_vendor_interface_id'}
    %legend
      Selected Probeware Interface:
    = f.collection_select(:vendor_interface_id, Admin::Project.default_project.enabled_vendor_interfaces, :id, :name, :html => { :id => "vendor_interface_id" })

  #vendor_interface
    = render :partial => 'probe/vendor_interfaces/vendor_interface', :locals => { :vendor_interface => vendor_interface }

= observe_field(:user_vendor_interface_id, :function => "new Ajax.Updater('vendor_interface', '/probe/vendor_interfaces/'+value, {asynchronous:true, evalScripts:true, method:'get'})" )
