= render :partial => 'shared/collection_menu', :locals => { :collection => @models, :collection_class => Diy::Model, :show_export => true }
- @models.each do |model|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => model, 
      :overrides => {:display_name => "Model #{model.id}: #{model.name}", :link_title => true}}
