= button_to_remote('Create Padlet', { |
    :url => add_padlet_portal_clazz_bookmarks_path, |
    :loading => "window.bookmarksManager.setElemEnabled('create-padlet', false);", |
    :complete => "window.bookmarksManager.setElemEnabled('create-padlet', true);"}, |
    {:id => 'create-padlet'})
