.portal-pages-finder-result-image-preview {
  img {
    height: 100%;
    min-width: 100%;
    width: auto;
  }
}

.portal-pages-collections-card {
  .portal-pages-collections-card-image-preview {
    img {
      height: 100%;
      min-width: 100%;
      width: auto;
    }
  }
}
