<h1>Editing student_clazz</h1>

<% form_for(@student_clazz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student_clazz %> |
<%= link_to 'Back', portal_student_clazzes_path %>