- remote_form_for(data_table, :update => dom_id_for(data_table, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "data_tables/form", :locals => { :data_table => data_table, :f => f  }