%OTDataTable{ :local_id => ot_local_id_for(data_table), :name => data_table.name, :showLastRowForAddingNew => 'true', :visibleRows => data_table.visible_rows }
  %dataStore
    %OTDataStore{ :local_id => ot_local_id_for(data_table, :data_store), :numberChannels => data_table.column_count.to_s }
      %channelDescriptions
        - data_table.column_names.split(',').each do |column_name| 
          %OTDataChannelDescription{ :name => column_name, :numericData => 'false' }/
      %valuesString
        - 1.upto data_table.visible_rows do |y|
          - 1.upto data_table.column_count do |x|
            ="#{data_table.cell_data(x,y)}"
