= render :partial => 'shared/collection_menu', :locals => { :collection => @data_tables, :collection_class => DataTable }        

- @data_tables.each do |data_table|
  %div{ :id => dom_id_for(data_table, :item), :class => 'item' }
    = render :partial => "show", :locals => { :data_table => data_table }