- content_for(:content_header_left) do
  = will_paginate @data_tables
- content_for(:content_header_right) do
  - form_tag url_for(:action => "index", :page => session[:page] || 1 ), :method => 'get' do
    - content_tag :label do
      = text_field_tag :search, params[:search], :size => 30
    %input{ :type => "submit", :value => "Search"}

%p
  = page_entries_info @data_tables
- @data_tables.each do |data_table|
  %div{ :id => dom_id_for(data_table, :item), :class => 'item' }
    = render :partial => "show", :locals => { :data_table => data_table }