= form_for(@portal_district, :as => portal_district, :url => { :action => "create" }) do |f|
  = render :partial => 'form', :locals => { :portal_district => @portal_district, :f => f }
  = submit_tag
