- content_for :top_menu_items do
  - add_top_menu_item(link_to('GSEs', grade_span_expectations_path))

- content_for(:authored_investigations) do
  - field_set_tag "Investigations you've authored" do
    %ul
      - current_user.investigations.each do |inv|
        %li
          = link_to_container(inv)
