  
- content_for(:authored_investigations) do
  - field_set_tag "#{top_level_container_name.pluralize} you've authored" do
    %ul
      - current_user.investigations.each do |inv|
        %li
          = link_to_container(inv)
