- content_for(:side_bar) do
  .padded_content
    = render :partial => 'project_summary'

%p 
  %strong
    You're not logged in! Please log in or sign up.

%ul.quiet_list
  %li= render :partial => 'sessions/new'
  %li
    If you don't already have an account please sign up.
    = render :partial => 'shared/signup_paths'
