- content_for :top_menu_items do
  - add_top_menu_item(link_to('Investigations', investigations_path))

- content_for(:side_bar) do
  %p
    - field_set_tag 'Guest' do
      Hello Guest

- field_set_tag "You're not logged in!" do
  %p
    = link_to 'Login', login_path
    if you are a registered user or 
    = link_to 'Signup', pick_signup_path
    and become a member.
