- content_for(:project_info) do
  %h3
    About the ITSI-SU Project
  = render :partial => 'project_summary'

  %p
    NSF grant is issued by the Division of Undergraduate Education&nbsp;(EHR/DUE) – Math Science 
    Partnership Targeted Awards. (Project number #0831974.)

