- content_for(:project_info) do
  %h3
    About the RITES Project
  = render :partial => 'home/project_summary'
  %p 
    The RITES project will transform the quality of science teaching and learning at all Rhode Island 
    secondary schools with the goal of increasing the number and diversity of students who are proficient 
    in science and pursue careers in science, engineering, technology, and mathematics (STEM). The project 
    integrates all segments of the Rhode Island educational community—from teachers to higher education 
    science departments, and from schools of education to state offices that monitor and support STEM 
    education, plus the private sector.
  %p
    RITES will reach all 686 middle school and high school teachers and all 83,339 students with excellent, 
    challenging, computer-based, standards-aligned science materials. Pairs of high schools and middle 
    schools will join the program by developing a unified, comprehensive science action plan focused on 
    school needs and ongoing school reform that will integrate RITES resources for professional development 
    of teachers and materials for students.
  %p 
    %strong
      Professional development
  %p
    In close collaboration with schools, the Partners will develop an extensive series of short courses 
    for teachers with the goal of implementing effective teaching strategies and research-based content 
    closely tied to the 64 state standards for secondary science and applied mathematics. The courses 
    will feature computer-based materials that address specific standards through guided inquiry using 
    probes for laboratory pages, computational models of virtual environments, and software 
    tools that access science databases. The materials will include embedded assessments that will give 
    students and teachers prompt and accurate data on student proficiency in each standard. Teachers will 
    implement these materials, study their impact on students in their classrooms, customize the materials 
    accordingly, and share their observations and adaptations in a RITES Online Community Portal.
  %p
    NSF grant is issued by the Division of Undergraduate Education&nbsp;(EHR/DUE) – Math Science 
    Partnership Targeted Awards. (Project number #0831974.)

