%p
  %strong
    RITES: The Rhode Island Technology Enhanced Science Project
%p 
  The Rhode Island Technology Enhanced Science (RITES) program is a targeted Math-Science 
  Partnership designed to improve secondary science learning statewide. The core partners are 
  the University of Rhode Island, Rhode Island College, Johnston (RI) Public Schools, and the Rhode 
  Island Department of Education. Supporting Partners include Brown University, the Community College 
  of Rhode Island, the Rhode Island Economic Development Corporation, and the Concord Consortium.
