%p
  %strong
    ITSI-SU: The ITSI Scale Up
%p 
  The Concord Consortium is proud to announce the Information Technology in
  Science Instruction (ITSI) project!

  This comprehensive information technologies (IT) project for middle and high
  school teachers prepares diverse students for careers in IT by engaging them
  in exciting, inquiry-based science projects that use computational models and
  real-time data acquisition. The project provides over 126 hours of lab-based,
  credit-bearing activities for 90 teachers and full support for classroom
  implementation.

  Participants will learn basic electronics and design skills that will enable
  their students to install, configure, and use a wide range of sensors. They
  will also learn to teach students to use, modify, and create computational
  models. The skills students will learn will greatly enhance their ability to
  undertake investigations while giving a solid foundation for IT-based careers
  in programming, computer hardware, and software engineering.
