.activityprogressbar_container
  %table{:width=>"100%",:style=>"text-align:left"}      
    %tr
      %td
        %div{:style=>"overflow:auto;width:430px"}
          = render :partial => 'recent_student_report', :locals => { :offering => current_offering}
