
- learner = Report::Learner.find_by_offering_id(1);

%div.clearboth{:id=>"material_tab_1_data", :style=>"display:block"}
  %br
  %div{:style=>"float:left;"}
    %table{:width=>"100%",:style=>"text-align:left"}      
      %tr
        %td
          %div{:style=>"overflow:auto;width:100%px"}
            = render :partial => 'recent_student_report', :locals => { :investigation => investigation,:learner_offerings => learner_offerings}
      %tr
        %td
          Not Yet Started
      %tr
        %td
          Completed
  