- students = Portal::Offering.find(offering.clazz_id).clazz.students 
- learners = Portal::Offering.find(offering.clazz_id).learners     
-students.each do |student_id|
  - learner = learners.find_by_student_id(student_id.id)
  %tr      
    %td
      =student_id.user.last_name      
      - user_data = nil
    - if !learner.nil?
      - user_data = Report::Learner.user_report_data(offering.id, learner.id)
         
    %td
     
      = investigation.created_at.strftime('%d %b %Y')
      - investigation.activities.each do |activity|  
        - percentage = 0
        - if !user_data.nil?
          - learner_report = user_data[activity.id]
          - if !learner_report.nil?
            - if !learner_report["total"].nil? && !learner_report["answered"].nil? && learner_report["total"] > 0
              - percentage = learner_report["answered"]*100/learner_report["total"]          
        %td
          .progressbar
            .progress{:style=>"width:#{percentage}%"}     