

  %tr.legend_row
    %td
      #Middle.legend_completed      
    %td
      #LeftMost.legend_progress
    %td
      #RightMost.legend_not_started
  %tr
    %td{:style=>"text-align:right;"}
      2
    %td
      6
    %td
      8