.activityprogressbar_container
  %table{:width=>"100%",:style=>"text-align:left"}      
    %tr
      %td
        %div{:style=>"position:relative"}
          = render :partial => 'recent_student_report', :locals => { :offering => current_offering, :students=>students, :learners=>learners}
