- if true
  %tr.legend_row
    %td.LeftMost_legend_completed          
    %td.Middle_legend_progress
    %td.RightMost_legend_not_started
  %tr
    %td{:style=>"text-align:right;"}
      2
    %td
      6
    %td
      8
- else
  no student has completed the Investigation