- content_for :top_menu_items do
  - add_top_menu_item(link_to('Investigations', investigations_path))

- content_for(:side_bar) do
  %p
    - field_set_tag 'Teacher' do
      Hello Teacher
= render :partial => 'portal/clazzes/list_for_teacher', :locals => { :teacher => @portal_teacher }
  