- content_for(:side_bar) do
  %p
    - field_set_tag 'Teacher' do
      Hello Teacher
%p
  Select the
  = link_to 'Investigations', investigations_path
  link to browse Investigations you can use with your classes.

- teacher = current_user.portal_teacher  
- if teacher
  %p= render :partial => 'rites_portal/clazzes/list_for_teacher', :locals => { :teacher => teacher }
  