-# This is using the minimal layout, so we need to add the header ourselves
= render :partial => 'shared/project_header',
  :locals => { :extra_options => { :isAbout => true } }

-# these cols styles are provided by portal pages
-# the about remains in this codebase (the portal) because it was easier this way
-# it would be better to move this into portal-pages
-# the content will vary from portal to portal
.cols
  .cols-12
    .padded_content
      - render :partial => 'project_info'
      - render :partial => 'tech_info'
      = content_for :project_info
      = content_for :tech_info
