#main
  %h3
    Help &amp; Support
  %div#help_form_link
    %h4
      Get Support
    %p
      Can't find the information you need here? Contact technical support using our 
      %a{:href => '/help_requests', :target => '_blank'} technical support contact form.
  %div#required_software
    %h4
      Required Software
    %p
      You will need the following software versions in order to successfully use all of the available activities:
    %h5= link_to 'Sensor Connector', 'http://sensorconnector.concord.org/'
    %ul
      %li
        %span.os Windows:
        %span.version 20141119-1244
      %li
        %span.os OS X:
        %span.version 20141119-1430
    %h5= link_to 'CC Launcher', 'http://static.concord.org/installers/cc_launcher_installer.dmg'
    %ul
      %li
        %span.os Windows:
        %span.version not needed
      %li
        %span.os OS X:
        %span.version 20140915.235654-475

  %ul
    %li
      %a{:href => "#getstarted"} Four steps to Getting Started
      %ol
        %li
          %a{:href => "#launchportal"} Launch the Portal
        %li
          %a{:href => "#createaclass"} Create a Class
        %li
          %a{:href => "#workwithin"} Work Within Portal
        %li
          %a{:href => "#enrollstudents"} Enroll Students
    %li
      %a{:href => "#students"} Portal for Students
      %ol
        %li
          %a{:href => "#accessportal"} Access the Portal
        %li
          %a{:href => "#runningactivities"} Running Activities
        %li
          %a{:href => "#savingdata"} Saving Data
    %li
      %a{:href => "#extras"} Video Demonstrations of Tools
      %ol
        %li
          %a{:href => "#graphtool"} Graphing Tool
        %li
          %a{:href => "#drawtool"} Drawing Tool
    %li
      %a{:href=>"#creating-activity"} Creating Your Own Activity
      %ol
        %li
          %a{:href=>"#create-activities"} Create Activities
        %li
          %a{:href=>"#add-sensor"} Add Sensor
        %li
          %a{:href=>"#model-library"} Search the Model Library
        %li
          %a{:href=>"#add-model"} Add Model/Microscope
        %li
          %a{:href=>"#save-activity"} Save Activity
        %li
          %a{:href=>"#customizing-activity"} Customizing an Activity
  %hr{:style => "clear: both;"}/
  %h4#getstarted
    Four steps to Getting Started
    %h5#launchportal
      1. Launch the Portal
    %p
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=09_Launching_Portal", :target=>"_blank"} Click here to watch the video on 'Launching the Portal'.
    %p
      Begin by launching the portal with the orange button.  
      %img{:height => "37", :src => "http://concord.org/sites/default/files/images/projects/itsisu/portal.button.jpg", :width => "124"}/
    %p
      If you're a teacher and it's your first time here, sign up for access as a teacher. (If you have already created an account then enter your Username and Password and click 'SUBMIT'). 
      %img{:src => "http://concord.org/sites/default/files/images/projects/itsisu/submit.jpg"}/
    %p
      You’ll need to enter your first name, your last name and an e-mail account that you can access at school. Then select your school from the drop down menu.
    %p
      Your log in will be your username that you use to access your account. 
    %p
      It is important that you create a password that you can remember. 
    %p
      Please tell us how you heard about Innovative Technology in Science Inquiry using the final field on the registration form. 
    %p
      When you are done submit your information.      
      %img{:height => "37", :src => "http://concord.org/sites/default/files/images/projects/itsisu/submit.jpg", :width => "68"}/
    %p
      Thank you for signing up. In the activation e-mail you receive, your username will be confirmed and an activation link provided to complete your registration as a teacher.
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#createaclass 2. Create a Class
    %p
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=07_Creating_Class", :target=>"_blank"} Click here to watch the video on 'Creating a Class'.
      %br/
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=08_Editing_Class", :target=>"_blank"} Click here to watch the video on 'Editing a Class'.
    %p
      Once you have successfully logged into ITSI, you can begin creating classes. Click on 'Create A Class' in the left-hand column. 
      %img{:height => "20", :src => "http://concord.org/sites/default/files/images/projects/itsisu/create_a_class.jpg", :width => "96"}/
    %p First, name the class. Then create a class word that is unique to the class and school. For example, you might want to incorporate a school mascot. Once a class word is in the system it is taken.
    %p From there, you can scroll through the list of activities. To select an activity for your students, click on the check box next to the activity.
    %p When you are done selecting your activities, you can save this class.
    %p
      %img{:height => "209", :src => "http://concord.org/sites/default/files/images/projects/itsisu/new_itsisu_classes.jpg", :width => "201"}/
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#workwithin 3. Work within Portal
    %p In the orange bar under the name of the class you just created there are two options.
    %p
      %img{:height => "94", :src => "http://concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_class_page.jpg", :width => "617"}>/
      \ 
    %p
      \ 
      %strong Preview Activities
      You can preview the class to see how it will appear to your students.  
      %img{:height => "20", :src => "http://concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_preview.jpg", :width => "58"}/
    %p
      You can also use the 'Edit' button to return to the page you used to create the class and edit the information and/or assign more activities. 
      %img{:height => "20", :src => "http://concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_edit.jpg", :width => "35"}/
    %p
      Click on 'Save this Class' to keep your changes if you have edited the class with the 'Edit' button. 
      %img{:height => "29", :src => "http://concord.org/sites/default/files/images/projects/itsisu/Save.this.class.jpg", :width => "122"}/
    %p At the top of the activity there are five options, four on the left and one on the right.
    %p
      \ 
      %img{:height => "29", :src => "http://concord.org/sites/default/files/images/projects/itsisu/5.choices.jpg", :width => "593"}/
    %p
      %strong Print Activities
      Under the PRINT option there are several options depending on what you want to print. Keep in mind that student work is under the REPORT link and not under the print link. From the PRINT link you can print the individual sections of the activity.
    %p
      %img{:height => "338", :src => "http://concord.org/sites/default/files/images/projects/itsisu/print.jpg", :width => "328"}/
    %p
      %strong Run Activities
      Under the RUN option you can "preview the activity as a student" or "run in teacher mode".  This can be used to help you prepare to assist the students as they work through the activity.
    %p
      \ 
      %img{:height => "110", :src => "http://concord.org/sites/default/files/images/projects/itsisu/run.jpg", :width => "607"}/
    %p
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=11_Reports", :target=>"_blank"} Click here to watch the video on 'Reports'.
    %p
      %strong Report Activities
      When you are logged in as a teacher and viewing a class, at the top of each activity there are some options. Under the PRINT option you can print individual sections of the activity. Under the RUN option you can PREVIEW AS A STUDENT or RUN IN TEACHER MODE. 
    %p
      By clicking on "Report" you will be able to see your students' responses. This is only viewable if your students have actually already completed the activity. 
    %p
      Clicking on "Show Responses" will let you see what students answered and if they did not answer the questions. You can also hide this information. 
    %p
      %img{:height => "37", :src => "http://concord.org/sites/default/files/images/projects/itsisu/Show.Responses.jpg", :width => "79"}
    %p
      This information can be printed by clicking on PRINT THIS to print exactly what you have displayed on the page or PRINT ALL USERS to create individual reports for each student. 
    %p
      When you are done, close the page that opened. 
    %p
      If you do not want any students to see the activity, you may deactivate the activity. This is helpful if you have students that would go back and do old activities. 
    %p
      %strong Select Activities
      By clicking the DEACTIVATE button you will remove the activity from the students view. The link will change from to However, the activity will still be visible on your teacher account. If you want the students to have access to the activity again then you can click the ACTIVATE link.
    %p The activities cannot be reordered in the teacher window. When the activities are visible to students they are sorted under the subcategories in which they were organized when you chose the activities for the class.
    %p
      %strong> Add Activities
      To assign more activities to your class first click on the class in the left hand column of the page.  Once you are on that specific classes page then click on the "Edit" button.  Under the class information is the list of activities.  You can choose the activities you want to assign to your class by finding them in the list and clicking on the check box next to the name of the activity. 
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#enrollstudents 4. Enroll Students
    %p
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=12_Student_Rosters", :target=>"_blank"} Click here to watch the video on 'Student Rosters'.
    %p
      Within each class at the bottom of the list of activities is the student roster.  The name of the class and the number of students registered is also listed.
      %img{:height => "16", :src => "http://concord.org/sites/default/files/images/projects/itsisu/+.jpg", :width => "22"}/
    %p You will be able to see each student's name and login and you will also have the capability to remove them from the class.
    %p
      To remove the student from the class, click on the red X. 
      %img{:height => "17", :src => "http://concord.org/sites/default/files/images/projects/itsisu/itsisu_red_X.jpg", :width => "17"}/
    %p
      %img{:height => "229", :src => "http://concord.org/sites/default/files/images/projects/itsisu/Student.Roster.jpg", :width => "610"}/
    %p If you want to register or add a new student without having that student create an account on his or her own, click on REGISTER AND ADD A NEW STUDENT. You will need to provide the first name and the last name for the student as well as create a password for the student.
    %p When you are done, submit the information.
    %p This student is now registered in your class and you will be able to see the student in your student roster.
    %p
      %strong Student Accounts
    %p When students create their accounts they will need to provide their first name and last name. Each student has to make a password for their account and enter the class word that you created for their class. In addition to this information the students will be asked to answer three security questions.  The security questions allow the student to reset the password to their account if they can not remember their password. It is important that they answer all three questions because as a teacher you can not access their password or reset their password for them. 
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %hr/
    %h4#students Portal for your students
    %p
      %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=10_Making_Student_Accounts", :target=>"_blank"} Click here to watch the video on 'Making Student Accounts'.
    %h5#accessportal 1. Access the Portal
    %p
      Students, if it is your first time to the ITSU portal, sign up for access as a STUDENT. You will need to provide your first name, your last name and make up a password that is easy for you to remember. 
    %p
      The class word is given to you by your teacher and you will need to make sure that you type it in correctly. 
    %p
      When you are done, submit the information. 
    %p
      When you have submitted the information, your username will be given to you at the top of the page. This is what you’ll use to log into the portal.
    %p
      You will also need to remember the password you just created to login in the future.  
    %h5#runningactivities 2. Running activities
    %p
      Students run an activity from the Portal by clicking on the green arrow.
      %img{:src => "http://concord.org/sites/default/files/images/projects/itsisu/go.png"}/
    %p A Java window will pop up. Students should choose to open the file by clicking OK and clicking on Allow to see the activity.
    %p Depending on the connection speed, it may take anywhere from a few seconds to a couple minutes for the activity to open for the first time.
    %h5#savingdata 3. Saving data
    %p Student data is saved when a student closes an activity.  They do not need to click any special button!
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %hr/
    %h4#extras Video Demonstrations of Tools
    %div{:style => "color: #444444;"}
      %p The following videos will help you get to know the above pieces of technology:
      %p
        %strong Please note:
        The following videos require the Flash Player installed and enabled on your computer.
        %a{:href => "http://www.adobe.com/go/getflashplayer"} You can download the Flash Player from Adobe.
      %h5 Tool Help
      %ul
        %li#graphtool
          %a{:href => "http://concord.org/projects/udl/artwork/tool_hints/graph_tool_hints/graph_tool_hints.swf", :target => "_blank"} Graphing Tool
        %li#drawtool
          %a{:href => "http://concord.org/projects/udl/artwork/tool_hints/color_tool_hints/color_tool_hints.swf", :target => "_blank"} Draw Tool
      %p.center
        %a{:href => "#wrapper"} Return to Top
  %hr
  %h4#creating-activity
    Creating your own Activity
  %p
    Once you have logged into the Innovative Technology in Science Inquiry portal click on the "Activities" link in the orange bar at the top of the page. 
  %ol
    %li
      %p#create-activities
        %strong
          Create Activities 
      %p
        Above the categories of the activities there is a button labeled 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_create_activity.jpg", :alt=>"Create Activity"}/
        \. This button will bring up a page asking you to name your new activity and give it a description. There is also an "Activity Template" drop down menu that will allow you to choose the template you want to use for your activity. For now the default option is a single-page activity template. When you are done with these steps click on the orange 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save"}/
        button in the upper right hand corner of the page. Your activity will be saved in "My Activities" bin. If you choose to publish your own private activity, it will appear in "Other Activities" in the portal with hundreds of other teacher's published activities in alphabetical order by the teacher's first name.
      %p
        Once you have saved your activity name and description you can click on the 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
        link below the description to finish creating your activity.  Inside the editor each element of the activity has a check box. 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_check_box.jpg", :alt=>"Check Box"}/ 
        To add an element click on the check box 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
        and author that section. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#add-sensor
        %strong
          Add Sensor 
      %p
        %div{:style=>"float: right; margin-left: 10px; width: 250px;"}
          %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit_sensor_v2.jpg", :alt=>"Edit Sensor"}/
          %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_scrolled_down_sensor.jpg", :alt=>"Scrolled Down Sensor"}/
        All Collect Data and Further Investigation sections allow sensors to be added. To add a sensor it must be an option under the section you are editing. Two different types of graphs are available depending which sensor you select from the menu. Some sensors utilize a graph for a single user to record data. Other sensors offer the option of adding multiple users. Choose the sensor you would like to use from the drop down menu. To add multiple users, click on the "Multiple Graphable Enabled" check box. To add multiple users, select "New" and type in your student's names. When you click the box 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
        to add the sensor the default sensor is temperature. If you do not want to add the temperature sensor click on the "edit" link on the right directly above the grid, you will then be presented with a drop down menu allowing you to select the sensor you want to connect to the computer for that specific activity. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#model-library
        %strong
          Search the Model Library
      %p
        %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=03_Model_Library", :target=>"_blank"}Click here to watch the video on 'Models'.
      %p
        Along with activities, models are also included in your ISTI-SU teacher login. You can access the models by clicking on the word Models in your orange navigation bar.
        %br/
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/models.FL.jpg", :alt=>"Models"}/
      %p
        Models are interactive computational programs that simulate real world phenomenon. Models show your students everything from mixing primary colors to graphs in math class and the moon orbiting the earth. Models are designed to help you explain concepts to your class.
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/models.jpg", :alt=>"Models"}/
      %p
        You can search for specific models that have to do with a particular subject or look through all the models, by using the search bar. Under the search bar there are numbers listed to let you know what page of models you are looking.
      %p
        The button in the lower right hand corner of the box allows you to either "show/hide Model descriptions" so you can view or not view the information on the model. Students do not have access to choosing activities that you have not assigned them or to viewing models.
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#add-model
        %strong
          Add Model/Microscope
      %p
        To add a model to your activity, it must be an option under the section you are editing. When you click the box to add the model the default model is "model 1". To change the model click the "edit" link directly across from the word "model." 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_add_model.jpg", :alt=>"Add Model"}/
      %p
        When you edit the model there is a drop down menu allowing you to choose what model you want to have in your activity.
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_add_model_type.jpg", :alt=>"Add Model Type"}/  
      %p
        You can preview the models in the model library. To get to the model library click on 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_modelsorangebar.jpg", :alt=>"Models"}/ 
        in the orange bar at the top of the page. It is recommended that you open the library in a separate window or tab than the one you are creating your activity in. To add the functionality of browsing/selecting microscope pictures to your activity the model you should use is listed as model 163: microscope image. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#save-activity
        %strong
          Save Activity 
      %p
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_public_v_private.jpg", :alt=>"Public vs Private", :style=>"float: right; margin-left: 10px;"}/
        Before you save your activity think about if you want only you to be able to use the activity or if you want to share it with the Innovative Technology in Science Inquiry community. Under the name of your activity you can set the "publication status." If you want to keep the activity to yourself you can select private. If you want to share the activity you can set the "publication status" to public.  
      %p
        To save your activity you must have saved all the open "What You See Is What You Get" (WYSIWYG) boxes. If you have not saved all the WYSIWYG boxes the top 
        %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save Button"}/ 
        button under the description will not work. It is important to save all the WYSIWYG boxes even if you decide later that you do not want to include that section, this way the top save button will work. 
        %h5
          My Activities 
        %p
          %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_my_activities.jpg", :alt=>"My Activities", :style=>"float: left; margin: 0 10px 20px 0;"}/
          Once you have created and saved your activity, regardless of the publication status you can access the activity from the Activity page. To find your activity scroll down the categories of activities until you see the section labeled "My Activities". Click on the section and you will see your activities listed to the right. From there you can also edit the activity by clicking on the blue paper with the pencil across it. If you chose to publish your own private activity, it will appear in "Other Activities" in the portal with hundreds of other teacher's published activities in alphabetical order by the teacher's first name.
          %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_blue_pencil.jpg", :alt=>"Edit Icon"}/
        %p
          %a{:href => "#wrapper"} Return to Top
      %li{:style=>"clear: both;"}
        %p#customizing-activity
          %strong
            Customizing an Activity
        %p
          %a{:href => "http://itsi.concord.org/resources/videos/video.php?v=06_Customize", :target=>"_blank"} Click here to watch the video on 'Customizing Activities'.
        %p
          If you do not want to completely create your own activity you can customize your class activities by editing one of the exemplar activities that has already been created. Just follow the next set of directions.
        %ul
          %li
            %p
              %strong
                Copy an Activity 
            %p
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_stacked_paper.jpg", :alt=>"Copy Icon", :style=>"float: left; margin-right: 10px;"}/
              To customize an activity, or make your own version of the activity for your class, first find the activity you want to customize from the list of activities.  In the buttons next to the activity there should be a button that looks like two stacked pieces of paper. By clicking on that button you will be able to make your own version of the activity.  
            %p
              When the page first loads it will present you with a preview of the activity. To edit the activity click on the "edit" link under the title and description of the activity. From the edit page you can modify the activity by clicking the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              link to the right of the various section headings.  When you are done editing the section of the activity you are working on make sure to click on all the save buttons so your changes are made. 

          %li
            %p
              %strong
                Edit Models &amp; Sensors 
            %p
              You can edit the models and sensors by clicking on the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              link directly above the model or sensor and to the right and choosing a different one from the drop down menu presented. 
            %p
              To add to the activity you can click the check box next to that option. You can then edit the item you added however you would like by clicking on the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              link above and to the right of the item. This will open a "What You See Is What You Get" (WYSIWYG) box. 
            %p
              To remove an item you can click on the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
              next to the item and it will be removed from the activity. The items are nested under main sections so if you remove the check 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_check_box.jpg", :alt=>"Check Box"}/ 
              from a main section everything under it will also be removed.  If you have removed a section but wish to add it back when you click on the section again you will find that all the work is still there. 
          %li
            %p
              %strong
                Save Activity 
            %p
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_public_v_private.jpg", :alt=>"Public vs Private", :style=>"float: right; margin-left: 10px;"}/
              Before you save your activity think about if you only want to be able to use the activity or if you want to share it with the Innovative Technology in Science Inquiry community. Under the name of your activity you can set the "publication status." If you want to keep the activity to yourself you can select private. If you want to share the activity you can set the "publication status" to public.  
            %p
              To save your activity you must have saved all the open WYSIWYG boxes. If you have not saved all the WYSIWYG boxes the top 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save Button"}/ 
              button under the description will not work. It is important that you save all of the WYSIWYG boxes even if you decide not to use them in your final activity. 
          %li
            %p
              %strong
                My Activities 
            %p
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_my_activities.jpg", :alt=>"My Activities", :style=>"float: left; margin: 0 10px 20px 0;"}/
              Once you have created and saved your activity, regardless of the publication status you can access the activity from the Activity page. To find your activity scroll down the categories of activities until you see the section labeled "My Activities". Click on the section and you will see your activities listed to the right. From there you can also edit the activity by clicking on the blue paper with the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_blue_pencil.jpg", :alt=>"Edit Icon"}/ 
              pencil across it. 
          %li{:style=>"clear: both;"}
            %p
              %strong
                Adding a photo to the image library
            %p
              This site needs to adhere to the Creative Commons licenses by the author and owner of the image. You should only upload images that you have license to use. To add an image into an activity you must have the URL of the image. If you obtain an URL from the Internet it is possible that the image could move or the person hosting the image could take it down. To upload an image to the Image Library, save it to your computer. Click on the Images link on the navigation bar.
            %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_image_library_link.png", :alt=>"Image Library Link"}
            %p
              This will bring you to the Image Library.
            %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_image_library.png", :alt=>"Image Library Screen Shot"}
            %p
              Click 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_create_image.png", :alt=>"Create Image Button"}
              , found on the yellow bar above the images.  If your image is larger than the given dimensions (650 x 400), the image will automatically be resized to fit.  If the image is extremely large, you may resize it on your computer.  Name the image by entering a title into the "Name" field.  In the attribution box, enter the name of the author, "Creative Commons", and the website where the photo was found.  For example, John Smith Creative Commons Flickr.  Choose the file from your computer, then click 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_create.png", :alt=>"Create Button"} 
              The URL for embedding the image can be found below. All images entered in the Image Library should be shared with a Creative Commons license.

            %p
              You can search for specific images or browse the entire library.  When browsing the image library, you can sort the images alphabetically by name or by date added.  To view the images that you have created, check the box labeled "Only Mine".  

            %p
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_insert_image.jpg", :alt=>"Image Icon", :style=>"float: right; margin-left: 10px;"}
              To add an image to your activity, click on 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"} 
              When the WYSIWYG box opens up look in the edit bar for a button that looks like a tree. 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_treeimageinbar.jpg", :alt=>"Image Icon"} 
              &nbsp;Once you click on the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_treeimageinbar.jpg", :alt=>"Image Icon"} 
              &nbsp;you will be prompted for the URL of the image.
            %p
              Click the 
              %img{:src=>"http://concord.org/sites/default/files/images/projects/itsisu/itsisu_insert_green_button.jpg", :alt=>"Image Icon"} 
              &nbsp;when you have entered the URL to insert the photo.
            %p
              If you do not want the photo that is inserted simply delete the image with the delete key.
          %p
            %a{:href => "#wrapper"} Return to Top
