#main
  %h3
    Help &amp; Support
  %div#help_form_link
    %h4
      Get Support
    %p
      Can't find the information you need here? Contact technical support using our 
      %a{:href => '/help_requests', :target => '_blank'} technical support contact form.
  %ul
    %li
      %a{:href => "#getstarted"} Four steps to Getting Started
      %ol
        %li
          %a{:href => "#launchportal"} Launch the Portal
        %li
          %a{:href => "#createaclass"} Create a Class
        %li
          %a{:href => "#workwithin"} Work Within Portal
        %li
          %a{:href => "#enrollstudents"} Enroll Students
    %li
      %a{:href => "#students"} Portal for Students
      %ol
        %li
          %a{:href => "#accessportal"} Access the Portal
        %li
          %a{:href => "#runningactivities"} Running Activities
        %li
          %a{:href => "#savingdata"} Saving Data
    %li
      %a{:href => "#extras"} Video Demonstrations of Tools
      %ol
        %li
          %a{:href => "#graphtool"} Graphing Tool
        %li
          %a{:href => "#drawtool"} Drawing Tool
    %li
      %a{:href=>"#creating-activity"} Creating Your Own Activity
      %ol
        %li
          %a{:href=>"#create-activities"} Create Activities
        %li
          %a{:href=>"#add-sensor"} Add Sensor
        %li
          %a{:href=>"#model-library"} Search the Model Library
        %li
          %a{:href=>"#add-model"} Add Model/Microscope
        %li
          %a{:href=>"#save-activity"} Save Activity
        %li
          %a{:href=>"#customizing-activity"} Customizing an Activity
  %hr/
  %h4#getstarted
    Four steps to Getting Started
    %h5#launchportal
      1. Launch the Portal
    %p
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/launch_portal.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Launching the Portal'.
    %p
      Begin by launching the portal with the orange button.  
      %img{:height => "37", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/portal.button.jpg", :width => "124"}/
    %p
      If you have not created an account then sign up for access as a teacher. (If you have already created an account then enter your Username and Password and click 'SUBMIT'). 
      %img{:src => "http://www.concord.org/sites/default/files/images/projects/itsisu/submit.jpg"}/
    %p
      To create an account you will need to provide your full name and email, as well as the name of your schools to sign up for access.  You will also need to create a login and password. When you are done, 'SUBMIT' the information.
      %img{:height => "37", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/submit.jpg", :width => "68"}/
    %p
      An email will be sent to the email address that you provided from
      %a{:href => "mailto:itsisu@concord.org"}
        %strong itsisu@concord.org
      = succeed "confirming" do
        %strong   your account, and your Username.  A link back to the portal will also be provided.  
    %p
      Use your new username and activation link that you received via email to log into the ITSI-SU portal. 
      %strong  
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#createaclass 2. Create a Class
    %p
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/create_a_class.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Creating a Class'.
      %br/
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/edit_classes.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Editing a Class'.
    %p
      Once you have logged in you can create a new class from using the 'Create A Class' button in the left hand column. 
      %img{:height => "20", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/create_a_class.jpg", :width => "96"}/
    %p To create a class enter the name of the class such as Science 1st hour or Sophomore Physics. Choose your school from the list of schools in the drop down menu. Choose the semester the students will be using the portal from the drop down menu. If you plan to use the portal for an entire year select fall.  You will also need to create a class word that your students will use when they create their accounts to sign up for your class. Select the grade level of your class, and the activities you would like them to complete.  When you are done save the class with the button located above the list of activities.
    %p You have now created your class and it will appear in the left hand column of the website. 
    %p
      %img{:height => "209", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/new_itsisu_classes.jpg", :width => "201"}/
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#workwithin 3. Work within Portal
    %p
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/report_deactivate.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Reports'.
    %p In the orange bar under the name of the class you just created there are two options.
    %p
      %img{:height => "94", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_class_page.jpg", :width => "617"}>/
      \ 
    %p
      \ 
      %strong Preview Activities
      You can preview the class to see how it will appear to your students.  
      %img{:height => "20", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_preview.jpg", :width => "58"}/
    %p
      You can also use the 'Edit' button to return to the page you used to create the class and edit the information and/or assign more activities. 
      %img{:height => "20", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/new_itsi-su_edit.jpg", :width => "35"}/
    %p
      Click on 'Save this Class' to keep your changes if you have edited the class with the 'Edit' button. 
      %img{:height => "29", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/Save.this.class.jpg", :width => "122"}/
    %p At the top of the activity there are five options, four on the left and one on the right.
    %p
      \ 
      %img{:height => "29", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/5.choices.jpg", :width => "593"}/
    %p
      %strong Print Activities
      Under the PRINT option there are several options depending on what you want to print. Keep in mind that student work is under the REPORT link and not under the print link. From the PRINT link you can print the individual sections of the activity.
    %p
      %img{:height => "338", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/print.jpg", :width => "328"}/
    %p
      %strong Run Activities
      Under the RUN option you can “preview the activity as a student” or “run in teacher mode”.  This can be used to help you prepare to assist the students as they work through the activity.
    %p
      \ 
      %img{:height => "110", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/run.jpg", :width => "607"}/
    %p
      %strong Report Activities
      The REPORT option will open a new screen and provide you with a list of each question and how many students answered the question. You can also find out how many students skipped the question and the total number of answers and skipped questions combined.
    %p
      \ 
      %img{:height => "66", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/AST.jpg", :width => "111"}>/
      \ 
    %p While looking at the report you can also click on the 'Show responses' link on the right hand side of the box to see what each individual student answered. For example in the mutations activity this was Ima Kid’s answer, and we can also see that Kyle Science did not answer the question.
    %p
      %img{:height => "37", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/Show.Responses.jpg", :width => "79"}
    %p  The 'print this' link in the upper right hand corner under the navigation bar will print the information you have displayed on the page at the time when you select the button.
    %p The 'print all users' link will print individual reports for all the students, with their answers listed under the questions. 
    %p You can also obtain individual student reports by clicking on the REPORT button across from the individual students name when not on the report screen.
    %p On the right hand side the 'Show Individual Reports' link will show you the information on the activity as well as the number of students that have completed the activity, their names and how many times they ran the activity.  
    %p
      %img{:height => "22", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/Show.Indiv.Reports.jpg", :width => "151"}
    %p
      %img{:height => "144", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/showing.jpg", :width => "587"}>
  
    %p
      %strong Select Activities
      By clicking the DEACTIVATE button you will remove the activity from the students view. The link will change from to However, the activity will still be visible on your teacher account. If you want the students to have access to the activity again then you can click the ACTIVATE link.
    %p The activities cannot be reordered in the teacher window. When the activities are visible to students they are sorted under the subcategories in which they were organized when you chose the activities for the class.
    %p
      %strong> Add Activities
      To assign more activities to your class first click on the class in the left hand column of the page.  Once you are on that specific classes page then click on the “Edit” button.  Under the class information is the list of activities.  You can choose the activities you want to assign to your class by finding them in the list and clicking on the check box next to the name of the activity. 
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %h5#enrollstudents 4. Enroll Students
    %p
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/student_roster.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Student Rosters'.
    %p
      At the bottom of the list of activities that you choose for your class there is a box labeled “Student Roster” click on the orange plus sign in the upper right hand corner of the box to open it.
      %img{:height => "16", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/+.jpg", :width => "22"}/
    %p The name of the class and the number of students registered will be displayed. If you already have students registered you can choose their names from a drop down menu on the right. If you have new students you can select “Register and add a new student”
    %p
      There will also be three columns listing the student’s name, their login and a third column filled with red X’s allowing you to remove them from a class. 
      %img{:height => "17", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_red_X.jpg", :width => "17"}/
    %p
      %img{:height => "229", :src => "http://www.concord.org/sites/default/files/images/projects/itsisu/Student.Roster.jpg", :width => "610"}/
    %p When you add a new student you will have to provide their first and last name as well as a password to provide the student access their accounts and they will be added to your class.
    %p By having students in multiple classes both teachers will be able to see all of their work. If students are working with the portal in multiple classes you can have them create multiple logins. The student will be notified of this upon entering the second class word. 
    %p
      %strong Student Accounts
    %p When students create their accounts they will need to provide their first name and last name. Each student has to make a password for their account and enter the class word that you created for their class. In addition to this information the students will be asked to answer three security questions.  The security questions allow the student to reset the password to their account if they can not remember their password. It is important that they answer all three questions because as a teacher you can not access their password or reset their password for them. 
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %hr/
    %h4#students Portal for your students
    %p
      %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/student_making_account.mov&autoplay=1&fullscreen=true", :target=>"_blank"} Click here to watch the video on 'Making Student Accounts'.
    %h5#accessportal 1. Access the Portal
    %p
      Have your students access the Portal by going to
      %a{:href => "http://itsisu.portal.concord.org/"} itsisu.portal.concord.org
      and logon with their Username and Password. If it is their first time to the portal, they may wish to watch the movie.
    %h5#runningactivities 2. Running activities
    %p
      Students run an activity from the Portal by clicking on the green arrow.
      %img{:src => "http://www.concord.org/sites/default/files/images/projects/itsisu/go.png"}/
    %p A Java window will pop up. Students should choose to open the file by clicking OK and clicking on Allow to see the activity.
    %p Depending on the connection speed, it may take anywhere from a few seconds to a couple minutes for the activity to open for the first time.
    %h5#savingdata 3. Saving data
    %p Student data is saved when a student closes an activity.  They do not need to click any special button!
    %p.center
      %a{:href => "#wrapper"} Return to Top
    %hr/
    %h4#extras Video Demonstrations of Tools
    %div{:style => "color: #444444;"}
      %p The following videos will help you get to know the above pieces of technology:
      %p
        %strong Please note:
        The following videos require the Flash Player installed and enabled on your computer.
        %a{:href => "http://www.adobe.com/go/getflashplayer"} You can download the Flash Player from Adobe.
      %h5 Tool Help
      %ul
        %li#graphtool
          %a{:href => "http://www.concord.org/projects/udl/artwork/tool_hints/graph_tool_hints/graph_tool_hints.swf", :target => "_blank"} Graphing Tool
        %li#drawtool
          %a{:href => "http://www.concord.org/projects/udl/artwork/tool_hints/color_tool_hints/color_tool_hints.swf", :target => "_blank"} Draw Tool
      %p.center
        %a{:href => "#wrapper"} Return to Top
  %hr
  %h4#creating-activity
    Creating your own Activity
  %p
    Once you have logged into the ITSI-SU portal click on   in the orange bar at the top of the page. 
  %ol
    %li
      %p#create-activities
        %strong
          Create Activities 
      %p
        Above the categories of the activities there is a button labeled 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_create_activity.jpg", :alt=>"Create Activity"}/
        \. This button will bring up a page asking you to name your new activity and give it a description. There is also an “Activity Template” drop down menu that will allow you to choose the template you want to use for your activity. For now the default option is a single-page activity template. When you are done with these steps click on the orange 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save"}/
        button in the upper right hand corner of the page. 
      %p
        Once you have saved your activity name and description you can click on the 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
        link below the description to create your activity.  Inside the editor each element of the activity has a check box. 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_check_box.jpg", :alt=>"Check Box"}/ 
        To add an element click on the check box 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
        and author that section. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#add-sensor
        %strong
          Add Sensor 
      %p
        %div{:style=>"float: right; margin-left: 10px; width: 250px;"}
          %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit_sensor_v2.jpg", :alt=>"Edit Sensor"}/
          %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_scrolled_down_sensor.jpg", :alt=>"Scrolled Down Sensor"}/
        To add a sensor it must be an option under the section you are editing.  When you click the box 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
        to add the sensor the default sensor is temperature. If you do not want to add the temperature sensor click on the “edit” link across from the word sensor on the right. You will then be presented with a drop down menu allowing you to select the sensor you want to connect to the computer for that specific activity. All Collect Data sections and Further Investigation allow sensors to be added. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#model-library
        %strong
          Search the Model Library
      %p
        %a{:href => "http://www.concord.org/sites/all/themes/cc/flash/video/player.swf?skin=/sites/all/themes/cc/flash/video/skins/classic.swf&video=http://www.concord.org/sites/default/files/projects/videos/itsisu/model_library.mov&autoplay=1&fullscreen=true", :target=>"_blank"}Click here to watch the video on 'Models'.
      %p
        Along with activities, models are also included in your ISTI-SU teacher login. You can access the models by clicking on the word Models in your orange navigation bar.
        %br/
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/models.FL.jpg", :alt=>"Models"}/
      %p
        Models are interactive computational programs that simulate real world phenomenon. Models show your students everything from mixing primary colors to graphs in math class and the moon orbiting the earth. Models are designed to help you explain concepts to your class.
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/models.jpg", :alt=>"Models"}/
      %p
        You can search for specific models that have to do with a particular subject or look through all the models, by using the search bar. Under the search bar there are numbers listed to let you know what page of models you are looking.
      %p
        The button in the lower right hand corner of the box allows you to either “show/hide Model descriptions” so you can view or not view the information on the model. Students do not have access to choosing activities that you have not assigned them or to viewing models.
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#add-model
        %strong
          Add Model/Microscope
      %p
        To add a model it must be an option under the section you are editing. When you click the box to add the model the default model is “model 1”. To change the model click directly across from the word model to where it says edit. 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_add_model.jpg", :alt=>"Add Model"}/
      %p
        When you edit the model there is a drop down menu allowing you to choose what model you want to have in your activity.
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_add_model_type.jpg", :alt=>"Add Model Type"}/  
      %p
        You can preview the models in the model library. To get to the model library click on 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_modelsorangebar.jpg", :alt=>"Models"}/ 
        in the orange bar at the top of the page. It is recommended that you open the library in a separate window or tab than the one you are creating your activity in. To add the functionality of browsing/selecting microscope pictures to your activity the model you should use is listed as model 163: microscope image. 
      %p
        %a{:href => "#wrapper"} Return to Top
    %li
      %p#save-activity
        %strong
          Save Activity 
      %p
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_public_v_private.jpg", :alt=>"Public vs Private", :style=>"float: right; margin-left: 10px;"}/
        Before you save your activity think about if you want only you to be able to use the activity or if you want to share it with the ITSI-SU community. Under the name of your activity you can set the “publication status.” If you want to keep the activity to yourself you can select private. If you want to share the activity you can set the “publication status” to public.  
      %p
        To save your activity you must have saved all the open “What You See Is What You Get” (WYSIWYG) boxes. If you have not saved all the WYSIWYG boxes the top 
        %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save Button"}/ 
        button under the description will not work. It is important to save all the WYSIWYG boxes even if you decide later that you do not want to include that section, this way the top save button will work. 
        %h5
          My Activities 
        %p
          %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_my_activities.jpg", :alt=>"My Activities", :style=>"float: left; margin: 0 10px 20px 0;"}/
          Once you have created and saved your activity, regardless of the publication status you can access the activity from the Activity page. To find your activity scroll down the categories of activities until you see the section labeled “My Activities”. Click on the section and you will see your activities listed to the right. From there you can also edit the activity by clicking on the blue paper with the pencil across it. 
          %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_blue_pencil.jpg", :alt=>"Edit Icon"}/
        %p
          %a{:href => "#wrapper"} Return to Top
      %li{:style=>"clear: both;"}
        %p#customizing-activity
          %strong
            Customizing an Activity
        %p
          If you do not want to completely create your own activity you can customize your class activities by editing one of the exemplar activities that has already been created. Just follow the next set of directions.
        %ul
          %li
            %p
              %strong
                Copy an Activity 
            %p
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_stacked_paper.jpg", :alt=>"Copy Icon", :style=>"float: left; margin-right: 10px;"}/
              To customize an activity, or make your own version of the activity for your class, first find the activity you want to customize from the list of activities.  In the buttons next to the activity there should be a button that looks like two stacked pieces of paper. By clicking on that button you will be able to make your own version of the activity.  
            %p
              When the page first loads it will present you with a preview of the activity. To edit the activity click on the “edit” link under the title and description of the activity. From the edit page you can modify the activity using the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              link across from the various sections.  When you are done editing the section of the activity you are working on make sure to click on all the save buttons so your changes are made. 

          %li
            %p
              %strong
                Edit Models &amp; Sensors 
            %p
              You can edit the models and sensors by clicking on 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              across from the model or sensor and choosing a different one from the drop down menu presented. 
            %p
              To add to the activity you can click on the empty gray boxes. You can then edit the item you added however you would like by clicking on the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/ 
              link across from the item on the right hand side. This will open a “What You See Is What You Get” (WYSIWYG) box. 
            %p
              To remove an item you can click on the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_checked_box.jpg", :alt=>"Checked Box"}/ 
              next to the item and it will be removed from the activity. The items are nested under main sections so if you remove the check 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_check_box.jpg", :alt=>"Check Box"}/ 
              from a main section everything under it will also be removed.  If you have removed a section but wish to add it back when you click on the section again you will find that all the work is still there. 
          %li
            %p
              %strong
                Save Activity 
            %p
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_public_v_private.jpg", :alt=>"Public vs Private", :style=>"float: right; margin-left: 10px;"}/
              Before you save your activity think about if you only want to be able to use the activity or if you want to share it with the ITSI-SU community. Under the name of your activity you can set the “publication status.” If you want to keep the activity to yourself you can select private. If you want to share the activity you can set the “publication status” to public.  
            %p
              To save your activity you must have saved all the open WYSIWYG boxes. If you have not saved all the WYSIWYG boxes the top 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_save.jpg", :alt=>"Save Button"}/ 
              button under the description will not work. It is important that you save all of the WYSIWYG boxes even if you decide not to use them in your final activity. 
          %li
            %p
              %strong
                My Activities 
            %p
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_my_activities.jpg", :alt=>"My Activities", :style=>"float: left; margin: 0 10px 20px 0;"}/
              Once you have created and saved your activity, regardless of the publication status you can access the activity from the Activity page. To find your activity scroll down the categories of activities until you see the section labeled “My Activities”. Click on the section and you will see your activities listed to the right. From there you can also edit the activity by clicking on the blue paper with the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_blue_pencil.jpg", :alt=>"Edit Icon"}/ 
              pencil across it. 
          %li{:style=>"clear: both;"}
            %p
              %strong
                Images
            %p
              To add an image into an activity you must have the URL of the image.  If you obtain an URL from the Internet it is possible that the image could move or the person hosting the image could take it down.  This is why it is important to use Cyberduck and let Concord Consortium host the image if possible. When you upload an image to Cyberduck make sure that the image is a JPEG so the link will work. 
            %p
              To add an image click on 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_edit.jpg", :alt=>"Edit"}/
              \. When the WYSIWYG box opens up look in the edit bar for a button that looks like a tree. 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_treeimageinbar.jpg", :alt=>"Image Icon"}/ 
              Once you click on the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_treeimageinbar.jpg", :alt=>"Image Icon"}/  
              you will be prompted for the URL of the image. 
            %p{:style=>"clear: both;"}
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_insert_image.jpg", :alt=>"Image Icon", :style=>"float: right; margin-left: 10px;"}/ 
              Click the 
              %img{:src=>"http://www.concord.org/sites/default/files/images/projects/itsisu/itsisu_insert_green_button.jpg", :alt=>"Image Icon"}/ 
              when you have entered the URL to insert the photo.
            %p
              If you do not want the photo that is inserted simply delete the image with the delete key. 
          %p
            %a{:href => "#wrapper"} Return to Top
