- current_user.roles.each do |role|
  = render :partial => role.title

- if @portal_teacher
  = render :partial => "teacher"
  
- if @portal_student
  = render :partial => "student"

= yield :authored_investigations

/ once somebody is logged in,they should open outside the iframe.
- unless current_user.anonymous?
  :javascript 
    document.observe("dom:loaded", function() {
      // if we are in an iframe, pop-out.
      if (top!=self) top.location.replace(location.href); 
    });  