= render :partial => "notice"

- role_partials = current_visitor.roles.map{|role| role.title}
- if @portal_teacher
  - role_partials << "teacher"
- if @portal_student
  - role_partials << "student"

/ reorder author to the end
- if role_partials.delete("author")
  - role_partials << "author"

- role_partials.each do |role|
  = render :partial => role
