%h1
  Recent activity 

- strTime =(7.day.ago).to_s.gsub(" UTC","");
- learner_offerings = (Report::Learner.where("last_run > '#{strTime}'")).select(:offering_id).uniq
- clazz_offerings=Array.new
- learner_offerings.each do |learner_offering|
  - reportlearner = Report::Learner.find_by_offering_id(learner_offering.offering_id)
  - offering = Portal::Offering.find_by_runnable_id(reportlearner.runnable_id)
  - clazz_offerings.push(offering)

#recent_activity_container
  %table{:width=>"100%"}
    %tr
      %td{:width=>"75%",:style=>"float:right"}
        %table{:style=>"margin:1em 0"}
          %tr{}
            %td
              %span.legend_completed
                &nbsp;&nbsp;
              %span
                &nbsp;Completed
            %td
              &nbsp;&nbsp;
              %span.legend_progress
                &nbsp;&nbsp;
              %span
                &nbsp;In Progress
              &nbsp;&nbsp;
            %td
              %span.legend_not_started
                &nbsp;&nbsp;
              %span
                &nbsp;Not yet started
            
  = render :partial => 'recent', :collection => clazz_offerings, :as => :clazz_offering, :locals => { :report_learner => @report_learner}