#main
  %h3
    Technical Notes and Requirements
  %p
    The 
    %a{:title => 'Get the Java Runtime Environment', :href => 'http://java.com'} Java Runtime Environment
    version 5 (sometimes referred to as 1.5) or later with Java Webstart is required to run any of the activities. You can download it at:
    %a{:title => 'Get Java', :href => 'http://java.com'} java.com