%li{:id => dom_id_for(page, :container), :class => 'container_element menu' }
  %div{ :id => dom_id_for(page, :item), :class => style_for_item(page) }
    %div.action_menu
      %div.action_menu_header_left
        = link_to_container(page)
      %div.action_menu_header_right   
        %ul.menu
          /%li= run_link_for(page)
          - if (page.changeable?(current_user))
            /%li= link_to 'duplicate', duplicate_page_url(page)
            / %li= link_to 'edit', page
            / %li.menu=toggle_more page
            %li.menu=link_to_remote 'delete', :confirm => "delete page #{page.name}?", :url => { :controller => 'sections', :action => 'delete_page', :id => page.section.id, :page_id => page.id}, :html => {:class=>"delete"}
    %div{:id => dom_id_for(page, :details), :class => 'content', :style =>'display:block;'}
      = render  :partial => 'pages/preview', :locals => { :page => page }
