%li{:id => dom_id_for(page, :item), :class => 'item menu' }
  
  %ul.menu
    =link_to page.name, page
    %li.menu=toggle_more page
    %li.menu=link_to_remote 'delete', :url => { :action => 'delete_page', :params => {:page_id => page.id}}, :html => {:class=>"delete"}
    %dl{:id => dom_id_for(page, :details), :class => 'content', :style =>'display:none;'}
      - page.page_elements.each do |element|
        %dt
          =element.embeddable.name
        %dd  
          =element.embeddable.description