%li{:id => dom_id_for(page, :container), :class => 'menu' }
  %div{ :id => dom_id_for(page, :item), :class => 'item' }
    %div.action_menu
      %div.action_menu_header_left
        %ul
          %li
            =link_to name_for_component(page), page
      %div.action_menu_header_right   
        %ul
          %li.menu=toggle_more page
          %li.menu=link_to_remote 'delete', :url => { :controller => 'sections', :action => 'delete_page', :params => {:id=>page.section.id, :page_id => page.id}}, :html => {:class=>"delete"}
    %dl{:id => dom_id_for(page, :details), :class => 'content', :style =>'display:none;'}
      - page.page_elements.each do |element|
        %dt
          =element.embeddable.name
        %dd  
          =element.embeddable.description
          - page.page_elements.each do |element| 
            = render_content_partial_for(element.embeddable)