<h1>Editing expectation</h1>

<% form_for(@expectation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @expectation %> |
<%= link_to 'Back', ri_gse_expectations_path %>
