%p
  Welcome Admin: #{current_user.name}. 
%p 
  As an admin of this portal you can 
  =link_to("create new assessment activities",new_investigation_path)
  and have the option of making their publication status: "published" so 
  all users can see them.
%p
  You can also create new Schools and change users roles.
%p
  You can also use the "Switch" link to temporarily change to another user to help manage the portal.
