<h1>New investigation_steps</h1>

<% form_for(@investigation_steps) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', investigation_steps_path %>
