.report.scroll
  = render :partial => 'sparks_include'
  = render :partial => 'measuring_resistance_include'

  %div.rubric
    %h2
      %img.no_border{:src => "/sparks-content/common/icons/rgirl.png"}/
      Module 1: Measuring Resistance

    %div#report_area

