%OTDocumentEditViewConfig{:objectClass => "org.concord.otrunk.view.document.OTCompoundDoc", :viewClass => "org.concord.otrunk.view.document.edit.OTDocumentEditView"}
  %documentViewConfig
    %object{:refid => '${document_view_config}'}
  %objectsToInsert
    %OTText{:name => "Text field"}
    %OTDataTable{:name=>"Data table", :showLastRowForAddingNew=>"true"}
      %dataStore
        %OTDataStore{:numberChannels=>"2"}
      %OTDataCollector{:name=>"Data graph", :title=>"Data graph"}
        %source
          %OTDataGraphable{:name=>"Data Graph", :connectPoints=>"true", :controllable=>"true", :yColumn=>"1", :drawMarks=>"false", :color=>"16711680", :xColumn=>"0", :lineWidth=>"2.0"}
            %dataStore
              %OTDataStore
        %xDataAxis
          %OTDataAxis{:max=>"60.0", :units=>"s", :min=>"0.0", :label=>"Time"}
        %yDataAxis
          %OTDataAxis{:max=>"40.0", :units=>"", :min=>"0.0", :label=>""}
    %OTNLogoModel{:name=>"NetLogo model"}