%OTInterfaceManager{:local_id => "interface_manager"}
  %deviceConfigs
    - vendor_interface.device_configs.each do |device_config|
      %OTDeviceConfig{ :configString => device_config.config_string, :deviceId => vendor_interface.device_id }
