.bad_browser {
  margin: 2em;
  padding: 1em;
  border: 1px solid #e5e5e5;
  font-size: 2em;
  h1 {
    font-size: 1.5em;
    line-height: 2em;
    color: red;
  }
  p {
    line-height: 2em;
  }
  .browser_link{
    font-size: 1.2em;
    
    padding-right: 2em;
  }
}
