@mixin control {
  margin: 0px 0px 0px 1px;
  padding: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #dd6e0d;
  opacity: 0.2;
  cursor: pointer;
  &:hover {
    opacity: 1.0;
  }
}

#bookmarks_box {
  border-top: 1px dotted #479492;

  .bookmark_item {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 1em;
    overflow: hidden;
    white-space: nowrap;
    a {
      display: inline;
      vertical-align: middle;
      padding: 4px;
      border-radius: 6px;
    }
    a.delete {
      @include control;
    }
    .control {
      @include control;
    }
    .slide {
      cursor: move;
    }
    a.link_text {
      display: inline-block;
      width: 70%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

table.bookmark_visits {
  td {
    padding-left:  1em;
    padding-right: 1em;
  }
}

.bookmarks_form {
  display: inline-block;
  vertical-align: top;
  background-color: rgba(255,255,255,0.3);
  text-align: left;
  margin: 0.5em;
  border-radius: 5px;
  font-size-size: 9px;

  input[type="text"]  {
   background: none;
   font-size: 9px;
  }
  input[type="button"] {
    font-size: 12px;
  }
  input[type="submit"]{
   font-size: 12px;
  }
  label {
    display: inline;
  }
  label:after {
    content: ":";
  }
  .fields {
    text-align: right;
    line-height: 2.1em;
    vertical-align: bottom;
    margin-bottom: 0.5em;
  }
  form {
    padding: 0;
  }
}
