.classsetupform, .edit_portal_clazz {

  input, textarea, select {
    border: solid 2px #0592af;
    width: 96%;
  }
  input[type="button"], input[type="checkbox"], input[type="radio"], input[type="submit"] {
    border: none;
    width: auto;
  }
  select {
    background: image-url('chosen-sprite.png') no-repeat;
    background-position: right -35px top 10px;
    border-radius: 0;
    width: 100.5%;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  label.right {
    font-size: 14px;
    margin-top: 10px;
  }

  .class-teachers {
    padding: 0 0 10px;

    .note {
      font-size: 13px;
      line-height: 18px;
      margin-top: 5px;
    }

    #div_teacher_list {
      padding: 10px 0;

      li {
        font-weight: 500;
        margin-bottom: 0;
      }

      .rollover, .rollover:visited, .rollover:active {
        height: 22px;
        margin-right: 5px;

        img {
          width: 200%;
        }
      }
    }
  }

}

.form-submit {
  text-align: right;

  span.create_button {
    margin-left: 15px;
  }
}

dl.classdata {
  margin-bottom: 30px;

  dd {
    display: inline;
    font-size: 18px;

    &:after {
      display: block;
      content: '';
    }
  }
  dt {
    display: inline;
    font-size: 18px;
    font-weight: 500;
  }
}
