// Create collaboration dialog styles.
.collaboration-setup {
  .select2-container {
    width: 200px;
  }
  .select2-result-single {
    // Margin of this element gets overwritten somewhere else. Reset it so it looks good again.
    margin: 2px 2px 2px 0;
  }
  ul {
    margin: 0;
  }
  li {
    list-style: none;
  }
  button, input {
    margin: 5px;
    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
  input[type=password] {
    &.ng-invalid, &.ng-pending {
      background: #FFF6F6;
    }
    &.ng-valid {
      background: #ECFCEB;
    }
  }
  button {
    display: inline-block;
  }
  .close-btn {
    float: right;
    font-size: 22px;
    margin: -18px -15px 0 0;
  }
  .run-btn {
    font-size: 14px;
  }
  .collaborators {
    width: 250px;
    margin: 10px 6px;
  }
  .collaborator-name {
    margin-left: 5px;
    font-size: 14px;
  }
  .fa-spinner {
    color: #dd6e0d;
    font-size: 18px;
  }
}