#iframe_container.matedit  {
  height: 80%;
  position: absolute;
  width: 960px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  iframe {
    margin: 0px;
    padding: 0px;
    border: 0;
    width: 100%;
    position: relative;
  }
}

#Activity_edit_container {
  h3.menu {
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: museo-sans, verdana, helvetica, arial, sans-serif;
    font-weight: 300;
  }
  .top-menu {
    background-color: #f5f5f5;
    height: 80px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .left {
      height: 80px;
      width: 250px;
    }
    .right {
      width: 60%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}


/**
 *
 * Styles for Standatds Documents ASN document search widget and search results
 *
 */

.asn_add_table {
    width:          100%;
}

.asn_add_table_td_right {
    text-align:     right;
}

.asn_search_table {
    width:          100%;
}

.asn_search_table_td_right {
    text-align:     right;
}

.asn_results_div {
    min-height:     200px;
}

.asn_results_pagination_row {
    text-align:     center;
}

.asn_results_pagination_arrows {
    cursor:         pointer;
}

.asn_results_table {
    width:          100%;
    cellpadding:    2px;
    cellspacing:    2px;
}

.asn_results_th {
    text-align:     left;
    padding-left:   0px;
    padding-right:  10px;
}

.asn_results_th_right {
    text-align:     right;
    padding-left:   0px;
    padding-right:  10px;
}

.asn_results_td {
    vertical-align: top;
}

.asn_results_td_right {
    vertical-align: top;
    text-align:     right;
    float:          right;
}

.asn_results_td_fixed {
    width:          250px;
}

.asn_modal_msg {
    text-align:     center;
    font-size:      16px;
    padding-bottom: 40px;
}
