#iframe_container.matedit  {
  height: 80%;
  position: absolute;
  width: 960px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  iframe {
    margin: 0px;
    padding: 0px;
    border: 0;
    width: 100%;
    position: relative;
  }
}


/**
 *
 * Styles for multiselect widget 
 * Should move this to its own re-usable component/module.
 *
 */

.multiselect_table {
    width:          100%;
    padding:        0px;
    cellpadding:    0;
    cellspacing:    0;
}

.multiselect_td_large {
    width: 49%;
}

.multiselect_td_small {
    width:      2%;
    padding:    2px;
}

.multiselect_button_wrapper {
    width:      22px;
    padding:    1px;
}

.multiselect_button {
    width:      20px;
    height:     30px;
    border:     0 none transparent;
    padding:    0;
    margin:     0;
}

.multiselect_left {
    height: 200px;
    width:  100%;
}

.multiselect_right {
    height: 200px;
    width:  100%;
}

/**
 *
 * Styles for ASN document search widget
 *
 */

.asn_doc_search_text {
    width: 300px;
}

.asn_doc_search_results_options {
    width: 300px;
}

