#iframe_container.matedit  {
  height: 80%;
  position: absolute;
  width: 960px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  iframe {
    margin: 0px;
    padding: 0px;
    border: 0;
    width: 100%;
    position: relative;
  }
}


/**
 *
 * Styles for ASN document search widget and search results
 *
 */

.asn_doc_search_text {
    width: 300px;
}

.asn_doc_search_results_options {
    width: 300px;
}

.asn_results_div {
    height: 200px;
}

.asn_results_table {
    cellpadding: 2px;
    cellspacing: 2px;
}

.asn_results_th {
    text-align: left;
}

.asn_results_td {
}



