@mixin rounded($radius: 10px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin opac($v) {
  filter: alpha(opacity = ($v * 100));
  -moz-opacity: $v;
  -khtml-opacity: $v;
  opacity: $v;
}

@mixin float() {
  position: relative;
  display: block;
  @include rounded(10px);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  z-index: 6002;
  padding: 20px;
  background-color: white;
  @include opac(1.0);
}

#please_wait {
  position: absolute;
  display: block;
  top: 0px;
  min-height: 900px;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
}

#please_wait_backdrop {
  position: absolute;
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: black;
  @include opac(0.6);
  z-index: 6001;
}

#please_wait_status {
  max-width: 400px;
  top: 40px;
  @include float;
  font-weight: bold;
  text-align: center;
  div {
    margin-top:1em;
  }
  #please_wait_image { 
    display: inline;
    height: 24px;
    width: 24px;
    margin: 2px;
    text-align: center;
  }
  #please_wait_message{
    display: inline;
    margin-left: 1em;
  }
  .ready {
    color: #0DAD25;
  }
  .waiting {
    color: #a3000b;
  }
}

#please_wait_report {
  min-width: 400px;
  max-width: 800px;
  @include float;
  #content {
    height: 1200px;
  }
}