form.signup {
  display: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }
  a {
    cursor: pointer;
  }
  h2 {
    text-align: center;
    margin: 5px 0;
    padding: 0 5px;
    font-size: 20px;
  }
  .f-row, p {
    margin: 5px 0;
    padding: 0 5px;
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  .half {
    width: 48%;
    &:nth-child(1) {
      padding-right: 0px;
      margin-right: 0px;
    }
    &:nth-child(2) {
      padding-left: 0px;
      margin-left: 0px;
    }
    #padding: 0 0px;
    #margin: 0 0px;
    display: inline-block;
  }
  input[type="text"], input[type="password"] {
    width: 95%;
  }
  input[type="radio"] {
    margin: 0 5px;
  }
  select {
    width: 260px;
  }
  button, input[type="submit"] {
    display: block;
	padding: 7px 3px;
	width: 264px;
	font-size: 16px;
	border-radius: 4px;
	outline: none;
	
    &:disabled {
      opacity: 0.3;
      cursor: default;
    }
  }
  .wait-message {
    font-size: 13px;
    text-align: center;
  }
  .group {
    margin: 0 0 14px 0;
    padding: 0;
  }
  .unknown-error {
    font-size: 16px;
    line-height: 20px;
  }
  .error-field, .ng-invalid.ng-dirty {
    background: #FFF6F6;
    // margin: 5px 0;
    // padding: 5px 5px;
  }
  .ng-invalid.ng-invalid-server {
    border: 2px solid red;
  }
  .error-field, .ng-valid.ng-dirty {
    background: #ECFCEB;
    // margin: 5px 0;
    // padding: 5px 5px;
  }
  .error-message, .ng-help {
    color: #9B1616;
    font-weight: bold;
    margin: 0px;
    padding: 5px 2px 0px 2px;
    line-height: 14px;
  }
  .success {
    background: #BDE9D7;
    font-size: 15px;
    padding: 10px;
  }
  .big {
    font-size: 18px;
    font-weight: bold;
  }
  .bottom {
    position: absolute;
    bottom: 0px; left: 0px; right: 0px;
  }
  .select2-container {
    width: 95%
  }
  .success_message_box{
    background: #bcead7;
    padding: 10px;
  }
  .signup-success,.signin-instruction{
    margin-left: 5px;
    line-height: 20px;
  }
  .signin-instruction{
    margin-left: 0px;
  }
  .registration-steps {
	color: #95939C;
    font-size: 0.9em;
    left: 229px;
    position: absolute;
    top: 4px;
  }
}
