// These are defined in inrtuctional_materials.scss
// #recent_activity_inprogress div.progressbar_container {height:20px;padding-top:0px;padding-left:0}
// #recent_activity_inprogress td.student_progress div.progressbar_container {height:18px;padding-left:0;padding-top:2px}
// #recent_activity_inprogress .student_name{white-space:nowrap}
// #recent_activity_inprogress .progress_summary_container{width:468px;overflow:auto;text-align:left}
// #recent_activity_inprogress div.progressbar_container {height:20px;padding-top:0px;padding-left:0}
// #recent_activity_inprogress td.student_progress div.progressbar_container {height:18px;padding-left:0;padding-top:2px}
// #recent_activity_inprogress td.student_progress{padding:6px 4px 4px 4px}

// .progress_summary_container .inProgressSummary{text-align:left;border:0;margin:0px;margin-left:-1px;width:100%}
// .progress_summary_container .inProgressSummary tr { vertical-align: middle; }
// .progress_summary_container .inProgressSummary td { text-align:center; vertical-align:middle;min-width:70px;height:20px;padding:5px 4px 6px 4px}
// .progress_summary_container .inProgressSummary th { text-align:center; vertical-align:middle;font-weight:bold;min-width:70px;height:20px;padding:5px 4px 5px 4px}

// #recent_activity_inprogress .student_list{text-align:left;border:0;margin-top:0px;width:155px}
// #recent_activity_inprogress .student_list tr { vertical-align: middle; }
// #recent_activity_inprogress .student_list td { text-align:left; vertical-align:middle;height:20px;padding:5px 4px 5px 4px;background-color:Transparent;border:0;}
// #recent_activity_inprogress .student_list th { text-align:left; vertical-align:middle;font-weight:bold;height:20px;padding:5px 4px 5px 4px;background-color:Transparent;border:0;}
// #recent_activity_inprogress td.student_name div.progressbar_container {height:20px;padding-top:0px;width:100px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
// #recent_activity_inprogress td.last_update_date div.progressbar_container {height:20px;padding-top:0px;}
// #recent_activity_inprogress th.activity.expand_collapse_text div.progressbar_container {height:20px;padding-top:0px;}  



table.status_graphs {
  margin: 0.25em;
  border: none;
  tr.summary {}
  td {
    padding: 2px;
  }
  td.disclosure_widget {
    width:  20px;
    cursor: pointer;
    color:  #479492;
  }

  td.graph {}
  .progressbar_container {
    display: block;
    width: 200px;
  }
  td.top_border {
    border-top: 1px solid gray;
  }
  td.label {
    padding-left: 10px;
  }
}
