!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @response.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @response.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = Smartgraph::Response.display_name + ': ' + @response.name
              %object{ :refid => ot_refid_for(@response) }
      %library
        = content_for :layout