.manage_classes_panel#manage_classes_panel
  %h1 Manage Class List
  -if(@teacher.teacher_clazzes.length == 0)
    = 'To get started,'
    %a{ :id => "create_class", :href => new_portal_clazz_path } create a class
    ='. Once you have created your class(es) you will be able to assign Investigations to your students.'
  -else
    .manage_info Archived classes are not shown in the menu on the left. All data for archived classes is preserved. Drag and drop a class to reorder it in the list.

    #manage-classes-component
    :javascript
      PortalComponents.renderManageClasses({
        classes: #{@teacher.teacher_clazzes.includes(:clazz).map {|c| {id: c.id, name: c.name, active: c.active, classWord: c.clazz.class_word, description: c.clazz.description}}.to_json}
      }, 'manage-classes-component');
