%table{}
  %tr
    %td
      %span.legend_completed
        &nbsp;&nbsp;
      Completed
    %td
      %span.legend_progress
        &nbsp;&nbsp;
      In Progress
    %td
      %span.legend_not_started
        &nbsp;&nbsp;
      Not Yet Started
