#assignments-page

:javascript
  PortalComponents.renderAssignments({
    classDataUrl: Portal.API_V1.class("#{@portal_clazz.id}"),
    researcher: #{@researcher ? 'true' : 'false'},
  }, 'assignments-page')
