#assignments-page

:javascript
  PortalComponents.renderAssignments({
    classDataUrl: Portal.API_V1.class("#{@portal_clazz.id}"),
    readOnly: #{!current_user.has_full_access_to_student_data?(@portal_clazz)},
  }, 'assignments-page')
