= render_portal_clazz_partial 'portal/clazzes/show'
= render_portal_clazz_partial 'portal/clazzes/links'
= render :partial => 'shared/lightbox_report'
= render :partial => 'shared/offerings_for_student', :locals => { :offerings => @offerings }
