.landing-container
  .signup-box
    .message
      To provide you access to your account we need to verify the following details.
    %div{'ng-controller' => 'RegistrationController as regCtrl'}
      = form_tag '/itsi_login/itsi_user_authentication',
        'with-errors' => 'true',
        'id' => 'itsi-confirm',
        'name' => 'itsi-confirm',
        'validate' => 'false',
        'class' => 'itsi_confirm' do

        %h2 ITSI user confirmation
        .error

        .group
          %input{:name =>'login', :type => "text", :placeholder => "username", :value => session[:login] ? session[:login] : "", :required => "true"}

        .error-country
        .group
          .f-row
            %ui-select{"ng-model"   => "regCtrl.country",
              "theme"               =>  "select2",
              "ng-change"           =>  "regCtrl.countrySelected()"}
              %ui-select-match{"placeholder" => "Select your country..."}
                {{$select.selected.name}}
              %ui-select-choices{"repeat" => "country in regCtrl.countries | filter: {name: $select.search}" }
                {{country.name}}

        = hidden_field_tag "country", "{{regCtrl.country.name}}"

        .error-state
        .group{"ng-show" => "regCtrl.showState()"}
          .f-row
            %ui-select{"ng-model" => "regCtrl.state",
              "theme"             =>  "select2",
              "ng-change"         =>  "regCtrl.stateSelected()"}
              %ui-select-match{"placeholder" => "Select your state..."}
                {{$select.selected}}
              %ui-select-choices{"repeat" => "state in regCtrl.states | filter: $select.search" }
                {{state}}
        = hidden_field_tag "state", "{{regCtrl.state}}"
        %br
        %input{:class => "import-submit", :type => "submit", :id => "itsi-confirm", :value => "Submit"}

:javascript

  jQuery(function(){
    var form = jQuery('#itsi-confirm'),
    angular_scope = angular.element(form).scope();
    angular_scope.regCtrl.loadCountries();

    form.on('submit', function(event) {
      if (jQuery("#country")[0].value == "") {
        jQuery(".error-country").html("Please select your country.");
        event.preventDefault();
        return;
      }

      if (jQuery("#state")[0].value == "") {
        if (jQuery("#country")[0].value == "United States") {
          jQuery(".error").html("Please select your state.");
          event.preventDefault();
          return;
        }
      }
    });
  });