<h1>Listing interactive_models</h1>

<table>
  <tr>
  </tr>

<% for interactive_model in @interactive_models %>
  <tr>
    <td><%= link_to 'Show', interactive_model %></td>
    <td><%= link_to 'Edit', edit_interactive_model_path(interactive_model) %></td>
    <td><%= link_to 'Destroy', interactive_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New interactive_model', new_interactive_model_path %>
