<h1>New interactive_model</h1>

<% form_for(@interactive_model) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', interactive_models_path %>
