%div{:id => dom_id_for(diy_section, :details), :class => 'content'}
  = section.prompt

  %textarea{:type => 'text', :style=>"width: 100%;", :value =>diy_section.default_response, :class=> "mceNoEditor",:id => dom_id_for(diy_section, :item, :default_response_field)}
