- content_for(:library) do
  - if diy_section.has_question
    %OTQuestion{:local_id => ot_local_id_for(diy_section)}
      %prompt
        %OTCompoundDoc
          %bodyText= diy_section.content
      %input
        %OTCompoundDoc
          %bodyText
            %table{:width => '90%'}
              %tr
                %td{:width => '5%'}
                %td
                  %object{:refid => ot_refid_for(diy_section, :response)}
  - else
    %OTCompoundDoc{:local_id => ot_local_id_for(diy_section)}
      %bodyText= diy_section.content

  %OTText{ :local_id => ot_local_id_for(diy_section, :response), :rows => '5', :columns => '35', :fontSize => '12', :name => "#{diy_section.name}_field"}
    %text= h(diy_section.default_response)
