- template_form(diy_section) do |f|
  = render :partial => 'embeddable/diy/sections/form', :locals => { :diy_section => diy_section, :f => f}
  = f.submit("Save",  :class=> "template_save_button")
  %a.template_cancel_link{:href => "javascript:void(0)"} Cancel
