-#= render :partial => 'shared/collection_menu', :locals => { :collection => @sections, :collection_class => Embeddable::OpenResponse }        
- @diy_sections.each do |section|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => section}
