= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_organisms, :collection_class =>BiologicaOrganism}        
- @biologica_organisms.each do |biologica_organism|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_organism}
