%b
  Custom stylesheet for OTML:
%br
(These style rules will be applied to your OTML runnables. Only subset of CSS2 is supported)
= f.text_area :custom_css, :id => dom_id_for(admin_project, :custom_css, :textarea), :class => 'mceNoEditor'
