.item
  = edit_menu_for(admin_project, f, { :omit_cancel => true })
  .content
    %p
      = render :partial => "home_page_content_field", :locals => { :admin_project => admin_project, :f => f }
    %p
      = render :partial => "custom_css_field", :locals => { :admin_project => admin_project, :f => f }

