%b
  Home Page Content
%br
(This is the text that gets displayed on the front page of the project, before a user has logged in.
%br
Clear everything from this editor and save the project to reset the content to default.)
= f.text_area :home_page_content, :id => dom_id_for(admin_project, :item, :textarea), :class => 'tinymce_textarea'
