- remote_form_for(admin_project, :before => "tinyMCE.triggerSave(true,true)", :update => dom_id_for(admin_project)) do |f|
  = render :partial => "form", :locals => { :admin_project => admin_project, :f => f  }
