= remote_form_for(project, update: {success: dom_id_for(project), failure: dom_id_for(project, :edit)},
                           html: {id: dom_id_for(project, :edit)}) do |f|
  = render partial: 'form', locals: { project: project, f: f }
