-# This is using the minimal layout, so we need to add the header ourselves
= render :partial => 'shared/project_header',
  :locals => { :extra_options => { :isAbout => true } }

.landing-page-content
  = raw(@landing_page_content)
