= javascript_include_tag "preview_home_page.js" # include javascript to preview home page
= javascript_include_tag('preview_help_page.js')
= javascript_include_tag 'project_form'
= render :partial => 'show', :locals=> { :admin_project => @admin_project }
