<h1>Editing nces06_district</h1>

<% form_for(@nces06_district) do |f| %>
    <% if @nces06_district.errors.any? %>
    <div class="error-messages">
      <ul>
        <% @nces06_district.errors.map(&:full_message).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nces06_district %> |
<%= link_to 'Back', portal_nces06_districts_path %>
