<h1>New nces06_district</h1>

<% form_for(@nces06_district) do |f| %>
  <% if @nces06_district.errors.any? %>
    <ul>
      <% @nces06_district.errors.map(&:full_message).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', portal_nces06_districts_path %>
