= render :partial => 'embeddable/inner_pages/page_header', :locals => locals
%li.menu.page.item.container_element{:id => dom_id_for(sub_page, :container)}
  = render :partial => 'embeddable/inner_pages/page', :locals => locals