%li{:id => dom_id_for(page_element, :item), :class => 'menu sortable item_selectable' }
  = render :partial => 'shared/embeddable_container', :locals=> {:component => component, :page_element=> page_element}
  