%li[page.element_for(element_container.embeddable)]
  %div{ :id => "item_#{element_container.embeddable.name.underscore}_#{element_container.embeddable.id}", :class => 'item' }
    = render_partial_for(element_container.embeddable)
