<% @investigation.steps.each do |step| %>
  <% content_tag_for :li, step, :class => "sortable_element" do %>
    <%= html_for_step(step) %></li> 
  <% end %> 
<% end %> 
<%= sortable_element :steps, :dropOnEmpty => true, 
  :url=> {:action => 'sort_steps', :params => {:investigation_id => @investigation.id }}  %> 
