- page.page_elements.each_with_index do |element,i|
  %h2= element.embeddable.name
  = render :partial => 'pages/template_element_container', :locals => {:element => element, :component => element.embeddable, :page_element => element, :page => page }
