- page.page_elements.each_with_index do |element,i|
  - component = element.embeddable
  - # TODO: we should still render disabled pieces, but render them small like ...
  - dom_class = element.enabled? ? "template_container" : "template_container disabled"
  %div{:id => dom_id_for(element, :template_container), :class => dom_class }
    %div.buttons
      %div.template_disable_button
      %div.template_enable_button
      %div.template_wait
      %div.template_edit_button
      -#%div.template_save_button
    %div.template_view_title{:id => dom_id_for(element, :template_view_title)}
      -# Below: weird active record glitch? proxy objects dont work:
      %h3= element.embeddable.send :name
    %div.template_view_container{:id => dom_id_for(element, :template_view_container)}
      = render :partial => 'shared/template_embeddable_container', :locals=> {:component => component, :page_element=> element}
      -#= render_show_partial_for(component,false)
    %div.template_edit_container{:id =>dom_id_for(element, :edit_container)}
      = render_template_edit_partial_for(component)
