
<% form_for(xhtml) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name, :size => 60 %>
  </p>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :cols => 70 %>
  </p>
<% end %>
