<h1>Editing page_elements</h1>

<ol>
  <% @page_elements.each do |element| %>
    <% content_tag_for :li, element, :class => "sortable_element" do %>
      <%= render(:partial => element.embeddable_type.underscore, :object => element.embeddable) %>
    <% end %> 
  <% end %>
</ol> 
<%= sortable_element :elements, :dropOnEmpty => true, 
  :url=> {:action => 'sort_elements', :params => {:page_id => @page.id }}  %> 

<%= link_to 'Show', @page %>