<h1>Editing multiple_choice</h1>

<% form_for(@multiple_choice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @multiple_choice %> |
<%= link_to 'Back', multiple_choices_path %>
