= render :partial => 'shared/collection_menu', :locals => { :collection => @multiple_choices, :collection_class => MultipleChoice }        

- @multiple_choices.each do |multiple_choice|
  %div{ :id => dom_id_for(multiple_choice, :item), :class => 'item' }
    = render :partial => "show", :locals => { :multiple_choice => multiple_choice }