/*
* =require application
*/

.project-header h1 {
  background: transparent image-url("/assets/banners/ngss-assessment.png") 0 0 no-repeat;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) { 
      background: transparent image-url("/assets/banners/ngss-assessment@2x.png") 0 0 no-repeat;
      background-size: 325px 100px;
  }
}
