.action_menu
  .action_menu_header
    .action_menu_header_right
      %ul.menu
        %li= link_to_remote "edit", :url => {:action => :edit, :id => @web_model.id}, :method => :get

= render :partial => 'web_models/show', :locals => {:web_model => @web_model}
