%h2
  Mac OS X Web Start Fix
%hr
%p
  If you are using Java 1.5 on Mac OS X 10.4 or 10.5, you will need to run our Fix MacOS Java 1.5 
  Web Start Utility once on each computer before you launch any activities. 
%p
  Without the fix, activities that you have run before will freeze during download. 
  %a{:href=>"http://jnlp.concord.org/dev/org/concord/maven-jnlp/web-start-fix/web-start-fix.jnlp"}
    Click here to run it now.
%p
  %strong
    WARNING: 
  If you update Java on your Macintosh you will need to fix this problem again.