%h1=I18n.t('recent_activity.title')
= render :partial => "notice"
#recent-activity

:javascript
  PortalPages.renderRecentActivity({dataUrl: Portal.API_V1.OFFERINGS + '?user_id=#{current_user.id}'}, 'recent-activity');
