- if current_user.has_active_classes?
  %h1=I18n.t('recent_activity.title')
  = render :partial => "notice"
- else
  %h1=I18n.t('getting_started.title')

#recent-activity

:javascript
  PortalComponents.renderRecentActivity({dataUrl: Portal.API_V1.OFFERINGS + '?user_id=#{current_user.id}'}, 'recent-activity');
