#main
  %h3
    Technical Notes and Requirements
  %p
    :markdown
      The [Java Runtime Environment](http://java.com 'Get the Java Runtime Environment') version 5
      (sometimes referred to as 1.5) or later with Java Webstart is required to run run any of the
      activities.

      On a **Mac OS X**, Java is provided by Apple. You do not need to manually download it. The first
      time you run a Java application on a new computer Java will be installed automatically for you.
      *DO NOT* install the alternative Java available for OS X at java.com. If you have installed this,
      your computer will not be able to run the activities. In that case, follow the
      [directions for uninistalling Java](http://www.java.com/en/download/help/mac_uninstall_java.xml).

      On **Windows**, you will need to install 32-bit Java, if it isn't already installed on your machine.
      You can download it at: [java.com](http://java.com 'Get Java'). If you have 64-bit Java installed
      then the sensors will not work on your computers, so you will need to uninstall 64-bit Java and
      install 32-bit Java.
