= remote_form_for(dataservice_bundle_logger, :update => dom_id_for(dataservice_bundle_logger)) do |f|
  = render :partial => "form", :locals => { :dataservice_bundle_logger => dataservice_bundle_logger, :f => f  }
