- hide_types = [Embeddable::InnerPage, Embeddable::Biologica::World, Embeddable::Biologica::Organism, Embeddable::Biologica::StaticOrganism, Embeddable::Biologica::Chromosome, Embeddable::Biologica::ChromosomeZoom, Embeddable::Biologica::BreedOffspring, Embeddable::Biologica::Pedigree, Embeddable::Biologica::MultipleOrganism, Embeddable::Biologica::MeiosisView]

%div{:id=>dom_id_for(page, :add_menu), :class=>"dropdown"}
  %ul
    - Page.element_types.each do |type|
      - next if hide_types.include? type
      %li= link_to_remote "#{type.display_name}", |
      :update => dom_id_for(page, :container), |
      :url    => add_element_embeddable_inner_page_path(:class_name => type.name, :id=>inner_page.id, :page_id => page.id), |
      :html   => {:class=>'action'}, :complete => mce_init_string |
