= remote_form_for(inner_page, :update => dom_id_for(inner_page, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "embeddable/inner_pages/form", :locals => { :inner_page => inner_page, :f => f  }