%div{:id => dom_id_for(inner_page, :item), :style=>'min-height: 320px;'}
  %table{:width=>"100%"}
    %tr
      %td{:valign=>"top", :width => "50%"}
        %div{ :id => dom_id_for(inner_page, :inner_page_area)}
          - if params['print']
            - inner_page.sub_pages.each do |sub_page| 
              = render :partial => 'embeddable/inner_pages/page', :locals=>{:sub_page => sub_page, :inner_page => inner_page}
          - else
            = render :partial => 'embeddable/inner_pages/page', :locals=>{:sub_page => inner_page.sub_pages.first, :inner_page => inner_page}

      %td{:valign=>"top"}
        %div{ :id => dom_id_for(inner_page, :static_page_area)}
          - if inner_page.static_page
            = render :partial => 'embeddable/inner_pages/static_page', :locals=>{:page => inner_page.static_page, :inner_page => inner_page}

