= render :partial => 'shared/collection_menu', :locals => { :collection => @inner_pages, :collection_class => Embeddable::InnerPage }        
- @inner_pages.each do |inner_page|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => inner_page}
