/ = render :partial => 'shared/collection_menu', :locals => { :collection => @dataservice_console_loggers, :collection_class => Dataservice::ConsoleLogger }
= render :partial => 'show', :collection => @dataservice_console_loggers, :as => :dataservice_console_logger
