!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @data_table.uuid}
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@data_table.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::DataTable.display_name + ': ' + @data_table.name)
              %object{ :refid => ot_refid_for(@data_table) }/
      %library
        =yield :layout