!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @multiple_choice.uuid}
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@multiple_choice.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::MultipleChoice.display_name + ': ' + @multiple_choice.name)
              %object{ :refid => ot_refid_for(@multiple_choice) }/
      %library
        =yield :layout