!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @open_response.uuid}
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@open_response.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::OpenResponse.display_name + ': ' + @open_response.name)
              %object{ :refid => ot_refid_for(@open_response) }/
      %library
        =yield :layout