!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @raw_otml.uuid}
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@raw_otml.name), :authoring => @authoring)
      %root
        = @raw_otml.otml_content
      %library
        =yield :layout