-# this view is only accessed by administrators
-# a normally logged in teacher will be on the home page which includes the show partial
-# the show partial doesn't really show anything useful other than the user name so it
-# isn't included here
%h3= @portal_teacher.name

%table.classes_school_listing
  %thead
    %tr
      %td{colspan: 2}
        %h4 Classes
  %thead
    %tr
      %td
        Name
      %td
        School
  %tbody
    - @portal_teacher.clazzes.each do |clazz|
      %tr
        %td
          =link_to clazz.name, clazz
        %td
          =clazz.school.name

%table.school_listing
  %thead
    %tr
      %td{colspan: 2}
        %h4 Schools
  %tbody
    - @portal_teacher.school_memberships.each do |school_membership|
      %tr
        %td
          =school_membership.school.name
        %td
          =link_to 'Edit', edit_portal_school_membership_path(school_membership)
