<h1>New school_membership</h1>

<% form_for(@school_membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', portal_school_memberships_path %>