%OTDataCollector{ :local_id => ot_local_id_for(data_collector), :name => data_collector.name, 
  :title => data_collector.title, :autoScaleEnabled => data_collector.autoscale_enabled.to_s, 
  :showControlBar => "true", :useDefaultToolBar => "false", :displayButtons => '0,1,2,3,4,5' }
  - if data_collector.graph_type == 'Sensor'
    %source
      %OTDataGraphable{ :name => 'Sensor', :connectPoints => data_collector.connect_points.to_s, :drawMarks => data_collector.draw_marks.to_s, 
      :color => "0x00ff", :xColumn => "0", :lineWidth => "2.0", :visible => "true" }
        %dataProducer
          %OTSensorDataProxy{ :local_id => ot_local_id_for(data_collector, :data_proxy), :name => 'dataproducer' }
            %request
              %OTExperimentRequest{ :period => '0.1' }
                %sensorRequests
                  %OTSensorRequest{ :stepSize => data_collector.probe_type.step_size.to_s, :type => data_collector.probe_type.ptype.to_s, 
                  :unit => 'degC', :port => '0', :requiredMax => '40.0', :displayPrecision => "#{data_collector.probe_type.display_precision}", 
                  :requiredMin => '0.0' }/
        %dataStore
          %OTDataStore{ :local_id => ot_local_id_for(data_collector, :data_store) }/
  - else
    %source
      %OTDataGraphable{ :name => 'Prediction Graph', :controllable => 'true', :connectPoints => data_collector.connect_points.to_s, :drawMarks => data_collector.draw_marks.to_s, 
      :color => "0xff0000", :xColumn => "0", :lineWidth => "2.0", :visible => "true" }
        %dataStore
          %OTDataStore{ :local_id => ot_local_id_for(data_collector, :data_store) }/
    %dataSetFolder
      %OTFolderObject/
  - if prediction_graph = data_collector.prediction_graph_source
    %graphables
      %OTDataGraphable{ :name => 'Prediction Graph', :controllable => 'true', :connectPoints => prediction_graph.connect_points.to_s, :drawMarks => prediction_graph.draw_marks.to_s, 
      :color => "0xff0000", :xColumn => "0", :lineWidth => "2.0", :visible => "true" }
        %dataStore
          %object{ :refid => ot_refid_for(prediction_graph, :data_store) }/

  %xDataAxis
    %OTDataAxis{ :max => data_collector.x_axis_max, :min => data_collector.x_axis_min, 
      :units => data_collector.x_axis_units, :label => data_collector.x_axis_label, :labelFormat => 'None' }/
  %yDataAxis
    %OTDataAxis{ :max => data_collector.y_axis_max, :min => data_collector.y_axis_min, 
      :units => data_collector.y_axis_units, :label => data_collector.y_axis_label, :labelFormat => 'None' }/
- if data_collector.prediction_graph_source
  = render_scoped_reference(data_collector.prediction_graph_source)