%li[@page.element_for(component)]
  .item
    = render :partial => 'shared/element_menu', :locals => { :page => page, :component => component }
    .content
      = component.description
      %div[component]
        :javascript
          Flotr.draw(
            $('data_collector_#{component.id}'),[
            {data: [ ],
              label: 'Distance (m)',
              lines: {show: true, fill: false},
              points: {show: true}
              }],{
              legend: {show: true, max: 60},
              xaxis: {min: 0, max: 60},
              yaxis: {min: 0, max: 5}
            }
            );
