<h1>Listing data_collectors</h1>

<table>
  <tr>
  </tr>

<% for data_collector in @data_collectors %>
  <tr>
    <td><%= link_to 'Show', data_collector %></td>
    <td><%= link_to 'Edit', edit_data_collector_path(data_collector) %></td>
    <td><%= link_to 'Destroy', data_collector, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New data_collector', new_data_collector_path %>
