%h1= "Data Collectors: #{@data_collectors.length}" 
- content_for(:content_header_left) do
  %ul
    - if RAILS_ENV == "development"
      %li
-content_for(:content_header_right) do
  %ul
    %li

- @data_collectors.each do |data_collector|
  %div{ :id => dom_id_for(data_collector, :item), :class => 'item' }
    = render :partial => 'data_collector', :locals => { :data_collector => data_collector }
