= render :partial => 'shared/collection_menu', :locals => { :collection => @data_collectors, :collection_class => DataCollector }        

- @data_collectors.each do |data_collector|
  %div{ :id => dom_id_for(data_collector, :item), :class => 'item' }
    = render :partial => "show", :locals => { :data_collector => data_collector }