- teacher_list = (!portal_clazz.school.nil?) ? portal_clazz.school.portal_teachers - portal_clazz.teachers : []
- portal_teachers = portal_clazz.school.portal_teachers.sort { |a,b| (a.last_name <=> b.last_name) }
- clazz_teachers = portal_clazz.teachers  
%div
  %h3 Select Teachers
  %table.teachers_listing
    - portal_teachers.each do|portal_teacher|
      %tr{:id=>dom_id_for(portal_teacher)}
        %td
          = check_box_tag "clazz_teacher[]", portal_teacher.id, !clazz_teachers.find_by_id(portal_teacher.id).nil? , {:id=>"clazz_teacher_"+portal_teacher.id.to_s, :class => "filter_checkbox", :disabled => (portal_teacher.id == portal_clazz.teacher.id)}
        %td
          %label{:for=>"clazz_teacher_"+portal_teacher.id.to_s, :style=>"font-weight:normal"}
            = portal_teacher.last_name + ", " + portal_teacher.first_name