%h3= "Welcome, #{teacher.name} from #{teacher.school.name}"
%p
  To get started, 
  =link_to("create a class",new_portal_clazz_path) + "."
  Once you have created your class(es) you will be able to assign Investigations to your students.

%p
  Your classes will be listed in the left-hand column on this page. Click on the class name to assign Investiations.

