-# %h3= "Welcome, #{teacher.name} from #{teacher.school.name}"
-# Displaying the first school causes confusion for teachers who are
-# in more than one school. They think that their account is locked
-# into just one school.
%h3= "Welcome, #{teacher.name}"
- if current_user.has_active_classes?
  %p
    Your classes are listed in the left-hand column on this page.
- else
  %p
    The Learn portal is being developed as a central repository for our online activities, giving
    teachers and students access to open educational resources across our projects, past and
    present. The portal currently offers a limited number of activities. We’re actively working on
    adding new resources, so check back often!
  %p
    To get started, you can view available activities by clicking on the “Search” link in the menu
    above. Or set up a class by clicking the “Create a Class” button on the left.
