%h3= "Welcome, #{teacher.name}"
Your classes are listed in the left-hand column on this page. 
To view a class, to see a list of students in the class, or to assign investigations to the class, click on the class name. 
