%h3= "Welcome, #{teacher.name}"
Your classes are listed in the left-hand column in this page. To view your class, see a list of the classes students, or assign investigations, click on a class name in the left hand side. 
