%h3= "Welcome, #{teacher.name}"
%p
  To get started, 
  =link_to("create a class",new_portal_clazz_path) + "."
  Once you have created your class(es) you will be able to either assign existing assessment activities or
  =link_to("create your own new assessment activities",new_investigation_path) + "." 
  and assign these to your classes.

%p
  Your classes will be listed in the left-hand column on this page. Click on the class name to assign Investiations.

