%div
  %div.contentdiv
    #div_teacher_list
      = render :partial => 'portal/teachers/list_for_clazz_setup', :locals => {:portal_clazz => portal_clazz}
  %div.linkdiv
    %a.HLink{:onclick=>"add_Edit_Class_Teachers()"} Add/Edit teachers