%div{:style=>"padding:0px;margin:0px"}
  %div.contentdiv
    %div 
      = teacher_add_dropdown(portal_clazz)
    #div_teacher_list
      = render :partial => 'portal/teachers/list_for_clazz_setup', :locals => {:portal_clazz => portal_clazz}