%h1 Teacher Signup Page
= render :partial => 'form', 
  :locals => { :portal_districts => @portal_districts,
    :portal_teacher => @portal_teacher, 
    :portal_grades => @portal_grades, 
    :domains => @domains,
    :portal_clazz => @portal_clazz, 
    :default_grade_id => @default_grade_id,
    :school_selector => @school_selector }
= link_to 'Back', portal_teachers_path
