%div{:id => dom_id_for(open_response, :details), :class => 'content'}
  = wrap_edit_link_around_content(open_response, options={:complete => mce_init_string}) do
    = open_response.prompt
    - field_set_tag  do
      %input{:type => 'text', :value =>open_response.default_response, :size => 80, :id => dom_id_for(open_response, :item, :default_response_field)}
