%OTQuestion{:local_id => ot_local_id_for(open_response)}
  %prompt
    %OTCompoundDoc
      %bodyText= open_response.prompt
  %input
    %OTText{ :local_id => ot_local_id_for(open_response, :response), :rows => '2', :columns => '40' }
      %text= h(open_response.default_response)
