%li[page.element_for(component)]
  %div[component, "item item"]
    .menu
    = component.name 
    =link_to_ajax_delete(page,component)
    .content
      .prompt= component.prompt
      .response= component.default_response
