= render :partial => 'shared/collection_menu', :locals => { :collection => @open_responses, :collection_class => OpenResponse }        

- @open_responses.each do |open_response|
  %div{ :id => dom_id_for(open_response, :item), :class => 'item' }
    = render :partial => "show", :locals => { :open_response => open_response }
