%h1= "Open Response Questions: #{@open_responses.length}" 
- content_for(:content_header_left) do
  %ul
    %li
-content_for(:content_header_right) do
  %ul
    %li

= render :partial => 'open_response', :collection => @open_responses
