.legal
  %p Copyright &copy; 2009 The Concord Consortium, All Rights Reserved

  %p This project is funded by the ITEST program of the
  National Science Foundation (Grant No. ESI 0624718).

  %p Any opinions, findings, and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect
  the views of the National Science Foundation.
