.legal
  %p Copyright &copy; 2009 The Concord Consortium, All Rights Reserved

  %p NSF grant is issued by NSF 09-506 - Innovative Technology Experiences for
  Students and Facilitators (ITEST) (Project number DRL-0929540.)

  %p Any opinions, findings, and conclusions or recommendations expressed in this
  material are those of the author(s) and do not necessarily reflect
  the views of the National Science Foundation.
