#admin_notice_edit_form

:javascript
  jQuery(document).ready(function () {
    PortalComponents.renderSiteNoticesEditForm({dataUrl: Portal.API_V1.SITE_NOTICES_EDIT, notice: #{@notice.to_json}}, 'admin_notice_edit_form');
  });
