#admin_notice_listing_container

:javascript
  jQuery(document).ready(function () {
    PortalComponents.renderSiteNotices({dataUrl: Portal.API_V1.SITE_NOTICES_INDEX}, 'admin_notice_listing_container');
  });
