<h1>Editing probe_type</h1>

<% form_for(@probe_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @probe_type %> |
<%= link_to 'Back', probe_types_path %>