%p
  %strong
    HAS: High Adventure Science
%p 
  The goal of the High Adventure Science project is to inject contemporary Earth and Space science into the classroom, engaging students in important unanswered questions that scientists around the world are actively exploring. The project is producing three five-day computer-based learning modules focused on specific questions. Students will learn directly from scientists in the field through video clips. They will use computer-based models to investigate aspects of the same research. We do not expect that students will be able to “solve” the problems, but they will gain hands-on experience in doing science the way current scientists approach these questions. They will also gain an appreciation for how much is not yet known about the world around us, that science is not all about textbook facts. 
