/* Padded Content Submenu*/
div#clazzes_selected
{
    a {
      color: #000000;
      display: block;
      margin: 0;
      padding: 0px 20px; }
    a.selected {
      background: url("/images/class_arrow_horizontal.png");
      background-repeat: no-repeat;
      background-position: left top;
      color: #000000;
      font-weight: bold; }
    a.upper_of_selected{
      background: url("/images/class_arrow_vertical.png");
      background-repeat: repeat-y;
      background-position: left;
    }
}

#clazzes_selected
{
  background-color: #ffffff;
  color: #000000;
  font-weight: normal;
  padding: 0px 20px 5px 25px;
}

#clazzes_selected_submenu
{
  margin: 0px 10px;
  background-color: #ffffff;
  /*color: #0000ff;*/
  font-weight: normal;
}

.create_link.button
{
  button {
  border: 0 solid #f3951d;
  color: white;
  display: inline;
  font: 12px / 1 Arial, Helvetica, sans-serif;
  padding: 4px 5px;
  /* CSS 3 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d));
  background: -moz-linear-gradient(top, #f3951d, #dd6e0d);
  _background: #f6f2e2;
  border-radius: 12px;
  /* Opera 10.5, IE 9 */
  -moz-border-radius: 12px;
  /* FF1+ */
  -webkit-border-radius: 12px;
  /* Saf3+, Chrome */ }
}


.total_Class_summary
{
    font-weight:bold;
    font-size: 1.3em;
    color: #000000;
    display:inline;
    float: left;
    padding-top: 20px;
}

.class_list_element
{
  a{
    float: right;
  }
  input
  {
    display: inline;
    float: left;
    margin: 6px;
  }
  label
  {
    font-weight:bold;
    font-size: 1.3em;
    color: #000000;
    display:inline;
    float: left;
    padding-left: 20px;
  }
  
}


.class_list_element_container
{
  width:350px;
}

.manage_classes_panel
{
  #sortable li { margin: 0 0px 3px 0px; padding: 0em;cursor:move }
}

.right_float
{
  float: right;
  bottom: 0;
  button {
  border: 0 solid #f3951d;
  color: white;
  display: inline;
  font: 12px / 1 Arial, Helvetica, sans-serif;
  padding: 4px 5px;
  /* CSS 3 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f3951d), to(#dd6e0d));
  background: -moz-linear-gradient(top, #f3951d, #dd6e0d);
  _background: #f6f2e2;
  border-radius: 12px;
  /* Opera 10.5, IE 9 */
  -moz-border-radius: 12px;
  /* FF1+ */
  -webkit-border-radius: 12px;
  /* Saf3+, Chrome */ }
}

.clear_both
{
  clear:both;
}

.main_manage_classes_container{padding:10px 10px 10px 10px;background-color:White;-moz-border-radius: 20px; -webkit-border-radius: 20px;-khtml-border-radius: 20px;border-radius: 20px}

.popup_content
{
  padding: 20px 20px 20px 20px;
  background-color: #DDDDDD;
}
