.search_materials tr
{
  vertical-align:top;
  text-align:left;
}
.result_material tr
{
  border-top:2px solid #FEE9AA;
}
.result_material td
{
  padding-top:15px;
}
.result_material
{
  width:100%;
}
.search_materials th
{
  color: #EE864E;
}
input[name='name'] {
width: 300px;
}
.search_label,.material_type{
  font-weight:bold;
  color: #247A7E;
}
#filter_container
{
 background-color:#fbf4da; 
}
.filters{
  background-color:#fbf4da;
  margin-left: 15px;
  float:left;
}

.sortbycolumn{width:95px;}
.domaincolumn{width:165px;}
.gradecolumn{width:90px;}
.materialcolumn{width:100px;}
.probescolumn{width:145px;}

.material_header
{
  font-weight:bold;
  font-size:16px;
  color: #247A7E;
}
.material_type{
  width:120px;
}
.material_list{
  width:450px;
}
.material_button {
  margin-right:6px;
  margin-top: 2px;
}
.material_thumbnail{
  height: 40px;
  width: 40px;
  background: gray;
}
.material_type{
  font-size:12px;
}
#search_suggestions{
  position: absolute;
  width: 310px;
  background-color: white;
}
#suggestions{
  border:1px solid gray;
  border-top:0px;
}
.suggestion{
  padding: 2px;
  cursor:default;
}

.suggestion_link:hover
{
  color:black;
}
.suggestion:hover
{
  background-color:#FEE9AA;
}
.suggestionhover
{
  background-color:#FEE9AA;
}
.suggestion_link{
  color:black;
}

.sort_radio {
  display: none
}

.sortbycolumn label {
  cursor: pointer
}
.sort_container {
  width:80px;
}
.highlightoption {
  font-weight: bold;
  text-decoration: underline;
}
search_materials{
  margin:0 0 0 0px;
  background-color:white;
}

.probes_container{
  overflow:auto;
  height:95px;
  background-color:white;
  border: 1px solid #CCC;
  }
#select_none_probes{
  cursor:pointer;
 text-decoration:underline;
 font-weight:bold;
}
.material_list .material_list_item{
  border-bottom: 1px solid #DDD;
  padding-bottom: 5px;
  padding-top: 5px;
}

td.material_list div.material_list_item:last-child{
  border-bottom: none;
}

.domin_container
{
  width:100px;
}
.grade_container
{
  width:100px;
}
.material_container
{
  width:100px;
}

