.search_materials tr
{
  vertical-align:top;
  text-align:left;
}
.result_material tr
{
  border-bottom:2px solid #FEE9AA;
}
.search_materials th
{
  color: #EE864E;
}
input[name='name'] {
width: 300px;
}
.search_label,.material_type{
  font-weight:bold;
  color: #247A7E;
}
.filters{
  background-color:#fbf4da;
  width:100%;
}
.material_header
{
  font-weight:bold;
  font-size:16px;
  color: #247A7E;
}
.material_type{
  width:120px;
}
.material_list{
  width:450px;
}
.material_button {
  margin-right:10px;
  margin-top: 2px;
}
.material_thumbnail{
  height: 40px;
  width: 40px;
  background: gray;
  margin: auto;
}
.material_type{
  text-align:center;
  font-size:12px;
}
#search_suggestions{
  border:1px solid gray;
  border-top:0px;
  position: absolute;
  width: 310px;
  background-color: white;
}
.suggestion{
  padding: 2px;
  cursor:default;
}
.suggestion_link:hover
{
  color:black;
}
.suggestion:hover
{
  background-color:#FEE9AA;
}
.suggestion_link{
  color:black;
}

.sort_radio {
  display: none
}

.sort_container label {
  cursor: pointer
}
.sort_container {
  width:80px;
}
.highlightoption {
  font-weight: bold;
  text-decoration: underline;
}

