
- if ENV['RESEARCHER_REPORT_ONLY']
  - # in this case we are only showing a minmal layout. So provide the user with a
  - # simple header
  %div
    Welcome
    = "#{current_visitor.name}"
    %br
    = link_to 'Logout', destroy_user_session_path

= react_component("FilterReports", {})
