@import '../../shared/styles/mixins/_mixins.scss';
@import '../../shared/styles/variables/_colors.scss';
@import '../../shared/styles/variables/_variables.scss';

.finderResultGradeLevels {
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  position: absolute;
}
.finderResultGradeLevel {
  background-color: $light-gray;
  color: $col-darkgray-50;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 5px;
  padding: 3px 5px;
}