@import '../../shared/styles/variables/_colors.scss';
@import '../../shared/styles/mixins/_mixins.scss';
@import '../../shared/styles/variables/_variables.scss';

.finderResult {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px 10px 34px;
  position: relative;
  transition: .3s;

  &:after {
    background: $white;
    bottom: 0;
    content: ' ';
    display: block;
    height: 30px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .finderResultLinks {
    bottom: 10px;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    width: 100%;
    z-index: 2;

    a {
      border-left: solid 1px $col-orange;
      display: inline-block;
      line-height: .9;
      margin: 0 0 0 10px;
      padding: 0 0 0 10px;
      text-transform: uppercase;

      &:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }

      &.moreLink {
        position: relative;
        &:after {
          content: "\2303";
          display: inline-block;
          font-size: 12px;
          margin: 0;
          position: absolute;
          right: -12px;
          top: -2px;
          transform: rotate(180deg);
        }
      }

      &.lessLink {
        display: none;
        position: relative;
        &:after {
          content: "\2303";
          display: inline-block;
          font-size: 12px;
          margin: 0;
          position: absolute;
          right: -12px;
          top: 2px;
        }
      }
    }
  }

  &.open {
    height: auto;

    &:after {
      display: none;
    }

    .finderResultLinks {
      a {
        &.lessLink {
          display: inline-block;
        }
        &.moreLink {
          display: none;
        }
      }
    }
    .metaTags {
      bottom: -5px !important;
    }
  }

  .finderResultImagePreview {
    border: solid 1px $col-lightgray;
    height: 96px;
    margin: 0 10px 15px 0;
    overflow: hidden;
    position: relative;
    width: 170px;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .finderResultText {
    margin: 0 10px 10px 0;
    min-height: 80px;
    padding-bottom: 20px;
    position: relative;
    width: 390px;

    .finderResultTextName {
      font-size: 16px;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 3px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .finderResultTextDescription {
      font-size: 14px;
      line-height: 1.3;
      min-height: 80px;
    }
    .metaTags {
      bottom: 22px;
      position: absolute;
      width: 100%;

      .metaTag {
        background-color: $col-lightgray;
        color: $col-darkgray-75;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        margin-right: 5px;
        padding: 5px 5px 4px;

        &.timeRequired {

          &:before {
            content: '\f017';
            font-family: "Font Awesome 5 Free";
            font-size: 15px;
            margin-right: 3px;
            opacity: .7;
            vertical-align: middle;
          }
        }
      }
    }
  }
  .previewLink {
    width: 120px;

    .previewLinkButton {
      background: #fff;
      border: solid 2px $col-orange;
      color: $col-orange;
      display: block;
      font: 700 15px/1 museo-sans, Arial, Helvetica, sans-serif;
      line-height: .8;
      padding: 10px 25px;
      text-align: center;

      &:hover {
        background: $col-orange;
        color: $white;
      }
      &:active {
        background: $col-gold;
        border-color: $col-gold;
        color: $white;
      }
    }

    .projectLabel {
      font-size: 12px;
      font-weight: 500;
      height: 40px;
      line-height: 1.2;
      margin-top: 10px;
      text-align: center;

      &.highadventuresci {
        padding-left: 0;
      }
      &.itsi {
        background: url(http://test.local:9990/logos/itsi.png) no-repeat center top;
        background-size: 35px;
        padding: 37px 0 0;
      }
      &.ngssassessment {
        background: url(http://test.local:9990/logos/ngss.png) no-repeat center top;
        background-size: 35px;
        padding: 37px 0 0;
      }
    }
  }

  .collapsible {
    background: $col-lightgray;
    height: 34px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0;
    width: 100%;

    &:hover {
      background: $col-mediumgray;
    }

    .collapsibleHeading {
      color: $col-darkgray;
      cursor: pointer;
      font-family: $font-museo-sans;
      font-size: 14px;
      font-weight: 300;
      line-height: 1;
      margin-bottom: 0;
      padding: 10px 10px 10px 24px;
      position: relative;
      width: 100%;

      &:before {
        content: "\203A";
        display: inline-block;
        font-size: 22px;
        left: 10px;
        line-height: .45;
        margin: 0;
        position: absolute;
        top: 10px;
        transition: .1s;
      }
    }
    .collapsibleBody {
      font-size: 14px;
      padding: 0 10px 10px;
    }

    &.collapsibleOpen {
      height: auto;

      .collapsibleHeading {

        &:before {
          transform: rotate(90deg);
        }
      }
    }
  }

  .finderResultStandards {
    h3 {
      color: $col-darkgray;
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    h4 {
      color: $col-darkgray;
      font-size: 14px;
      font-weight: 700;
    }
    h5 {
      color: $col-darkgray;
      font-size: 12px;
      font-weight: 700;
    }
    ul {
      list-style: none;
      margin: 0 0 20px;

      li {
        margin: 0;
      }
      &.coreIdeas {
        li {
          margin: 0 0 10px;
        }
      }
    }
  }

  .finderResultFavorite {
    color: $col-lightgray;
    font-size: 20px;
    left: 157px;
    position: absolute;
    text-shadow: -1px 0 $col-darkgray-50, 0 1px $col-darkgray-50, 1px 0 $col-darkgray-50, 0 -1px $col-darkgray-50;
    top: 12px;

    &.finderResultFavoriteActive {
      color: $col-gold;
      text-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent;
    }
  }
}