<h1>Editing student_clazz</h1>

<% form_for(@portal_student_clazz) do |f| %>
  <% if @portal_student_clazz.errors.any? %>
    <div class="error-messages">
      <ul>
        <% @portal_student_clazz.errors.map(&:full_message).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @portal_student_clazz %> |
<%= link_to 'Back', portal_student_clazzes_path %>
