- if ENV['GOOGLE_ANALYTICS_MEASUREMENT_ID'].present?

  <!-- Google tag (gtag.js) -->
  %script{async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{ENV['GOOGLE_ANALYTICS_MEASUREMENT_ID']}"}

  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '#{ENV['GOOGLE_ANALYTICS_MEASUREMENT_ID']}');

- else
  -# no-op 'gtag', so javascript instrumented with 'gtag' events doesn't throw errors
  :javascript
    window.gtag = function(){}
