-# Expects locals: object
- if object && object.respond_to?('cohorts') && policy(object).edit_cohorts?
  - field_set_title = 'Cohorts' unless local_assigns[:field_set_title]
  = field_set_tag field_set_title do
    .aligned
      = hidden_field_tag :update_cohorts, "true"
      %ul.menu_h
        - Pundit.policy_scope(current_user, Admin::Cohort).each do |cohort|
          %li
            = cohort.fullname
            = check_box_tag "cohort_ids[]", cohort.id, object.cohorts.include?(cohort), :id => cohort.id
