<p>Welcome to the <%= APP_CONFIG[:site_name] %>, <%= @user.login %>!</p>

<p>Your account was imported. You need to set your password with the link below:</p>

<p><%= link_to 'Set my password', @url %></p>

<p>If you need help, <%= mail_to APP_CONFIG[:help_email], 'write to us' %>.</p>
