!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @biologica_chromosome_zoom.uuid}
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@biologica_chromosome_zoom.name))
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = h(Embeddable::Biologica::ChromosomeZoom.display_name + ': ' + @biologica_chromosome_zoom.name)
              %object{ :refid => ot_refid_for(@biologica_chromosome_zoom) }
      %library
        = content_for :layout