= render :partial => 'shared/collection_menu', :locals => { :collection => @raw_otmls, :collection_class => Embeddable::RawOtml }        
- @raw_otmls.each do |raw_otml|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => raw_otml}
