- content_for(:project_info) do
  %h3
    About the Innovative Technology in Science Inquiry Project
  %p
    = I18n.t('HomePage.Teacher.Intro')
  %p
    This material is based upon work supported by the National Science Foundation under Grants DRL-0624718, DRL-0929540, DRL-1433761, and DRL-1417722. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
  %p
    = link_to "Try out the activities to see for yourself.", '/itsi'
  %p
    %strong
      Why register?
    When you register as a teacher, you can assign activities to your students, follow their progress and get reports of their responses to questions embedded throughout the activities. (If students don’t register, you can still ask them to print out reports of their work from the final page of each activity.)
