<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>Resource Assigned</title>
</head>
<body style="background:#f1f1f1;margin:0;padding:0;">
<div style="margin:1%;text-align:center;width:98%;">
<table width="100%" style="background:#fff;margin:0;padding:20px;text-align:left;">
<tr><td align="left" valign="middle" style="padding:0;">
<%= render :partial => 'shared/email_banner' %>
</td></tr>
<tr><td align="left" style="padding:0;">
<p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size: 16px;margin-top:30px;margin-right:0;margin-bottom:22px;margin-left:0;">A new class assignment was added by a teacher in a cohort you manage.</p>
<p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size: 16px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;"><strong>Teacher:</strong> <%= @teacher_name %><br />
<strong>Class:</strong> <%= @clazz_name %><br />
<strong>Assignment:</strong> <%= @offering_name %></p>
<p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size: 12px;margin-top:0;margin-right:0;margin-bottom:22px;margin-left:0;">The Concord Consortium<br />
25 Love Lane<br />
Concord, MA 01742</p>
</td></tr>
</table>
</div>
</body>
</html>
