:markdown
  Geniverse is free, web-based software for high school biology that engages students in exploring heredity and genetics by breeding and studying virtual dragons. Interactive models, powered by real genes, enable students to do simulated experiments, generate realistic and meaningful genetic data and win star ratings for efficient experimentation.
  
  For an overview of the project, including the research behind Geniverse, please visit our [Project Page](http://geniverse.concord.org).
  
  
  This material is based upon work supported by the National Science Foundation under Grant No. DRL-0733264. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.