.item
  = edit_menu_for(portal_external_user_domain, f, { :omit_cancel => true })
  .content
    %p
      %ul.menu_v
        %li
          Name:

          =f.text_field :name 
    
        %li
          Description:

          =f.text_area :description 
    
        %li
          Server url:

          =f.text_field :server_url 
    
    
