- options = { :complete => mce_init_string, :omit_delete => true }
%div{ :id => dom_id_for(portal_external_user_domain), :class => "container_element" }
  = show_menu_for(portal_external_user_domain, options)

  %div{:id => dom_id_for(portal_external_user_domain, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_external_user_domain, :details), :class => 'content'}
      = wrap_edit_link_around_content(portal_external_user_domain, options={:complete => mce_init_string}) do
        %h4= h(portal_external_user_domain.name)
        %p
          %ul.menu_v
            %li
              Name:
              =h(portal_external_user_domain.name)
    
            %li
              Description:
              =h(portal_external_user_domain.description)
    
            %li
              Server url:
              =h(portal_external_user_domain.server_url)
    
    
