/ = render :partial => 'shared/collection_menu', :locals => { :collection => @portal_external_user_domains, :collection_class => ExternalUserDomain }
= render :partial => 'show', :collection => @portal_external_user_domains, :as => :portal_external_user_domain
