%OTQuestion{ :local_id => ot_local_id_for(image_question), :id => image_question.uuid, :name => image_question.name }
  %prompt
    %OTCompoundDoc
      %bodyText
        = image_question.prompt
  %input
    %OTLabbookEntryChooser{ :name => "labbook chooser", :allowMultipleSelections => "false", :stripEntryBeforeEmbedding => "true"}

