%OTQuestion{ :local_id => ot_local_id_for(image_question), :name => image_question.name }
  %prompt
    %OTCompoundDoc
      %bodyText
        = image_question.prompt
  %input
    %OTLabbookEntryChooser{ :name => "labbook chooser", :addMultiple => "false", :allowMultipleSelections => "false", :stripEntryBeforeEmbedding => "true", :alwaysEmbedStaticImage => "true"}

