= render :partial => 'shared/collection_menu', :locals => { :collection => @image_questions, :collection_class =>Embeddable::ImageQuestion}        
- @image_questions.each do |image_question|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => image_question}
