%div{:class => 'question_container'}
  %div{:id => dom_id_for(embeddable, :item), :class => 'item'}
    %div{ :id => dom_id_for(embeddable, :details), :class => 'content' }
      - saveable = saveable_for_learner(embeddable, learner)
      - css_style = saveable.answered? ? 'answered' : 'not_answered'
      .item{:style => 'display: block;'}
        %strong
          != embeddable.drawing_prompt
        %br
        %strong
          != embeddable.prompt
      .item{:class => css_style, :style => 'display: block;'}
        - if saveable.answered? && saveable.answer
          %img{:src => blob_url_for(saveable.answer)}
          .image_question_note= saveable.answer[:note]
          %a.blob_url{:href => blob_url_for(saveable.answer)}=blob_url_for(saveable.answer)
        - else
          = 'not answered'
