%div{:id => dom_id_for(open_response, :item), :class => 'item'}
  %div{ :id => dom_id_for(open_response, :details), :class => 'content' }
    - saveable = open_response_saveable_for_learner(open_response, learner)
    - css_style = (saveable && saveable.answered?) ? 'answered' : 'not_answered'
    %item{:class => css_style}
      = open_response.prompt
    %item{:class => css_style, :style => 'display: block;'}
      = saveable ? h(saveable.answer).gsub("\n", '<br/>') : 'not answered'