%div{:id => dom_id_for(open_response, :item), :class => 'item'}
  %div{ :id => dom_id_for(open_response, :details), :class => 'content' }
    - saveable = saveable_for_learner(open_response, learner)
    - css_style = saveable.answered? ? 'answered' : 'not_answered'
    %item{:style => 'display: block;'}
      = open_response.prompt
    %item{:class => css_style, :style => 'display: block;'}
      = h(saveable.answer).gsub("\n", '<br/>')