%div{:class => 'question_container'}
  %div{:id => dom_id_for(embeddable, :item), :class => 'item'}
    %div{ :id => dom_id_for(embeddable, :details), :class => 'content' }
      - saveable = saveable_for_learner(embeddable, learner)
      - css_style = saveable.answered? ? 'answered' : 'not_answered'
      .item{:style => 'display: block;'}
        %strong
          != embeddable.name
      .item{:class => css_style, :style => 'display: block;'}
        - if saveable.answered?
          = link_to 'View work', saveable.answer, :target => '_blank'
        - else
          No work saved.
