- options = { :omit_delete => true, :hide_componenent_name => true }
= accordion_for(portal_learner, menu_for_learner(portal_learner, options)) do
  %div{:id => dom_id_for(portal_learner, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_learner, :details), :class => 'content'}
