<h1>Editing learner</h1>

<% form_for(@learner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @learner %> |
<%= link_to 'Back', portal_learners_path %>