= render :partial => 'shared/collection_menu', :locals => { :collection => @portal_learners, :collection_class => Portal::Learner }
= render :partial => 'show', :collection => @portal_learners, :as => :portal_learner
