%div{:id => dom_id_for(@portal_learner, :item), :class => 'item'}
  %h3= "Open Response Report for: #{@portal_learner.name}"
  %div{:id => dom_id_for(@portal_learner, :details), :class => 'content'}
    = accordion_for(@portal_learner, report_details_for_learner(@portal_learner)) do  
      = render :partial => 'saveable/open_responses/show', :collection => @portal_learner.open_responses, :as => :open_response
    
