%div{:id => dom_id_for(@portal_learner, :item), :class => 'item'}
  %h3= "Report for: #{@portal_learner.name}"
  %div{:id => dom_id_for(@portal_learner, :details), :class => 'content'}
    
    = render :partial => 'saveable/open_responses/show', :collection => @portal_learner.open_responses, :as => :open_response
    
