var target_url = "<%= URLResolver.getUrl("import_model_library_interactives_path") %>"
var lightboxconfig={
        content:"<div style='padding:10px'>Loading...Please Wait.</div>",
        title:"Import Model Library",
        width:400,
        height:160
    },import_model_library_modal;

function ajax_success(data){
   import_model_library_modal.handle.setContent(data);
};

function import_model_library_popup(){
  var options = {
    url:target_url,
    method: 'get',
    success: function(transport) {
      var text = transport.html
      ajax_success(text);
    }
  };
  import_model_library_modal = new Lightbox(lightboxconfig);
  //new Ajax.Request(target_url, options);
  jQuery.ajax(options)
};

function import_model_library_post_json(){
  filedata = new FormData()
  filedata.append('import', jQuery('input[type=file]')[0].files[0])
  var options = {
    url:target_url,
    type: 'POST',
    data: filedata,
    cache: false,
    processData: false,
    contentType: false,
    success: function(transport) {
      var text = transport.html
      ajax_success(text);
    },
    error: function(transport) { 
        message = JSON.parse(transport.responseText);
        jQuery(".message").html(message.error);
        return;
    }
  }
  //import_model_library_modal = new Lightbox(lightboxconfig);
  //new Ajax.Request(target_url, options);
  jQuery.ajax(options)
};

function close_model_library_popup(){
  import_model_library_modal.handle.destroy();
  import_model_library_modal = null;
}

