%div{id: dom_id_for(license), class: 'container_element'}
  .action_menu
    .action_menu_header_left
      %h3= license.code
    .action_menu_header_right
      %ul.menu
        %li
          %a{href:admin_edit_commons_license_path(license)} edit
        %li
          %a{href:url_for(action: :destroy, code:license.code), data: {method: 'delete', confirm: "Delete this license?"} } delete
  %div{id: dom_id_for(license, :item), class: 'item'}
    %div{id: dom_id_for(license, :details), class: 'content'}
      %p
        %ul.menu_v
          %li
            Number:
            = license.number
          %li
            Name:
            = license.name
          %li
            Description:
            = license.description
          %li
            Deed:
            =link_to license.deed
          %li
            Legal:
            =link_to license.legal
          %li
            Image:
            =link_to license.image
            %br
            %img{src: license.image}
