<h1>New subject</h1>

<% form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <ul>
      <% @subject.errors.map(&:full_message).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', portal_subjects_path %>
