= render :partial => 'shared/collection_menu', :locals => { :collection => @dataservice_bundle_loggers, :collection_class => Dataservice::BundleLogger }
= render :partial => 'show', :collection => @dataservice_bundle_loggers, :as => :dataservice_bundle_logger
