- content_for(:otrunk_doc_id) do
  =@biologica_multiple_organism.uuid
- content_for(:biologica_multiple_organism_object_id) do
  =dom_id_for(@biologica_multiple_organism)
= render :partial => "show", :locals => { :biologica_multiple_organism => @biologica_multiple_organism }