.materials-bin {
  white-space: nowrap;
}

.mb-hidden {
  display: none;
}

.mb-selected {
  color: #166971 !important;
  background: #cfe3e3 !important;
}

.mb-column {
  display: inline-block;
  vertical-align: top;
}

.mb-cell {
  padding: 10px;
  margin: 1px;
  background: #f4f4f4;
}

.mb-category {
  font-size: 15px;
}

.mb-clickable:hover {
  cursor: pointer;
}

.mb-collection {
  white-space: normal;
  width: 450px;
  padding-bottom: 15px;

  &:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid #fff;
  }
}

.mb-toggle-symbol {
  font-family: monospace;
  opacity: 0.65;
}

.mb-collection-name {
  font-size: 15px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.mb-material {
  padding: 8px;

  .mb-material-links {
    margin-right: 10px;

    a {
      margin: 0 2px;
      vertical-align: middle;
    }
  }

  .mb-material-description {
    margin-top: 3px;
    padding: 5px;
    border: 1px solid #ccc;
  }

  .mb-toggle-info {
    background: image-url('components/materials_bin/itsi_info.png') no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
  }
  .mb-toggle-info-text {
    display: none;
  }

  .mb-run {
    background: image-url('components/materials_bin/itsi_run.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .mb-run-text {
    display: none;
  }

  .mb-edit {
    background: image-url('components/materials_bin/itsi_edit.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .mb-edit-text {
    display: none;
  }

  .mb-copy {
    background: image-url('components/materials_bin/itsi_copy.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .mb-copy-text {
    display: none;
  }

  .mb-assign-to-class {
    background: image-url('components/materials_bin/itsi_assign_to_class.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .mb-assign-to-class-text {
    display: none;
  }

  .mb-assign-to-collection {
    background: image-url('components/materials_bin/itsi_assign_to_collection.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
  }
  .mb-assign-to-collection-text {
    display: none;
  }
}
