.signup-form {
  font-family: museo-sans, verdana, helvetica, sans-serif;
  font-size: 13px;
  padding: 3px;

  a {
    cursor: pointer;
  }

  form {
    padding: 0;
    margin: 0;
  }

  .arrow {
    color: #f3951d;
    float: right;
    font-size: 2em;
    margin-top: -.35em;
  }

  .submit-btn {
    width: 100%;
    background: #eb8723;
    border: none;
    border-bottom: 3px solid #e16a3e;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: .6em;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .text-input {
    margin: 8px 0;
    width: 100%;
    input {
      box-sizing: border-box;
      width: 100%;
    }
    &.error, &.required {
      input {
        background: #FFF6F6;
      }
    }
    &.valid {
      input {
        background: #f6fff5;
      }
    }
    &.disabled {
      input {
        background: #f9f9f9;
        opacity: 0.7;
      }
    }
  }

  .select-input {
    margin: 8px 0;
    width: 100%;

    .Select-value {
      padding-left: 5px;
    }

    .Select-control {
      border: 1px solid #a1d2d1;
      border-radius: 0;
    }

    .Select.is-disabled > .Select-control {
      opacity: 0.7;
    }

    .Select-placeholder {
      color: #d0d0d0;
    }

    .Select-input > input {
      padding: 10px 0 12px !important;
    }

    &.valid {
      .Select-control {
        background: #f6fff5;
      }
    }

    &.no-arrow {
      .Select-arrow-zone {
        display: none;
      }
      .Select-clear {
        margin-right: 8px;
      }
    }
  }

  .new-school-link {
    color: #479492;
    cursor: pointer;
    &:hover {
      color: #da5936;
    }
  }

  .first_name, .last_name {
    width: 48%;
    display: inline-block;
  }

  .first_name {
    margin-right: 4%;
  }

  .zipcode {
    width: 90%;
    display: inline-block;
    margin-right: 10px;
  }

  .zipcode-help-icon {
    font-size: 1.5em;
    color: #888;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      color: #000;
    }
  }

  .help-text {
    font-size: 0.85em;
    margin-bottom: 10px;
  }

  .radio-input {
    margin: 8px 0;
    input {
      margin: 0 0.6em;
    }
  }

  .input-error {
    color: #9B1616;
    font-weight: bold;
  }

  .privacy-policy {
    font-size: 0.85em;
    margin: 5px 0;
  }

  .registration-complete {
    background: #bcead7;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    .reg-header, .login {
      font-weight: bold;
    }
    p {
      margin: 6px;
    }
  }
  .registration-complete.student {
    background: #fff;
    padding: 6px 0 0;
    margin: 0;
    p {
      margin: 0;
    }
    .login {
      display: block;
      font-size: 2.5em;
    }
  }
}

.signup-default-modal-content {
  overflow: hidden;
  padding-bottom: 1em;
  .signup-form {
    float: left;
    font-size: 1.1em;
    margin: .25em 0 0 .65em;
    width: 44.25%;

    .first_name, .last_name {
      width: 100%;
      display: block;
    }
    .last_name {
      margin-bottom: 1.5em;
    }
  }

  .side-info {
    background: #f9eec1;
    border-radius: 12px;
    float: right;
    font: 1.2em museo-sans;
    line-height: 1.3;
    margin: .9em .75em 0 0;
    padding: 3.5% 4% 4.5% !important;
    width: 41.5%;

    .side-info-header {
      color: #3f3f3f;
      font: 1.5em museo;
      margin-bottom: .25em;
    }
  }
}
