.signup-form {
  font-size: 13px;
  padding: 3px;
  
  a {
    cursor: pointer;
  }

  form {
    padding: 3px;
    margin: 0;
  }

  .title {
    color: #eb8723;
    font-size: 1.8em;
    display: inline-block;
  }

  .step {
    color: #95939C;
    font-size: 1em;
    display: inline-block;
    float: right;
    margin-top: 0.4em;
  }

  .submit-btn {
    width: 100%;
    background: #eb8723;
    border: none;
    border-bottom: 3px solid #e16a3e;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: .6em;
    padding: 10px 20px;
    border-radius: 4px;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .text-input {
    margin: 8px 0;
    width: 100%;
    input {
      width: 100%;
    }
    &.error, &.required {
      input {
        background: #FFF6F6;
      }
    }
    &.valid {
      input {
        background: #f6fff5;
      }
    }
    &.disabled {
      input {
        background: #f9f9f9;
        opacity: 0.7;
      }
    }
  }

  .select-input {
    margin: 8px 0;
    width: 100%;

    .Select-value {
      padding-left: 5px;
    }

    .Select-control {
      border: 1px solid #a1d2d1;
      border-radius: 0;
    }

    .Select.is-disabled > .Select-control {
      opacity: 0.7;
    }

    .Select-placeholder {
      color: #d0d0d0;
    }

    &.valid {
      .Select-control {
        background: #f6fff5;
      }
    }

    &.no-arrow {
      .Select-arrow-zone {
        display: none;
      }
      .Select-clear {
        margin-right: 8px;
      }
    }
  }

  .new-school-link {
    color: #479492;
    cursor: pointer;
    &:hover {
      color: #da5936;
    }
  }

  .first_name, .last_name {
    width: 48%;
    display: inline-block;
  }

  .first_name {
    margin-right: 4%;
  }

  .zipcode {
    width: 90%;
    display: inline-block;
    margin-right: 10px;
  }

  .zipcode-help-icon {
    font-size: 1.5em;
    color: #888;
    cursor: pointer;
    vertical-align: middle;
    &:hover {
      color: #000;
    }
  }

  .help-text {
    font-size: 0.85em;
    margin-bottom: 10px;
  }

  .radio-input {
    margin: 8px 0;
    input {
      margin: 0 0.6em;
    }
  }

  .input-error {
    color: #9B1616;
    font-weight: bold;
  }

  .privacy-policy {
    font-size: 0.85em;
    margin: 5px 0;
  }

  .registration-complete {
    background: #bcead7;
    padding: 5px;
    margin: 5px;
    font-size: 1.1em;
    .reg-header, .login {
      font-weight: bold;
    }
    p {
      margin: 6px;
    }
  }
}
