.item
  = edit_menu_for(portal_external_user, f, { :omit_cancel => true })
  .content
    %p
      %ul.menu_v
        %li
          External user domain:

          - if portal_external_user.external_user_domain && (portal_external_user.external_user_domain.respond_to? :name)
            =h(portal_external_user.external_user_domain.name)
    
        %li
          User:

          - if portal_external_user.user && (portal_external_user.user.respond_to? :name)
            =h(portal_external_user.user.name)
    
        %li
          External user key:

          =f.text_field :external_user_key 
    
    
