- options = { :complete => mce_init_string, :omit_delete => true }
%div{ :id => dom_id_for(portal_external_user), :class => "container_element" }
  = show_menu_for(portal_external_user, options)

  %div{:id => dom_id_for(portal_external_user, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_external_user, :details), :class => 'content'}
      = wrap_edit_link_around_content(portal_external_user, options={:complete => mce_init_string}) do
        %h4= h(portal_external_user.name)
        %p
          %ul.menu_v
            %li
              External user domain:
              - if portal_external_user.external_user_domain_id && (portal_external_user.external_user_domain_id.respond_to? :name)
                =h(portal_external_user.external_user_domain_id.name)
              - else
                'no related resource'
    
            %li
              User:
              - if portal_external_user.user_id && (portal_external_user.user_id.respond_to? :name)
                =h(portal_external_user.user_id.name)
              - else
                'no related resource'
    
            %li
              External user key:
              =h(portal_external_user.external_user_key)
    
    
