/ = render :partial => 'shared/collection_menu', :locals => { :collection => @portal_external_users, :collection_class => ExternalUser }
= render :partial => 'show', :collection => @portal_external_users, :as => :portal_external_user
