<h1>Editing nces06_school</h1>

<% form_for(@nces06_school) do |f| %>
  <% if @nces06_school.errors.any? %>
    <ul>
      <% @nces06_school.errors.map(&:full_message).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @nces06_school %> |
<%= link_to 'Back', portal_nces06_schools_path %>
