= remote_form_for(data_collector, :update => dom_id_for(data_collector, :item)) do |f|
  = render :partial => "embeddable/data_collectors/form", :locals => { :data_collector => data_collector, :scope => scope, :f => f  }
