
- field_set_tag 'Question prompt' do
  = f.text_area :prompt, :id => dom_id_for(open_response, :item, :prompt, :textarea), :class => 'tinymce_textarea'
- field_set_tag 'Default text in answer area' do
  = f.text_field :default_response, :size => 80, :id => dom_id_for(open_response, :item, :default_response_field)
