- remote_form_for(open_response, :update => dom_id_for(open_response, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(open_response, f)
  .content
    / - field_set_tag 'Name' do
    /   = f.text_field :name, :size => 40
    = render :partial => 'form', :locals => { :f => f, :open_response => open_response}
