%OTQuestion{:local_id => ot_local_id_for(open_response)}
  %prompt
    %OTCompoundDoc
      %bodyText= open_response.prompt.html_safe
  %input
    %OTCompoundDoc
      %bodyText
        %table{:width => '90%'}
          %tr
            %td{:width => '5%'}
            %td
              %object{:refid => ot_refid_for(open_response, :response)}

%OTText{ :local_id => ot_local_id_for(open_response, :response), :rows => open_response.rows, :columns => open_response.columns, :fontSize => open_response.font_size, :name => "#{open_response.name}_field"}
  %text= h(open_response.default_response.html_safe)
