- template_form(open_response) do |f|
  = f.submit("Save",  :class=> "template_save_button")
  = f.submit("Cancel",:class=> "template_cancel_button")
  = render :partial => 'embeddable/open_responses/template_form', :locals => { :open_response => open_response, :f => f}
