= render :partial => 'shared/collection_menu', :locals => { :collection => @open_responses, :collection_class => Embeddable::OpenResponse }        
- @open_responses.each do |open_response|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => open_response}