- content_for(:otrunk_doc_id) do
  =@open_response.uuid
- content_for(:open_response_object_id) do
  =dom_id_for(@open_response)
= render :partial => "show", :locals => { :open_response => @open_response }