%div{:id => dom_id_for(<%= singular_name %>, :details), :class => 'content'}
  = wrap_edit_link_around_content(<%= singular_name %>, options={:complete => mce_init_string}) do
    = <%= singular_name %>.description
