- options = { :complete => mce_init_string }
= show_menu_for(<%= singular_name %>, options)
= render :partial => "<%= plural_name %>/<%= singular_name %>", :locals => { :<%= singular_name %> => <%= singular_name %> }
