= render :partial => 'shared/collection_menu', :locals => { :collection => @<%= plural_name %>, :collection_class =><%= class_name %>}        
- @<%= plural_name %>.each do |<%= singular_name %>|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => <%= singular_name %>}
