= render :partial => 'shared/collection_menu', :locals => { :collection => @mw_modeler_pages, :collection_class => Embeddable::MwModelerPage }        
- @mw_modeler_pages.each do |mw_modeler_page|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => mw_modeler_page}
