= render :partial => 'shared/collection_menu', :locals => { :collection => @materials_collections, :collection_class => MaterialsCollection }
= render :partial => 'list_show', :collection => @materials_collections, :as => :materials_collection
