- remote_form_for(sound_grapher, :update => dom_id_for(sound_grapher, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "embeddable/sound_graphers/form", :locals => { :sound_grapher => sound_grapher, :f => f  }