.item
  = edit_menu_for(portal_school, f, { :omit_cancel => true })
  .content
    %p
      %ul.menu_v
        %li
          District:

          - if portal_school.district && (portal_school.district.respond_to? :name)
            =h(portal_school.district.name)
    
        %li
          Nces school:

          - if portal_school.nces_school && (portal_school.nces_school.respond_to? :name)
            =h(portal_school.nces_school.name)
    
        %li
          Name:

          =f.text_field :name 
    
        %li
          Description:

          =f.text_area :description 
    
    
