= remote_form_for(portal_school, :update => dom_id_for(portal_school)) do |f|
  - if local_assigns[:is_edit]
    = render :partial => "edit_form", :locals => { :portal_school => portal_school, :f => f  }
  - else
    = render :partial => "form", :locals => { :portal_school => portal_school, :f => f  }
