%h4= h(portal_school.name)
%p= h(portal_school.description)
- if local_assigns[:show_classes]
  = render :partial => 'shared/classes_for_school', :locals => { :portal_clazzes => portal_school.clazzes.active }
