- options = { :complete => mce_init_string, :omit_delete => true }
%div{ :id => dom_id_for(portal_school), :class => "container_element" }
  = show_menu_for(portal_school, options)

  %div{:id => dom_id_for(portal_school, :item), :class => 'item'}
    %div{:id => dom_id_for(portal_school, :details), :class => 'content'}
      = wrap_edit_link_around_content(portal_school, options={:complete => mce_init_string}) do
        %h4= h(portal_school.name)
        %p
          %ul.menu_v
            %li
              District:
              - if portal_school.district_id && (portal_school.district_id.respond_to? :name)
                =h(portal_school.district_id.name)
              - else
                'no related resource'
    
            %li
              Nces school:
              - if portal_school.nces_school_id && (portal_school.nces_school_id.respond_to? :name)
                =h(portal_school.nces_school_id.name)
              - else
                'no related resource'
    
            %li
              Name:
              =h(portal_school.name)
    
            %li
              Description:
              =h(portal_school.description)
    
    
