= render :partial => 'shared/collection_menu', :locals => { :collection => @portal_schools, :collection_class => Portal::School }
= render :partial => 'show', :collection => @portal_schools, :as => :portal_school
