
= form_for(@portal_school, :as => :portal_school, :url => { :action => "create" }) do |f|
  = render :partial => 'form', :locals => { :nces_districts => @nces_districts, :portal_school => @portal_school, :f => f }
  = submit_tag

