@import '../../../shared/styles/variables/_variables.scss';

.finderResultsFeatured {
  border-bottom: solid 5px rgba(51, 51, 51, .25);
  margin: 0 0 20px;
  padding: 0 0 20px;
  width: 100%;

  .finderResultsFeaturedHeader {
    overflow: hidden;

    a, a:visited {
      color: $col-darkgray;
      font-size: 16px !important;
    }
    h2 {
      color: $col-darkgray;
    }
    p {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
  .finderResultsFeaturedCards {
    display: flex;
    overflow: hidden;
  }
}

@media screen and (max-width: 950px) {
  .finderResultsFeatured {
    display: none;
  }
}