= render :partial => 'shared/collection_menu', :locals => { :collection => @dataservice_bundle_contents, :collection_class => Dataservice::BundleContent }
= render :partial => 'show', :collection => @dataservice_bundle_contents, :as => :dataservice_bundle_content
