.content
  - if diy_sensor.graph_type =~ /prediction/i
    %p A prediction graph will display here.
  - else
    - field_set_tag 'Sensor' do
      = f.collection_select(:prototype_id, Embeddable::DataCollector.prototypes.select{|p| p.graph_type == diy_sensor.graph_type}, :id, :name)
      = f.label :multiple_graphable_enabled
      = f.check_box :multiple_graphable_enabled
 