= edit_menu_for(sensor, f)
.content
  - field_set_tag 'name' do
    = f.text_field :name, :id => dom_id_for(sensor, :item, :name_field)
  - field_set_tag 'authored_data_url' do
    = f.text_field :authored_data_url, :id => dom_id_for(sensor, :item, :authored_data_url), :size => 80
