- remote_form_for(sensor, :update => dom_id_for(sensor, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "embeddable/sensors/form", :locals => { :sensor => sensor, :f => f  }
