%div{:id => dom_id_for(diy_sensor, :details), :class => 'content'}
  -#= wrap_edit_link_around_content(sensor, options={:complete => mce_init_string}) do
  = render :partial => "embeddable/data_collectors/show", :locals => {:data_collector => diy_sensor}
  %p= diy_sensor.name

