%div{:id => dom_id_for(diy_sensor, :details), :class => 'content'}
  - if diy_sensor.graph_type =~ /prediction/i
    %p Prediction graph

  - else
    %p= diy_sensor.data_collector.name
  = render :partial => "embeddable/data_collectors/show", :locals => {:data_collector => diy_sensor.data_collector}
