- template_form(sensor) do |f|
  = f.submit("Save", :class=> "template_save_button")
  = f.submit("Cancel", :class=> "template_cancel_button")
  = render :partial => "embeddable/diy/sensors/form", :locals => { :sensor => sensor, :f => f  }
