= render :partial => 'shared/collection_menu', :locals => { :collection => @sensors, :collection_class => Embeddable::NLogoModel }        
- @sensors.each do |sensor|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => sensor}
