
/*
* =require window/window
* =require window/rites
* =require window/lightbox
* =require web/app
* =require web/guest_home_page
* =require web/simple_lightbox
* =require web/collaboration_setup
* =require web/accordion
* =require web/live_validation
* =require web/action_menu_tab
* =require web/notes
* =require web/drop_down
* =require web/data_table
* =require web/site_notice
* =require web/classes_left_pane
* =require web/instructional_materials
* =require web/status_graph
* =require web/search_materials
* =require web/please_wait
* =require web/wait_message
* =require web/run_status
* =require web/create_status
* =require web/lightbox_report
* =require web/embeddables
* =require web/bookmarks
* =require web/admin
* =require web/report_learner
* =require web/bad_browser
* =require web/material_collections
* =require web/matedit
* =require modal
* =require react-select
* =require components/materials_bin
* =require components/signup
* =require chosen
* =require select2
* =require select2-custom
* =require select
* =require font-awesome
*/
