
/*
* =require window/window
* =require window/rites
* =require window/lightbox
* =require web/app
* =require web/accordion
* =require web/live_validation
* =require web/action_menu_tab
* =require web/notes
* =require web/drop_down
* =require web/data_table
* =require web/workgroup
* =require web/site_notice
* =require web/classes_left_pane
* =require web/instructional_materials
* =require web/status_graph
* =require web/search_materials
* =require web/please_wait
* =require web/lightbox_report
* =require web/embeddables
* =require chosen
* =require reports
*/
