#modal-overlay, .modal {
  display: none;
  position: absolute;
}

// visually behind the modal
#modal-overlay {
  background: #000;
  height: 100%;
  left: 0;
  opacity: .6;
  top: 0;
  width: 100%;
  z-index: 101;
}

.modal-fixed {
  position: fixed;
}

.modal {
  background: #fff;
  box-shadow: 0 5px 10px rgba(51, 51, 51, .5);
  left: 50%;
  height: auto;
  margin: -12.5em 0 0 -26.6675em;
  padding: 3.5em 0 0;
  top: 25em;
  width: 53.335em;
  z-index: 110;

  .close {
    background: #222;
    border: 2px solid #eee;
    border-radius: 50%;
    box-shadow: 0 1.25px 2.5px rgba(51, 51, 51, .5);
    color: #ddd;
    display: block;
    font: 14px verdana, helvetica, sans-serif;
    padding: 0 5px 2px;
    position: absolute;
    right: -15px;
    text-decoration: none !important;
    top: -15px;
    z-index: 25;
    cursor: pointer;
  }

  p.special-msg {
    color: #e16a3e;
    display: none;
    margin-bottom: 1em;
  }
  .title {
    background: #3b878c;
    color: #fff;
    font-size: 1.8em;
    padding: .25em .5em;
    position: absolute;
    top: 0;
    width: 28.63em;
  }
  .step {
    color: #fff;
    font-size: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
  }
}

#portal-confirm-wrapper {
  background: none;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 102;
  .cc-confirm {
    border-radius: 0.5em;
    font-size: 14pt;
    background-color: white;
    padding: 1em;
    min-width: 200px;
    max-width: 600px;
    .buttons {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-end;
      margin-top: 2rem;
    }

    button.submit-btn {
      padding: 1em;
      margin-left: 1em;
      font-size: 12px;
    }
  }
}
