body {
  background-color: rgb(255, 254, 255); }

DIV {
  &.body, &.body-no-border {
    background-color: rgb(250, 255, 255); }
  &.story {
    BORDER-color: rgb(255, 193, 37);
    background-color: rgb(255, 245, 223);
    color: rgb(0, 0, 0); }
  &.story-border {
    background-color: rgb(255, 193, 37); }
  &.activity-title, &.title, &.subtitle {
    color: rgb(0, 0, 0); }
  &.leftpanel {
    background-color: rgb(255, 193, 37); }
  &.buffer {
    background-color: rgb(255, 255, 255); }
  &.border {
    background-color: rgb(255, 193, 37); }
  &.definition-border {
    background-color: rgb(0, 0, 255); }
  &.question {
    background-color: rgb(230, 230, 250); }
  &.hint {
    color: rgb(0, 160, 0); } }

container.leftpanel, leftmenu {
  color: rgb(255, 193, 37); }
