$answered_color: white;
$not_answered_color: #cccccc;
$correct_color: #ddffdd;
$incorrect_color: #ffdddd;

.answered {
  background-color: $answered_color; }

.not_answered {
  background-color: $not_answered_color; }

.table {
  width: 100%;
  display: table;
  border-collapse: collapse; }

.row {
  display: table-row;
  width: 100%; }

.cell {
  display: table-cell; }

.cellheader {
  font-weight: bold; }

.optioncheckmark {
  width: 10px;
  padding-left: 10px; }

.optionlabel {
  padding-left: 5px;
  width: 310px; }

.optionbar {
  width: 290px;
  padding-right: 10px;
  padding-bottom: 2px;
  vertical-align: middle;
  border-left: 1px solid black; }

.optionbarbar {
  display: block;
  height: 100%;
  border: 1px solid black;
  margin-left: 1px; }

.optionbarbar.correct {
  background-color: $correct_color; }

.optionbarbar.incorrect {
  background-color: $incorrect_color; }

.optionpercent {
  border-left: 2px solid black;
  padding-right: 2px;
  padding-left: 2px;
  text-align: right; }

.optioncount {
  border-left: 1px solid black;
  padding-left: 2px;
  text-align: right; }

.report_embeddable {
  .accordion_container {
    overflow: visible;
    .accordion_name {
      display: inline-block;
      display: -moz-inline-block;
      width: 100%;
      float: none; }
    .accordion_content {
      clear: both;
      overflow: visible; }
    .empty_break {
      clear: both; } }
  img {
    max-width: 680px; }
  .learner_response {
    margin-top: 2px;
    padding: 2px;
    border: 1px solid black;
    width: 680px; }
  .learner_response.correct {
    background-color: $correct_color; }
  .learner_response.incorrect {
    background-color: $incorrect_color; }
  .learner_response_name {
    font-weight: bold;
    width: 200px;
    vertical-align: top; }
  .learner_response_checkmark {
    font-weight: bold;
    width: 10px;
    vertical-align: top; }
  .learner_response_content {
    width: 460px;
    vertical-align: top;
    img {
      max-width: 460px; } } }

.inline_block {
  display: -moz-inline-block;
  display: inline-block; }

.offering_print_all {
  float: right;
  font-size: 1.5em;
  margin-top: 5px; }

.item {
  .chosen_answer {
    font-weight: bold; }
  .chosen_answer.correct {
    background-color: $correct_color; }
  .chosen_answer.incorrect {
    background-color: $incorrect_color; } }

.question_container {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #89b4b7;
  margin: 10px 2px;
  padding: 2px; }

.report_embeddable .accordion_container {
  margin: 10px 2px; }

.report_question_prompt {
  width: 565px;
  display: -moz-inline-block;
  display: inline-block; }

.report_question_summary_title {
  width: 90px;
  display: -moz-inline-block;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-weight: bold; }

.report_question_summary_info {
  width: 15px;
  display: -moz-inline-block;
  display: inline-block;
  text-align: right;
  vertical-align: top; }
