@import "compass";
$answered_color: white;
$not_answered_color: #cccccc;
$correct_color: #ddffdd;
$incorrect_color: #ffdddd;

.answered {
  background-color: $answered_color; }

.not_answered {
  background-color: $not_answered_color; }

.table {
  width: 100%;
  display: table;
  border-collapse: collapse; }

.row {
  display: table-row;
  width: 100%; }

.cell {
  display: table-cell; }

.cellheader {
  font-weight: bold; }

.optioncheckmark {
  width: 10px;
  padding-left: 10px; }

.optionlabel {
  padding-left: 5px;
  width: 310px; }

.optionbar {
  width: 290px;
  padding-right: 10px;
  padding-bottom: 2px;
  vertical-align: middle;
  border-left: 1px solid black; }

.optionbarbar {
  display: block;
  height: 100%;
  border: 1px solid black;
  margin-left: 1px; }

.optionbarbar.correct {
  background-color: $correct_color; }

.optionbarbar.incorrect {
  background-color: $incorrect_color; }

.optionpercent {
  border-left: 2px solid black;
  padding-right: 2px;
  padding-left: 2px;
  text-align: right; }

.optioncount {
  border-left: 1px solid black;
  padding-left: 2px;
  text-align: right; }

.report_embeddable {
  .accordion_container {
    overflow: visible;
    .accordion_name {
      display: inline-block;
      display: -moz-inline-block;
      width: 100%;
      float: none; }
    .accordion_content {
      clear: both;
      overflow: visible; }
    .empty_break {
      clear: both; } }
  img {
    max-width: 680px; }
  .learner_response {
    margin-top: 2px;
    padding: 2px;
    border: 1px solid black;
    width: 680px; }
  .learner_response.correct {
    background-color: $correct_color; }
  .learner_response.incorrect {
    background-color: $incorrect_color; }
  .learner_response_name {
    font-weight: bold;
    width: 200px;
    vertical-align: top; }
  .learner_response_checkmark {
    font-weight: bold;
    width: 10px;
    vertical-align: top; }
  .learner_response_content {
    width: 475px;
    vertical-align: top;
    img {
      max-width: 460px; } }
  .learner_response_content_part {
    border-bottom: 1px solid lightgray;
    &:last-of-type {
      border-bottom: none; } }
  .learner_response_answer {
    width: 200px;
    vertical-align: top; }
  .learner_response_rationale {
    width: 255px;
    vertical-align: top; }

  .external-link-iframe {
    display: block;
    max-width: 470px;
    max-height: 350px;
    margin-bottom: 5px;
  }
}

.tag {
  background: #CEB3DA;
  border: 0 solid #CEB3DA;
  color: white;
  font: 12px / 1 Arial, Helvetica, sans-serif;
  padding: 1px 2px !important;
  /* CSS 3 */
  @include background-image(linear-gradient(#CEB3DA, #8A7E91));
  border-radius: 4px;
  /* Opera 10.5, IE 9 */
  -moz-border-radius: 4px;
  /* FF1+ */
  -webkit-border-radius: 4px;
  /* Saf3+, Chrome */ }

.inline_block {
  display: -moz-inline-block;
  display: inline-block; }

.offering_print_all {
  float: right;
  font-size: 1.5em;
  margin-top: 5px; }

.item.choice {
  display: block;
  &.chosen_answer {
    font-weight: bold;
    &.correct {
      background-color: $correct_color; }
    &.incorrect {
    background-color: $incorrect_color; } }
  .option {
    vertical-align: top;
    width: 200px; }
  .rationale {
    vertical-align: top;
    width: 255px; } }

.question_container {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #89b4b7;
  margin: 10px 2px;
  padding: 2px; }

.report_embeddable .accordion_container {
  margin: 10px 2px; }

.report_question_prompt {
  width: 650px;
  display: -moz-inline-block;
  display: inline-block;
  .image-question-drawing-prompt {
    max-width: 395px;
    float: left;
  }
  .image-question-text-prompt {
    margin-left: 400px;
  }
}

.report_question_summary_title {
  width: 90px;
  display: -moz-inline-block;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  font-weight: bold; }

.report_question_summary_info {
  width: 15px;
  display: -moz-inline-block;
  display: inline-block;
  text-align: right;
  vertical-align: top; }
.blob_url {
  display: inline;
  font-family: monospace;
  font-size: 9px;
}

/* !important is used to reset ContentFlow * changes */
.feedback_button {
  margin: 5px 0 !important;

  button {
    padding: 4px 14px !important;
  }
}

#feedback_popup {
  .feedback_content {

    .feedback_header {
      .feedback_enable_score {
        position: absolute;
        top: 0;
        right: 10px;
        input[type=checkbox] {
          margin-right: 5px;
        }
        input[type=text] {
          width: 50px;
        }
      }
      .feedback_prompt {
        color: #0093b0;
        font-size: 28px;
        margin-bottom: .25em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 650px;
      }
    }

    .feedback-student-list {
      margin: 5px 0;

      .feedback-student-list-view-answer {
        font-weight: bold;
        margin-right: 5px;
      }
      select {
        display: inline;
        max-width: 200px;
      }

      .feedback-student-list-show {
        font-weight: bold;
        margin: 0 5px 0 30px;
      }
      input[type=radio] {
        margin-right: 5px;
      }
      input[type=radio]:not(:first-child) {
        margin-left: 10px;
      }
    }

    .feedback-student-answers {
      border: solid 1px #ddd;
      height: 420px;
      overflow: auto;
      margin-top: 10px;

      .feedback-student-answer {
        overflow: hidden;
        padding: 10px;
        margin: 0;
        min-height: 400px;

        .feedback-student-name {
          font-weight: bold;
        }

        .feedback_answer {
          float: left;
          width: 300px;

          img {
            max-height: 300px;
          }
          div {
            margin: 5px 0;
          }
          iframe {
            width: 290px;
            height: 242px;
          }
          .feedback_drawing_note {
            font-weight: normal;
            margin-top: 10px;
          }
        }

        .feedback_container {
          float: right;
          width: 390px;
          margin-top: 5px;

          div {
            font-weight: bold;
            margin-bottom: 5px;
          }
          ol {
            font-weight: normal;
          }

          .feedback_label {
            clear: both;
          }
          .feedback-all-feedback {
            clear: both;
            margin-top: 20px;
            td.feedback-bullet {
              vertical-align: top;
              padding-right: 5px;
            }
            .feedback_answer {
              float: none;
            }
            .feedback-text {
              font-style: italic;
              font-weight: normal;
            }
            .inline-feedback-text {
              font-style: italic;
              font-weight: normal;
              margin-left: 10px;
            }
          }
          .feedback-score-percentage {
            font-weight: normal !important;
            text-align: right;
            margin-top: 5px;
          }
        }
      }
      .feedback_not_answered {
        margin: 10px 0;
        font-weight: bold;
        background-color: #777;
        padding: 10px;
        color: #fff;
      }
    }
    .feedback-student-answers::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    .feedback-student-answers::-webkit-scrollbar:vertical {
      width: 7px;
    }
    .feedback-student-answers::-webkit-scrollbar:horizontal {
      height: 7px;
    }
    .feedback-student-answers::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .5);
      border-radius: 10px;
    }
    .feedback-student-answers::-webkit-scrollbar-track {
      border-radius: 10px;
    }
    .feedback-student-answers > div:nth-child(odd) {
      background: #fef7e0;
    }
    .feedback-student-answers > div:nth-child(even) {
      background: #f9eec1;
    }
    .feedback-student-no-answers {
      div {
        padding: 10px;
      }
    }

    .feedback_score_value {
      float: right;
      margin-top: 10px;
      input[type=checkbox] {
        margin-right: 5px;
      }
      input[type=text] {
        width: 50px;
      }
    }

    textarea {
      height: 60px;
      width: 385px;
    }
    .feedback-no-written-feedback-checkbox {
      margin: 0 3px 0 10px;
      vertical-align: middle;
    }
  }

  .feedback_buttons {
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin-top: 20px;
    text-align: right;

    .feedback_button_group {
      margin: 0 5px;
      display: inline;
    }

    button {
      display: inline;
      margin: 0 5px;
    }
    button[disabled=disabled], button:disabled {
      background: #aaa;
    }
  }

  .feedback_error_message {
    color: #f00;
  }
}
