- content_for(:otrunk_doc_id) do
  =@range_question.uuid
- content_for(:range_question_object_id) do
  =dom_id_for(@range_question)
= render :partial => "show", :locals => { :range_question => @range_question }