.item
  = edit_menu_for(materials_collection, f, { :omit_cancel => true })
  - if materials_collection.errors.any?
    = materials_collection.errors.map(&:full_message).join(', ')
  .content
    %p
      %ul.menu_v
        %li
          Name:
          =f.text_field :name
        %li
          Project:
          =f.collection_select :project_id, @projects, :id, :name, :prompt => "Select project..."
        %li
          Description:
          =f.text_area :description
