%div{id: dom_id_for(materials_collection), class: 'container_element'}
  .action_menu
    .action_menu_header_left
      %h3
        %a{href:materials_collection_path(materials_collection)}=materials_collection.fullname

    .action_menu_header_right
      %ul.menu
        %li
          %a{href:edit_materials_collection_path(materials_collection)} edit
        %li
          %a{href:url_for(action: :destroy, id:materials_collection.id), data: {method: 'delete', confirm: "Delete this collection?"} } delete
  %div{class: 'item'}
    %div{class: 'content'}
      %p.materials_collection= raw(materials_collection.description)
