.dialog {
  z-index: 4;
  background-color: #fff;
  border: solid 2px;

  .dialogTitleBar {
    padding: 20px;
    font-size: 1.2em;
    font-weight: bold;
  }

  label {
    font-weight: bold;
    margin-right: 1em;
  }

  .buttons {
    text-align: right;

    button, input {
      display: inline;
      margin: 20px 0 0 10px;
    }
  }

  &.orange {
    border-color: #ea6d2f;
  }

  &.teal {
    border-color: #0592af;
  }
}

