/*
* =require application
*/
body {
  background-image: image-url("/assets/styles/bg-body-yellow.png");
}
body.main-nav-hidden {
  background-image: image-url("/assets/styles/bg-body-no-nav-yellow.png");
}
.project-header h1 {
  background: transparent image-url("/assets/banners/codap.png") 0 0 no-repeat;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) { 
      background: transparent image-url("/assets/banners/codap@2x.png") 0 0 no-repeat;
      background-size: 960px 100px;
  }
}
