.rites .nw {
	background:transparent url(/assets/stylesheets/window/rites/top_unactive.gif) no-repeat scroll 0px 0px;
	height:22px;
	padding-left:10px;
}      
.rites_focused .nw {
	background:transparent url(/assets/stylesheets/window/rites/top.gif) no-repeat scroll 0px 0px !important;
}       

.rites .ne {
	background:transparent url(/assets/stylesheets/window/rites/top_unactive.gif) no-repeat scroll right -44px;
	height:22px;
	padding-right:10px;
}

.rites_focused .ne {
	background:transparent url(/assets/stylesheets/window/rites/top.gif) no-repeat scroll right -44px !important;
}

.rites .n {
	background:transparent url(/assets/stylesheets/window/rites/top_unactive.gif) repeat-x scroll right -22px;
	color:#17385B;
	font:normal 14px/26px Arial, sans-serif;
	height:22px;
	margin:0;
	padding:0;
	text-align:center;
	overflow: hidden;
	padding-left:60px;
	line-height: 20px; 
	color: #000;
}

.rites_focused .n {
	background:transparent url(/assets/stylesheets/window/rites/top.gif) repeat-x scroll right -22px !important;
}

.rites .content {
	background-color:#bcd6ea;
	color:#00233a;
	overflow:auto;
}

.rites .w {
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
}

.rites .e {
	border-left:1px solid #EEE;
	border-right:1px solid #EEE;
}


.rites .sw {
	background:transparent url(/assets/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll 0 0px;
	font-size:2px;
	height:15px;
	padding-left:12px;
}

.rites_focused .sw {
	background:transparent url(/assets/stylesheets/window/rites/bottom.gif) no-repeat scroll 0 0px !important;
}

.rites .se {
	background:transparent url(/assets/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll right -30px;
	font-size:2px;
	height:15px;
	padding-right:12px;
}

.rites_focused .se {
	background:transparent url(/assets/stylesheets/window/rites/bottom.gif) no-repeat scroll right -30px !important;
}

.rites_focused .se_sizer { 
  width:12px;
  height:12px;
}          
 
.rites .se_resize_handle {
	background:transparent url(/assets/stylesheets/window/rites/bottom_unactive.gif) no-repeat scroll right -45px;
	font-size:2px;
	height:15px;
	padding-right:12px;
}                                                                          

.rites_focused .se_resize_handle {
	background:transparent url(/assets/stylesheets/window/rites/bottom.gif) no-repeat scroll right -45px !important;
}

.rites .s {
	background:transparent url(/assets/stylesheets/window/rites/bottom_unactive.gif) repeat-x scroll 0 -15px;
	font-size:12px;
	line-height:15px;
	height:15px;
	overflow:hidden;
} 

.rites_focused .s {
	background:transparent url(/assets/stylesheets/window/rites/bottom.gif) repeat-x scroll 0 -15px !important;
}

.rites .buttons {
  position: absolute;
  top:1px;
  left:7px;
  height: 20px;   
}

.rites .buttons a.close {
  float:left;
	background:transparent url(/assets/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0; 
	background-repeat: no-repeat;
	height:15px;
	width:14px;
	margin: 3px 7px 0 0px;        
	padding-top:0px; /* padding-top = buttons order, it will be reset to 0, do not use padding, use margin*/       
	overflow:hidden;
}
  
.rites_focused .buttons a.close {
	background:transparent url(/assets/stylesheets/window/rites/buttons.gif) no-repeat 0 0 !important;    
	background-repeat: no-repeat;
}

.rites .buttons.over a.close {
	background:transparent url(/assets/stylesheets/window/rites/buttons_over.gif) no-repeat 0 0px !important; 
}

.rites .buttons a.maximize {
  float:left;
	background:transparent url(/assets/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0;
	height:15px;
	width:14px;
	margin: 3px 7px 0 0;
	padding-top:2px; /* padding-top = buttons order, it will be reset to 0, do not use padding, use margin*/ 
	overflow:hidden;
}
  
.rites_focused .buttons a.maximize {
	background:transparent url(/assets/stylesheets/window/rites/buttons.gif) no-repeat 0 -30px !important;
}

.rites .buttons.over a.maximize {
	background:transparent url(/assets/stylesheets/window/rites/buttons_over.gif) no-repeat 0 -30px !important;  
}

.rites .buttons a.minimize {
  float:left;
	background:transparent url(/assets/stylesheets/window/rites/button_unactive.gif) no-repeat 0 0;
	height:15px;
	width:14px;
	margin: 3px 7px 0 0;
	padding-top:1px; /* padding-top = buttons order, it will be reset to 0, do not use padding, use margin*/ 
	overflow:hidden;
}  

.rites_focused .buttons a.minimize {
	background:transparent url(/assets/stylesheets/window/rites/buttons.gif) no-repeat 0 -15px !important;
}

.rites .buttons.over a.minimize {
	background:transparent url(/assets/stylesheets/window/rites/buttons_over.gif) no-repeat 0 -15px !important;
}         

.rites .buttons a.minimize.disabled, .rites .buttons.over a.minimize.disabled  {
	background:transparent url(leopard/button_unactive.gif) no-repeat 0 0  !important; 
}

.rites_overlay {
	position:absolute;
	top:0;            
	left:0;
	width:100%;
	background-color:#00233a;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity: 0.8;
}


