.landing-container

:javascript
  if (!Portal.currentUser.isAnonymous) {
    PortalPages.renderSignupModal(
        {
            omniauth: true,
            omniauth_origin: "#{session[:omniauth_origin]}"
        }
    );
  } else {
    window.location.href = "/";
  }

