.landing-container

:javascript
  //
  // Would be nice to redirect to:
  // #{session[:omniauth_origin]}
  // but this is cleared out after logout.
  //
  if (!Portal.currentUser.isAnonymous) {
    PortalPages.renderSignupModal({omniauth: true});
  } else {
    window.location.href = "/";
  }

