%div{:id => dom_id_for(diy_model, :details), :class => 'content'}
  = wrap_edit_link_around_content(diy_model, options={:complete => mce_init_string}) do
    %ul

      %li
        Authored Data URL: 
        %a{:href => diy_model.url}
          = diy_model.url
