.lightbox .nw {
    height:32px;
    padding-left:10px;
    background-color:White;
    border-left:2px solid #444;
    border-top:2px solid #444;
    border-right:2px solid #444;
}      
.lightbox_focused .nw {
}       

.lightbox .ne {
    height:32px;
    padding-right:10px;
}

.lightbox_focused .ne {
}

.lightbox .n {
    color:#17385B;
    font:normal 14px/26px Arial, sans-serif;
    height:32px;
    margin:0;
    padding:0;
    text-align:center;
    overflow: hidden;
    padding-left:60px;
    line-height: 20px; 
    color: #000;
}

.lightbox_focused .n {
}

.lightbox .content {
    background-color:#fff;
    color:#00233a;
    overflow:auto;
}

.lightbox .w {
    border-left:1px solid #444;
    border-right:1px solid #444;
    border-bottom:1px solid #444;
}

.lightbox .e {
    border-left:1px solid #444;
    border-right:1px solid #444;
    border-bottom:1px solid #444;
}


.lightbox .sw {
}

.lightbox_focused .sw {
}

.lightbox .se {
}

.lightbox_focused .se {
}

.lightbox_focused .se_sizer { 
  width:12px;
  height:12px;
}
 
.lightbox .se_resize_handle {
}

.lightbox_focused .se_resize_handle {
}

.lightbox .s {
} 

.lightbox_focused .s {
}

.lightbox .buttons {
    position: absolute;
    top:1px;
    /*left:7px;*/
    height: 30px;  
    float:right;
    margin-right:-10px;
    cursor:move;
}

div.buttons{
    width:100%;
    float:right;
}

.lightbox .buttons a.close {
    float:right;
    background:transparent url(/stylesheets/window/lightbox/buttons.png) no-repeat 0 0; 
    background-repeat: no-repeat;
    height:42px;
    width:42px;
    margin: -23px -23px 0 0px;        
    padding-top:0px; /* padding-top = buttons order, it will be reset to 0, do not use padding, use margin*/       
    overflow:hidden;
}
  
.lightbox_focused .buttons a.close {
    background:transparent url(/stylesheets/window/lightbox/buttons.png) no-repeat 0 0; 
    background-repeat: no-repeat;
    float:right;
}

.lightbox .buttons.over a.close {
    background:transparent url(/stylesheets/window/lightbox/buttons.png) no-repeat 0 0; 
    float:right;
}

.lightbox .buttons a.maximize {
}
  
.lightbox_focused .buttons a.maximize {
}

.lightbox .buttons.over a.maximize {
}

.lightbox .buttons a.minimize {
}  

.lightbox_focused .buttons a.minimize {
}

.lightbox .buttons.over a.minimize {
}

.lightbox .buttons a.minimize.disabled, .lightbox .buttons.over a.minimize.disabled  {
}

.lightbox_overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:Black;
    filter:alpha(opacity=30);
    opacity: 0.3;
    -moz-opacity: 0.3;
}

.lightbox .nw .move_handle,
.lightbox_focused .nw .move_handle,
.lightbox .ne .move_handle,
.lightbox_focused .ne .move_handle,
.lightbox .move_handle,
.lightbox_focused .move_handle{
    position:absolute;
    left:-45px;
    z-index:14;
    font-weight:bold;
    color:#DF720F;
    font-size:18px;
    padding-top:5px;
    cursor:move;
}