= remote_form_for(activity, :update => dom_id_for(activity, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => 'activities/form', :locals => {:activity=>activity,:f => f}

