= render :partial => 'shared/form_save_warning', :locals => { :skip_warning_popup => true }
= render :partial=> 'activities/show', :locals=>{:activity => @activity }
%input{:type => 'submit', :name => 'Submit', :value => 'Submit', :class => 'disabled'}
