- if (@teacher_mode)
  = render :partial => "shared/jnlp", :locals => { :teacher_mode => @teacher_mode, :runnable_object => @activity, :escaped_otml_url => URI.escape(activity_url(@activity, :format => :otml, :teacher_mode => @teacher_mode), /[#{URI::REGEXP::PATTERN::RESERVED}\s]/) }
- else
  = render :partial => "shared/jnlp", :locals => {:runnable_object => @activity, :escaped_otml_url => URI.escape(activity_url(@activity, :format => :otml), /[#{URI::REGEXP::PATTERN::RESERVED}\s]/) }