-content_for :teacher_note do
  = @teacher_note
-content_for :author_note do
  = @author_note
  
= render  :partial => 'shared/activity_header', :locals => { :activity => @activity }

.item_collection

  %ul#activity_sections_list.menu
    - @activity.sections.each do |section|
      =render :partial => 'section_list_item', :locals => {:section => section}
      -if (@activity.changeable?(current_visitor))
        =sortable_element :activity_sections_list, :handle=> 'sort-handle', :dropOnEmpty => true, :url=> {:action => 'sort_sections', :params => {:activity_id => @activity.id }}
