@import "../../../shared/styles/variables/variables";

.permissionForms {
  margin-bottom: 200px; // for dropdown menu

  .tabArea {
    .tabs {
      display:flex;
      justify-content: left;
      margin-bottom: 20px;

      button {
        margin-right: 20px;
      }
    }
  }

  // Common styles for both tabs:
  h2, h3 {
    color: $col-link;
    font-family: museo-sans, verdana, helvetica, arial, sans-serif;
  }

  h3 {
    padding-top:20px;
    margin-bottom: 20px;
    border-top: 1px solid #aaa;
  }

  input[type="text"] {
    height: 40px;
    font-family: $font-museo-sans !important;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 300;
  }

  select {
    width: 300px;
    font-weight: 300;
    font-family: $font-museo-sans !important;
  }

  table {
    margin-top: 20px;
    width: 100%;
    table-layout: fixed;

    th {
      text-align: left;
      font-weight: 500;
      white-space: nowrap;
    }
    td, th {
      height: 44px;
      padding: 0 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
