@import "../../../shared/styles/variables/colors";
@import "../../../shared/styles/variables/variables";


.permissionForms {
  h2, h3 {
    color: $col-link;
    font-family: museo-sans, verdana, helvetica, arial, sans-serif;
  }

  h3 {
    padding-top:20px;
    margin-bottom: 20px;
    border-top: 1px solid #aaa;
  }

  .tabArea {
    .tabs {
      display:flex;
      justify-content: left;
      margin-bottom: 20px;
      button {
        background-color:white;
        padding: 10px;
        color: $col-link;
        margin-right:20px;
        border:0px;
        font-weight: 200;
      }
      .activeTab {
        color:#0592af;
      }
    }
  }
  .projectPermissionsTabContent {
    .controlsArea {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      div {
        display: flex;
      }

      .leftSide {
        width: 50%;
        justify-content: flex-start;
        > div {
          align-items: center;
          margin-right:15px;
        }
        select {
          width: 400px;
        }
      }

      .rightSide {
        justify-content: flex-end;
      }
    }
    .permissionFormsTable {
      margin-top:20px;
      width: 100%;

      tr {
        // every other row is background #f9f9f9
        &:nth-child(odd) {
          background-color: #f9f9f9;
        }
      }
      th {
        text-align: left;
        background-color: white;
      }

      .nameColumn {
        max-width: 400px;
        min-width: 150px;
        padding-left:15px;
      }

      .buttonsColumn {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
      }

      .urlColumn {
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #555;
        a {
          color: $col-link;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }

      .basicButton {
        display: inline-block;
        color: $col-link;
        background-color: transparent;
        border: transparent;
        text-transform: uppercase;
        font-weight: 300;
      }
    }
  }

  .newPermissionForm {
    .formTop {
      display: flex;
      align-content: center;
      background-color: $col-link;
      color: white;
      font-weight: bold;
      padding: 10px;
      margin-bottom:10px;
    }

    .formRow {
      display: flex;
      align-items: center;
      padding: 10px 20px;

      label {
        width: 80px;
        text-align: left;
        text-transform: capitalize;
        font-weight: 300;
      }

      input {
        height: 40px;
        width: 258px;
        font-family: museo-sans, verdana, helvetica, arial, sans-serif !important;
        padding-left: 12px;
        font-weight: 300;
      }

      select {
        width: 271px;
        font-weight: 300;
        font-family: museo-sans, verdana, helvetica, arial, sans-serif !important;
      }
    }

    .formButtonArea {
      display: flex;
      justify-content: flex-end;
      margin-top: 0px;
      padding: 10px 20px;
      margin-bottom:10px;

      button:first-child {
        margin-right: 8px;
      }

      .cancelButton {
        background-color: #ccc;
        border-color: #ccc;
        color:#333;
      }
    }
  }
}
