= render :partial => 'shared/collection_menu', :locals => { :collection => @xhtmls, :collection_class => Embeddable::Xhtml }        
- @xhtmls.each do |xhtml|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => xhtml}