%div{:id => dom_id_for(smartgraph_range_question, :details), :class => 'content'}
  = wrap_edit_link_around_content(smartgraph_range_question, options={:complete => mce_init_string}) do
    = smartgraph_range_question.prompt.html_safe
