= render :partial => 'shared/collection_menu', :locals => { :collection => @range_questions, :collection_class =>Smartgraph::RangeQuestion}        
- @range_questions.each do |range_question|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => range_question}
