- form_for(@smartgraph_range_question, :before => "tinyMCE.triggerSave(true,true)") do |f|
  .item
    = render :partial => 'form', :locals => { :smartgraph_range_question => @smartgraph_range_question, :f => f }
