%OTDrawingTool2{:local_id => ot_local_id_for(drawing_tool)}
  %stamps
  - if drawing_tool.background_image_url
    %backgroundSrc
      %OTBlob{ :src => drawing_tool.background_image_url, :name => h(drawing_tool.background_image_url) }
