- remote_form_for(drawing_tool, :update => dom_id_for(drawing_tool, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = edit_menu_for(drawing_tool, f)
  .content
    / - field_set_tag 'name' do
    /   = f.text_field :name, :id => dom_id_for(drawing_tool, :item, :name_field)
    - field_set_tag 'background image' do
      = f.text_field :background_image_url   
