= render :partial => 'shared/collection_menu', :locals => { :collection => @drawing_tools, :collection_class => Embeddable::DrawingTool }        
- @drawing_tools.each do |drawing_tool|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => drawing_tool}