%div{ :id => dom_id_for(@drawing_tool, :item), :class => 'item' }
  = render :partial => "show", :locals => { :drawing_tool => @drawing_tool }
-#= render :partial => 'shared/embeddable_container', :locals=> {:component => @drawing_tool}
