- content_for(:otrunk_doc_id) do
  =@drawing_tool.uuid
- content_for(:drawing_tool_object_id) do
  =dom_id_for(@drawing_tool)
= render :partial => "show", :locals => { :drawing_tool => @drawing_tool }