- remote_form_for(biologica_multiple_organism, :update => dom_id_for(biologica_multiple_organism, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_multiple_organism => biologica_multiple_organism, :f => f  }