- remote_form_for(multiple_organism, :update => dom_id_for(multiple_organism, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :multiple_organism => multiple_organism, :f => f  }