%div{:id => dom_id_for(multiple_organism, :details), :class => 'content'}
  = wrap_edit_link_around_content(multiple_organism, options={:complete => mce_init_string}) do
    = multiple_organism.description
