%OTMultipleOrganism{ :local_id => ot_local_id_for(biologica_multiple_organism), :width => biologica_multiple_organism.width, :height => biologica_multiple_organism.height }
  %organisms
    - biologica_multiple_organism.organisms.each do |org|
      = render_scoped_reference(org)
