= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_multiple_organisms, :collection_class =>BiologicaMultipleOrganism}        
- @biologica_multiple_organisms.each do |biologica_multiple_organism|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_multiple_organism}
