= render :partial => 'shared/collection_menu', :locals => { :collection => @lab_book_snapshots, :collection_class =>LabBookSnapshot}        
- @lab_book_snapshots.each do |lab_book_snapshot|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => lab_book_snapshot}
