<h1>New expectation_stem</h1>

<% form_for(@expectation_stem) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ri_gse_expectation_stems_path %>
