- content_for(:project_info) do
  %h1
    About the NGSS Assessment Portal
  %p
    The Next Generation Science Assessment project is a collaboration between the University of Illinois at Chicago, Michigan State University, SRI International, and the Concord Consortium, with funding from the National Science Foundation and the Moore Foundation. We are currently developing technology-enhanced assessments for classroom formative use that address middle school physical and life science NGSS Performance Expectations. The Concord Consortium’s online delivery platform allows us to take advantage of web-based tools and simulations that benefit students and teachers, as well as researchers on our team working to validate and improve the assessment tasks.
  %p
    = link_to "Try out the activities to see for yourself.", search_url
  %p{style: "margin-bottom:200px;"}
    %strong
      Why register?
    When you register as a teacher, you can assign activities to your students, follow their progress and get reports of their responses to questions embedded throughout the activities. (If students don’t register, you can still ask them to print out reports of their work from the final page of each activity.)
