- content_for(:project_info) do
  %p
    NGSS Assessment
  %p
    = link_to "Try out the activities to see for yourself.", search_url
  %p
    %strong
      Why register? 
    When you register as a teacher, you can assign activities to your students, follow their progress and get reports of their responses to questions embedded throughout the activities. (If students don’t register, you can still ask them to print out reports of their work from the final page of each activity.) 
