.git*
db/*.sqlite3
db/*.sqlite3-journal
log/*
tmp/*
config/app_environment_variables.rb
config/aws_s3.yml
config/installer.yml
config/padlet.yml
config/settings.yml
config/initializers/site_keys.yml
docker-compose.yml
Dockerfile
Dockerfile-dev
README.md
solr/data
solr/pids
solr/production
solr/development
solr/test
solr/default
