= remote_form_for(dataservice_bundle_content, :update => dom_id_for(dataservice_bundle_content)) do |f|
  = render :partial => "form", :locals => { :dataservice_bundle_content => dataservice_bundle_content, :f => f  }
