- activityJSON = @external_activity.to_json
- @wide_content_layout = true

#Activity_edit_container
  .top-menu
    .left
      #navigation
    .right{:style=> 'padding: 0;'}
      %div{:style=> 'position: static;'}
        %h2
          Editing
        %h3= @external_activity.name 
      = link_to "Settings", '#', :class => 'button',
            :onclick=> 'load_the_editor()',
            :style=> 'margin-right: 3em; float: right;'
  %div
    #react_container_activity
    %div{:style=> 'margin: 4em; padding: 4em; border: 2px solid green;'}
      Place holder for the Lara based activity/sequence editor.

:javascript
  function load_the_editor() {
    PortalPages.renderActivitySettingsEditor(#{raw activityJSON},
      "react_container_activity");
  }

