- remote_form_for(biologica_static_organism, :update => dom_id_for(biologica_static_organism, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_static_organism => biologica_static_organism, :f => f  }