- remote_form_for(static_organism, :update => dom_id_for(static_organism, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :static_organism => static_organism, :f => f  }