%div{:id => dom_id_for(static_organism, :details), :class => 'content'}
  = wrap_edit_link_around_content(static_organism, options={:complete => mce_init_string}) do
    = static_organism.description
