%div{:id => dom_id_for(biologica_static_organism, :details), :class => 'content'}
  = wrap_edit_link_around_content(biologica_static_organism, options={:complete => mce_init_string}) do
    = biologica_static_organism.description.html_safe
