- form_for(@biologica_static_organism, :before => "tinyMCE.triggerSave(true,true)") do |f|
  .item
    = render :partial => 'form', :locals => { :biologica_static_organism => @biologica_static_organism, :f => f }
