!green = #A3BDA2
!middleschool = !green
!salmon = #C6958B
!highschool = !salmon
!mint_green = #D4EBD2
!math = !mint_green
!orange_brown = #BA9C61
!probe = !orange_brown
!yellow = #D6C754
!my = !yellow

#itsi_su_bin
  h1,h2,h3,h4
    :margin-top 1.5em
  :vertical-align top
  :color black
  a
    :text-decoration none
  a:hover
    :background-color =!green
    :font-weight bold
    :color white
  table
    :width 100%
    :margin 0px
    tr 
      :margin 0px
      td
        :margin 0px
        :padding 0px
        ul
          :list-style-type none
          :margin 0px
          li.bin_name
            :margin 0px
            :padding .7em
            :border 1px solid
            :border-left none
            :border-bottom none
            :background-color = !green
          li.bin_name.selection
            :font-weight bold
            :border-right none
      td.bin_content
        :padding 1em
        :vertical-align top
        :display block
        :float left
        :width 90%
        :background-color = !green
        :border-top 1px solid
        :border-right none