%OTChromosome{ :local_id => ot_local_id_for( biologica_chromosome ), :height => biologica_chromosome.height, :width => biologica_chromosome.width }
  %organism
    - if in_render_scope?(biologica_chromosome.biologica_organism)
      %object{ :refid => ot_refid_for(biologica_chromosome.biologica_organism) }
    - else
      = render_show_partial_for(biologica_chromosome.biologica_organism)
