%OTChromosome{ :local_id => ot_local_id_for( biologica_chromosome ), :height => biologica_chromosome.height, :width => biologica_chromosome.width }
  %organism
    %object{ :refid => ot_refid_for(biologica_chromosome.biologica_organism) }
