= render :partial => 'shared/collection_menu', :locals => { :collection => @biologica_chromosomes, :collection_class =>BiologicaChromosome}        
- @biologica_chromosomes.each do |biologica_chromosome|
  = render :partial => 'shared/embeddable_container', :locals=> {:component => biologica_chromosome}
