/ = render :partial => 'shared/collection_menu', :locals => { :collection => @portal_grades, :collection_class => Portal::Grade }
= render :partial => 'show', :collection => @portal_grades, :as => :portal_grade
