- remote_form_for(biologica_meiosis_view, :update => dom_id_for(biologica_meiosis_view, :item), :before =>  "tinyMCE.triggerSave(true,true)") do |f|
  = render :partial => "form", :locals => { :biologica_meiosis_view => biologica_meiosis_view, :f => f  }