%div{:id => dom_id_for(biologica_meiosis_view, :details), :class => 'content'}
  = wrap_edit_link_around_content(biologica_meiosis_view, options={:complete => mce_init_string}) do
    = biologica_meiosis_view.description.html_safe
