- form_for(@biologica_meiosis_view, :before => "tinyMCE.triggerSave(true,true)") do |f|
  .item
    = render :partial => 'form', :locals => { :biologica_meiosis_view => @biologica_meiosis_view, :f => f }
