!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @video_player.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @video_player.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = Embeddable::VideoPlayer.display_name + ': ' + @video_player.name
              %object{ :refid => ot_refid_for(@video_player) }
      %library
        = content_for :layout