- unless flash[:notice].blank?
  #flash
    .padded_contents
      %div{:class=>"flash flash_notice"}= flash[:notice]
- [:error, :important,:alert].each do |key|
  - unless flash[key].blank?
    - encoded_msg = URI::encode("#{flash[key]}")
    :javascript
      document.whenReady( function() {
        Lightbox.flash(decodeURIComponent("#{key}"), decodeURIComponent("#{encoded_msg}"));
      });
