/ add the portal pages javascript and css if defined
- if ENV['PORTAL_PAGES_LIBRARY_URL']
  %link{ :href => "https://portal-pages.concord.org/version/v1.4.2/library/portal-pages.css", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "https://portal-pages.concord.org/version/v1.4.2/library/portal-pages.js", :crossorigin => 'anonymous', :type => "text/javascript" }
