/ add the portal pages javascript and css if defined
- if ENV['PORTAL_PAGES_LIBRARY_URL']
  %link{ :href => "#{ENV['PORTAL_PAGES_LIBRARY_URL']}/portal-pages.css", :rel => "stylesheet", :type => "text/css" }
  %script{ :src => "#{ENV['PORTAL_PAGES_LIBRARY_URL']}/portal-pages.js", :crossorigin => 'anonymous', :type => "text/javascript" }
