!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @activity.uuid }
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles({:left_nav_panel_width => @activity.left_nav_panel_width, :title => @activity.name})
      %root
        =yield :activity
      %library
        =yield :library
