!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @activity.uuid }
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles({:left_nav_panel_width => @activity.left_nav_panel_width, :title => h(@activity.name)})
      %root
        = content_for dom_id_for(@activity, :activity)
      %library
        %OTLabbook{:local_id =>'labbook'}/
        = content_for :library
