!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/xhtml; charset=utf-8", "http-equiv" => "content-type" }
    %title= @page_title || APP_CONFIG[:site_name]
    %link{ :href => path_to_image('favicon.ico'), :rel => "shortcut icon"}/

    = csrf_meta_tag
  %body
    = yield
