!!! XML
%otrunk{:id => @content_for_otrunk_doc_id}
  =otml_imports
  %objects
    %OTSystem
      =otml_bundles
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h1 
                Basic Data Collector
              %p
                This is a rendering of a data collector graph
              %object{ :refid => @content_for_data_collector_object_id }/
      %library
        =yield :layout