!!! XML
%otrunk{:id => @data_collector.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @data_collector.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h1 
                Basic Data Collector
              %p
                This is a rendering of a data collector graph
              %object{ :refid => ot_refid_for(@data_collector) }/
      %library
        =yield :layout