!!! XML
%otrunk{ :id => @investigation.uuid }
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles({:left_nav_panel => true, :title => @investigation.name})
      %root
        =yield :investigation
      %library
        =yield :library
