!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @investigation.uuid }
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles({:left_nav_panel_width => @investigation.left_nav_panel_width, :title => h(@investigation.name)})
      %root
        = content_for :investigation
      %library
        %OTLabbook{:local_id =>'labbook'}/
        = content_for :library
