!!!
%head
  %meta{:charset => "utf-8"}/
  %title
    Undergoing Maintenance
  :css
    /**/
      body{
        background:#fee9aa;
        color:#3a878b;
        font:100% 'lucida grande', 'trebuchet ms', arial, sans-serif;
        line-height:150%;
      }
      #container{
        background:url(maintenance/bubble.png) no-repeat;
        height:395px;
        left:50%;
        margin:-187px 0 0 -300px;
        position:absolute;
        top:50%;
        width:600px;
      }
      #container p{
        margin:100px 70px 0 100px;
      }
      #cc-link {
        display:block;
        margin:55px 80px 0 0;
        text-align:right;
      }
      #cc-link img {border:none;height:38px;width:125px;}
    /**/
    %body
  #container
    %p
      As of #{Time.now.strftime("%b %d,  %I:%M%p (%Z)")}
      This site undergoing maintenance. Sorry for the inconvenience.
      We'll be back  #{back_up ? "by #{back_up}" : "shortly"}
      %br/
      Please
      %a{:href => "mailto:rites-help@concord.org"}
        email us
      if you need to get in touch.

    %a#cc-link{:href => "http://concord.org/", :title => "The Concord Consortium"}
      %img{:alt => "The Concord Consortium", :src => "maintenance/cc-logo.png", :title => "The Concord Consortium"}/
