!!! XML
%otrunk{:id => @multiple_choice.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @multiple_choice.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h3
                = MultipleChoice.display_name + ': ' + @multiple_choice.name
              %object{ :refid => ot_refid_for(@multiple_choice) }/
      %library
        =yield :layout