!!! XML
%otrunk{:id => @open_response.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @open_response.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h1 
                Basic Question
              %p
                This is a rendering of a basic open response question
              %object{ :refid => ot_refid_for(@open_response) }/
      %library
        =yield :layout