-<html>
-  <head>
-    <title>Title</title>
-  </head>
-  <body>
-    <div style="font-size: 1.5em;">Portal</div>
-    <div>
-      <%= javascript_include_tag :defaults %>
-      <%= active_scaffold_includes %>
-      <%= yield %>
-    </div>
-  </body>
-</html>
-    