!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @raw_otml.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @raw_otml.name, :authoring => true)
      %root
        = @raw_otml.content
      %library
        =yield :layout