!!! XML
%otrunk{ :id => @section.uuid }
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles
      %root
        =yield "section_#{dom_id_for(@section)}".to_sym
      %library
        =yield :library
