!!! XML
= render :partial => "otml/character_entities"
%otrunk{ :id => @section.uuid }
  =ot_imports
  %objects
    %OTSystem{:local_id => 'system'}
      =ot_bundles(:title => h(@section.name))
      %root
        = content_for dom_id_for(@section, :section)
      %library
        %OTLabbook{:local_id =>'labbook'}/
        = content_for :library
        
