!!! XML
%otrunk{:id => @content_for_otrunk_doc_id}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @xhtml.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h1 
                Basic Xhtml Content
              %p
                This is a rendering of an xhtml text content object
              %object{ :refid => @content_for_xhtml_object_id }/
      %library
        =yield :layout