!!! XML
%otrunk{:id => @xhtml.uuid}
  =ot_imports
  %objects
    %OTSystem
      =ot_bundles(:title => @xhtml.name)
      %root
        %OTCompoundDoc
          %bodyText
            #content
              %h1 
                Basic Xhtml Content
              %p
                This is a rendering of an xhtml text content object
              %object{ :refid => ot_refid_for(@xhtml) }/
      %library
        =yield :layout