%OTStaticOrganism{ :local_id => ot_local_id_for(biologica_static_organism)}
  %organism
    - if in_render_scope?(biologica_static_organism.biologica_organism)
      %object{ :refid => ot_refid_for(biologica_static_organism.biologica_organism) }
    - else
      = render_show_partial_for(biologica_static_organism.biologica_organism)
