@import '../../../shared/styles/mixins/_mixins.scss';
@import '../../../shared/styles/variables/_colors.scss';
@import '../../../shared/styles/variables/_variables.scss';

.classAssignments {

  header {
    display: flex;
    flex-flow: row wrap;

    h1 {
      flex: 3;
    }

    .assignMaterials {
      font-size: 1.2em;
      position: relative;
      text-align: right;
      text-transform: uppercase;
      white-space: nowrap;

      button {
        background: $col-blue;
        border-color: $col-blue;
        display: inline;
        min-width: 150px;

        &:hover {
          background: $col-darkblue;
          border-color: $col-darkblue;
          color: $white;
        }
        &:active {
          background: $col-lightblue;
          border-color: $col-lightblue;
          color: $white;
        }
      }
      ul {
        font-size: 15px;
        font-weight: 300;
        list-style: none;
        margin: 0;
        min-width: 230px;
        padding: 0;
        position: absolute;
        right: 0;
        text-align: left;
        z-index: 5;

        li button {
          font-weight: 300;
          text-align: left;
          text-transform: none;
          width: 100%;
        }
      }
    }
  }
  .reports {
    text-align: right;
  }

  .classInfo {
    font-size: 1.1em;
    margin-bottom: 0;

    td:nth-child(1) {
      padding-right: 10px;
      font-weight: 700;
    }
  }
}

.noMaterials {
  margin-top: 20px;
  font-size: 1.2em;
}

.offeringsTable {
  width: 100%;
  margin-top: 40px;

  .headers {
    display: flex;
    flex-flow: row no-wrap;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

    span {
      padding: 0 0 0 15px;
    }
  }
}

.sortableItem {
  &:nth-child(even) {
    background-color: #f1f1f1;
  }
}

.activityNameCell {
  flex: 5;
}

.offering {
  border-bottom: solid 1px #ccc;
  padding: 15px;

  div:first-child {
    display: flex;
    flex-flow: row nowrap;
  }
  .loading {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
  }
}

.iconCell {
  width: 25px;
  display: inline-block;
  padding-top: 3px;
  padding-right: 5px;
  font-size: 0.95em;
  vertical-align: middle;
}

.sortIcon {
  cursor: move;
}

.activityNameCell {
  cursor: move;
  display: inline-block;
  vertical-align: middle;
}

.readOnly .activityNameCell {
  cursor: default;
}

.checkboxCell {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}

.detailsCell {
  width: 130px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offeringDetails {
  cursor: default;
  padding: 0 10px;
}

@media screen and (max-width: 500px) {
  .classAssignments {
    header {
      display: block;

      h1 {
        width: 100%;
      }

      .assignMaterials {
        display: block;
        margin: 40px 0;
        text-align: left;
        text-transform: uppercase;
        width: 100%;
      }
    }
  }
}
